/*-----------------------------------------
Background Colours 
------------------------------------------*/
.moneyloop-bg-grey {
    background: #f6f7ef;
}
.moneyloop-bg-orange {
    background: rgb(245,140,67);
    & h1, h2, h3 {
        color: #f6f7ef;
    }
}
.moneyloop-bg-blue {
    background: rgb(23,145,127);
    & h1, h2, h3 {
        color: #f6f7ef;
    }
}
.moneyloop-bg-orange-faded {
    background: rgba(245,140,67, 0.5);
    & h1, h2, h3 {
        color: #f6f7ef;
    }
}
.moneyloop-bg-blue-faded {
    background: rgba(51, 118, 142, 0.5);
    & h1, h2, h3 {
        color: #f6f7ef;
    }
}
.moneyloop-bg-gradient {
    background: rgb(245,140,67);
    background: -webkit-linear-gradient(65deg, rgba(245,140,67,0.8449754901960784) 40%, rgba(23,145,127,1) 60%);

    & h1, h2, h3, .title {
        color: #f6f7ef;
    }
}
.moneyloop-bg-gradient1 {
    background: rgb(23,145,127);
    background: -webkit-linear-gradient(65deg, rgba(23,145,127,1) 40%, rgba(245,140,67,0.8449754901960784) 60%);

    & h1, h2, h3, .title {
        color: #f6f7ef;
    }
}

/*-----------------------------------------
Border Colours 
------------------------------------------*/
.moneyloop-border-blue {
    border-color: #33768e;
    border-style: solid;
    border-radius: 5px;
}
.moneyloop-border-green {
  border-color: rgb(23,145,127);
  border-style: solid;
  border-radius: 5px;
}
.moneyloop-border-orange {
    border-color: rgb(245,140,67);
    border-style: solid;
    border-radius: 5px;
}

/*-----------------------------------------
Text Colours 
------------------------------------------*/
.moneyloop-green {
    color: #17917f;
}
.moneyloop-blue {
  color: #33768e;
}
.moneyloop-orange {
    color: rgb(245,140,67);
}
.black {
    color: #323232 !important;
}

.grey {
    color: #66707f !important;
}

.white {
    color: #f6f7ef !important;
}