/*---------------------------------------
  General Styles
-----------------------------------------*/
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  margin: 0px 0px 10px 0px;
  color: #323232;
  font-weight: 500;
} 
h1 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1px;
} 
h2 {
  font-size: 24px;
  line-height: 32px;
} 
h3 {
  font-size: 20px;
} 
h4 {
  font-size: 16px;
  line-height: 1.6;
} 
p { 
  font-family: 'Roboto', sans-serif;
  margin: 0 0 26px;
  line-height: 1.6;
  font-weight: 400;
  &:last-child {
    margin-bottom: 0px;
  }
} 
ul li, ol li {
  line-height: 1.8
}
a {
  font-family: 'Nunito', sans-serif;
  color: #323232;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  &:focus, :hover{
      text-decoration: none;
      color: #323232;
  }
} 
::selection {
  background: #ffecb3;
  color: #333;
}
*, *::before, *::after {
  transition: all .3s ease-in-out;
}
section {
  margin: 20px 0px;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}