.testimonial-block {
    position: relative;
    outline: solid;
}
.testimonial-text {
    font-family: 'Nutino', sans-serif;
    font-style: italic; 
    line-height: 32px;
    min-height: 160px;
}
.testimonial-customer{
    padding-top: 15px;
    padding-bottom: 12px;
    color: #17917f;
}
.testimonial-insurer{
    padding-top: 15px;
    padding-bottom: 12px;
    color: #f6893d;
}

.testimonial-name { 
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
}
.testimonial-img {
    float: left;
    padding-right: 29px;
}
.testimonial-meta {
    font-size: 12px;
}
