<%= content_for :html_title, @category.name %>

<section class="container">
  <div class="row">
    <%# Category name %>
    <div class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h1><%= @category.name %></h1>
    </div>

    <%# Recent posts %>
    <div class="padding2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <h2>Recent posts</h2>
      <div class="row">
        <% @category.recent_posts.each do |post| %>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <%= render :partial => 'blog/posts/post', :locals => {:post => post, with_summary: false} %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</section>
