<div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="wrapper-content bg-white pinside40">
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="post-holder">
                                            <div class="post-block mb40">
                                                <div class="post-img mb30"><img src="images/blog-post-1.jpg" alt="Borrow - Loan Company Website Template" class="img-responsive"></div>
                                                <div class="bg-white">
                                                    <h1>Bigger home still the goal</h1>
                                                    <p class="meta"><span class="meta-date">Jan 25, 2017</span><span class="meta-author">By<a href="#" class="meta-link"> Admin</a></span><span class="meta-comments">05<a href="#" class=" meta-link"> Comments</a> </span></p>
                                                    <p>Morbi accumsan, lectus eu maximus placerat, lacus justo gravida dolor, vel vehicula dui magna sed leo. Sed porttitor ante lacus, quis tincidunt felis pretium sit amet lorem Pellentesque libero nulla, consectetur et lectus at commodo cursus urna. </p>
                                                    <p>Sed semper dolor et vehicula pulvinar quis finibus nuncecenas ac mattis velitras convallis tristique enim et dignissim aecenas eu mollis leoed convallis sapivita is one elacinia lectus egestatiam purus feugiat sit amet lacinia lectus egestatiam loerm is accumsan metus at viverra sempered faucibus ssim pretium. </p>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elitras molestie nunceu urna mattis vitae scelerisque nunceu urna mattis vitaefelis viverra ullam eulorem its bibendum nislvel malesuadat amet consectetur molestie nunceu. </p>
                                                    <p>Consectetur adipiscing elitras molestie nunceu urna mattis vitae scelerisque nunceu urna mattis vitaefelis viverra ullam eulorem its bibendum nislvel malesuadat amet conrra ullam eulorem its bibenmolesnceu. </p>
                                                    <blockquote>
                                                        <p>The blockquote element is used to indicate the sector quotation of a large section of text from lorem another source.</p>
                                                    </blockquote>
                                                    <p class="name">- Massi Doe</p>
                                                    <p>Consectetur adipiscing elitras molestie nunceu urna mattis vitae scelerisque nunceu urna mattis vitaefelis viverra ullam eulorem its bibendum nislvel malesuadat amet conrra ullam eulorem its bibenmolesnceu. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="post-related mb40">
                                            <!-- post related -->
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <h2 class="post-related-title mb20">Related post</h2>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 mb30">
                                                    <div class="related-img mb20">
                                                        <a href="#"><img src="images/related-img-1.jpg" class="img-responsive" alt="Borrow - Loan Company Website Template"></a>
                                                    </div>
                                                    <div class="post-related-content">
                                                        <h4 class="related-title mb10"><a href="#" class="title">Consider Consolidation Loan</a></h4>
                                                        <span> in <a href="#" class="title"> “Home Loan” </a> </span> </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                    <div class="related-img mb20">
                                                        <a href="#"><img src="images/related-img-2.jpg" class="img-responsive" alt="Borrow - Loan Company Website Template"></a>
                                                    </div>
                                                    <div class="post-related-content">
                                                        <h4 class="related-title mb10"><a href="#" class="title">5 Essential financial Habits</a></h4>
                                                        <span>in<a href="#" class="title"> “Debt Consolidation” </a> </span> </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="post-navigation mb40">
                                            <!-- post navigation -->
                                            <div class="row">
                                            
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <div class="nav-previous"> <a href="#" class="prev-link">previous post</a>
                                                            <h4><a href="#" class="title">Bigger home still the goal</a></h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                                        <div class="nav-next text-right"> <a href="#" class="next-link">next post</a>
                                                            <h4><a href="#" class="title">5 Essential financial habits</a></h4>
                                                        </div>
                                                    </div>
                                               
                                            </div>
                                        </div>
                                        <div class="post-author mb40">
                                            <!-- post author -->
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                                                    <div class="author-img">
                                                        <a href="#"><img src="images/author.jpg" class="img-responsive" alt="Borrow - Loan Company Website Template"></a>
                                                    </div>
                                                </div>
                                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                                                    <div class="author-bio   ">
                                                        <div class="author-header">
                                                            <h3><a href="#" class="title">Harry Murray</a></h3>
                                                        </div>
                                                        <div class="author-content">
                                                            <p>Nam lorem purus sodales et laoreet lestie at felis urabitur magna sem ultricen mollis invul tateolutpat risus lorem one aecenas enim lectus molestie sitamet lorem.</p>
                                                            <a href="#" class="btn-link">View All Post</a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="comments-area mb40">
                                            <h2 class="comments-title">4 Comments</h2>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body mb30">
                                                        <div class="">
                                                            <div class="comment-author"><img src="images/user-pic-1.jpg" alt="Borrow - Loan Company Website Template" class="img-responsive"> </div>
                                                            <div class="comment-info">
                                                                <div class="comment-header">
                                                                    <h4 class="user-title">Jose Arbogast</h4>
                                                                    <div class="comment-meta"><span class="comment-meta-date">Jan 25, 2017</span></div>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Magna sem ultrices non mollis invul tateolutpat risus lorem aecenas enim lectus molestie sitamet lorem.</p>
                                                                    <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body mb30">
                                                        <div class="">
                                                            <div class="comment-author"><img src="images/user-pic-2.jpg" alt="Borrow - Loan Company Website Template" class="img-responsive"> </div>
                                                            <div class="comment-info">
                                                                <div class="comment-header">
                                                                    <h4 class="user-title">Angela Lawton</h4>
                                                                    <div class="comment-meta"><span class="comment-meta-date">Jan 25, 2017</span></div>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Duis imperdiet mauris sitamet lectus aliquetnec convallis risus lorem friestibulum tempor sedmi sed ullamcorper. </p>
                                                                    <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <ul class="childern listnone">
                                                        <li class="comment">
                                                            <div class="comment-body mb30">
                                                                <div class="">
                                                                    <div class="comment-author"><img src="images/user-pic-3.jpg" alt="Borrow - Loan Company Website Template" class="img-responsive"> </div>
                                                                    <div class="comment-info">
                                                                        <div class="comment-header">
                                                                            <h4 class="user-title">Dorothy Lilly</h4>
                                                                            <div class="comment-meta">Jan 25, 2017</div>
                                                                        </div>
                                                                        <div class="comment-content">
                                                                            <p>Magna sem ultrices non mollis invul one lorem netlorem tenimolestie sitamet lorem.</p>
                                                                            <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <ul class="comment-list listnone">
                                                <li class="comment">
                                                    <div class="comment-body mb30">
                                                        <div class="">
                                                            <div class="comment-author"><img src="images/user-pic-4.jpg" alt="Borrow - Loan Company Website Template" class="img-responsive"> </div>
                                                            <div class="comment-info">
                                                                <div class="comment-header">
                                                                    <h4 class="user-title">Evan Parra</h4>
                                                                    <div class="comment-meta"><span class="comment-meta-date">Jan 25, 2017</span></div>
                                                                </div>
                                                                <div class="comment-content">
                                                                    <p>Magna sem ultrices non mollis invul tateolutpat risus lorem aecenlectus molestie sitamet lorem.</p>
                                                                    <div class="reply"><a href="#" class="btn-link">Reply</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="leave-comments pinside30 bg-primary mb30">
                                            <h2 class="reply-title">Leave A Comment</h2>
                                            <form class="reply-form">
                                                <div class="row">
                                                    <!-- Textarea -->
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                    <div class="form-group">
                                                        
                                                            <label class="sr-only control-label" for="textarea"></label>
                                                            <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder="Comments"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="sr-only control-label" for="name"></label>
                                                            <input id="name" name="name" type="text" class="form-control" placeholder="Name" required>
                                                        </div>
                                                    </div>
                                                    <!-- Text input-->
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                                                        <div class="form-group">
                                                            <label class="sr-only control-label" for="email"></label>
                                                            <input id="email" name="email" type="text" class="form-control" placeholder="E-mail" required>
                                                        </div>
                                                    </div>
                                                    <!-- Text input-->
                                                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
                                                        <div class="form-group">
                                                            <label class="sr-only control-label" for="Subject"></label>
                                                            <input id="Subject" name="Subject" type="text" class="form-control" placeholder="Subject" required>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <!-- Button -->
                                                        <div class="form-group">
                                                            <button id="singlebutton" name="singlebutton" class="btn btn-default">leave comments</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content end -->
  