/*-----------------------------------------
Background Colours 
------------------------------------------*/
/* line 5, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-grey {
  background: #f6f7ef;
}

/* line 8, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-orange {
  background: #f58c43;
}

/* line 10, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-orange h1, .moneyloop-bg-orange h2, .moneyloop-bg-orange h3 {
  color: #f6f7ef;
}

/* line 14, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-blue {
  background: #17917f;
}

/* line 16, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-blue h1, .moneyloop-bg-blue h2, .moneyloop-bg-blue h3 {
  color: #f6f7ef;
}

/* line 20, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-orange-faded {
  background: rgba(245, 140, 67, 0.5);
}

/* line 22, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-orange-faded h1, .moneyloop-bg-orange-faded h2, .moneyloop-bg-orange-faded h3 {
  color: #f6f7ef;
}

/* line 26, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-blue-faded {
  background: rgba(51, 118, 142, 0.5);
}

/* line 28, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-blue-faded h1, .moneyloop-bg-blue-faded h2, .moneyloop-bg-blue-faded h3 {
  color: #f6f7ef;
}

/* line 32, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-gradient {
  background: #f58c43;
  background: -webkit-linear-gradient(65deg, rgba(245, 140, 67, 0.844975) 40%, #17917f 60%);
}

/* line 36, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-gradient h1, .moneyloop-bg-gradient h2, .moneyloop-bg-gradient h3, .moneyloop-bg-gradient .title {
  color: #f6f7ef;
}

/* line 40, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-gradient1 {
  background: #17917f;
  background: -webkit-linear-gradient(65deg, #17917f 40%, rgba(245, 140, 67, 0.844975) 60%);
}

/* line 44, app/assets/stylesheets/material/_colours.scss */
.moneyloop-bg-gradient1 h1, .moneyloop-bg-gradient1 h2, .moneyloop-bg-gradient1 h3, .moneyloop-bg-gradient1 .title {
  color: #f6f7ef;
}

/*-----------------------------------------
Border Colours 
------------------------------------------*/
/* line 52, app/assets/stylesheets/material/_colours.scss */
.moneyloop-border-blue {
  border-color: #33768e;
  border-style: solid;
  border-radius: 5px;
}

/* line 57, app/assets/stylesheets/material/_colours.scss */
.moneyloop-border-green {
  border-color: #17917f;
  border-style: solid;
  border-radius: 5px;
}

/* line 62, app/assets/stylesheets/material/_colours.scss */
.moneyloop-border-orange {
  border-color: #f58c43;
  border-style: solid;
  border-radius: 5px;
}

/*-----------------------------------------
Text Colours 
------------------------------------------*/
/* line 71, app/assets/stylesheets/material/_colours.scss */
.moneyloop-green {
  color: #17917f;
}

/* line 74, app/assets/stylesheets/material/_colours.scss */
.moneyloop-blue {
  color: #33768e;
}

/* line 77, app/assets/stylesheets/material/_colours.scss */
.moneyloop-orange {
  color: #f58c43;
}

/* line 80, app/assets/stylesheets/material/_colours.scss */
.black {
  color: #323232 !important;
}

/* line 84, app/assets/stylesheets/material/_colours.scss */
.grey {
  color: #66707f !important;
}

/* line 88, app/assets/stylesheets/material/_colours.scss */
.white {
  color: #f6f7ef !important;
}
