/* line 2, app/assets/stylesheets/material/_faq.scss */
.categories ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 6, app/assets/stylesheets/material/_faq.scss */
.categories a:hover {
  color: #17917f;
  text-decoration: none;
}

/* line 13, app/assets/stylesheets/material/_faq.scss */
.faqs a:hover {
  color: #17917f;
  text-decoration: none;
}
