/*---------------------------------------
  General Styles
-----------------------------------------*/
/* line 5, app/assets/stylesheets/material/_general.scss */
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

/* line 9, app/assets/stylesheets/material/_general.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  margin: 0px 0px 10px 0px;
  color: #66707f;
  font-weight: 500;
}

/* line 15, app/assets/stylesheets/material/_general.scss */
h1 {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1px;
}

/* line 20, app/assets/stylesheets/material/_general.scss */
h2 {
  font-size: 24px;
  line-height: 32px;
}

/* line 24, app/assets/stylesheets/material/_general.scss */
h3 {
  font-size: 20px;
}

/* line 27, app/assets/stylesheets/material/_general.scss */
h4 {
  font-size: 16px;
  line-height: 1.6;
}

/* line 31, app/assets/stylesheets/material/_general.scss */
p {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 26px;
  line-height: 1.6;
  font-weight: 400;
}

/* line 36, app/assets/stylesheets/material/_general.scss */
p:last-child {
  margin-bottom: 0px;
}

/* line 40, app/assets/stylesheets/material/_general.scss */
ul li, ol li {
  line-height: 1.8;
}

/* line 43, app/assets/stylesheets/material/_general.scss */
a {
  font-family: 'Nunito', sans-serif;
  color: #66707f;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

/* line 50, app/assets/stylesheets/material/_general.scss */
a:hover {
  text-decoration: none;
  color: #f58c43;
}

/* line 55, app/assets/stylesheets/material/_general.scss */
::-moz-selection {
  background: #ffecb3;
  color: #333;
}
::selection {
  background: #ffecb3;
  color: #333;
}

/* line 59, app/assets/stylesheets/material/_general.scss */
*, *::before, *::after {
  transition: all .3s ease-in-out;
}

/* line 62, app/assets/stylesheets/material/_general.scss */
section {
  margin: 20px 0px;
}

/* line 65, app/assets/stylesheets/material/_general.scss */
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}
