/*---------------------------------------
  Navigation Bar 
-----------------------------------------*/
/* line 5, app/assets/stylesheets/material/_header.scss */
.nav_bar {
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  z-index: 99;
  box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
  -moz-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
}

/* line 15, app/assets/stylesheets/material/_header.scss */
.nav_logo {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 24, app/assets/stylesheets/material/_header.scss */
.nav_items, .nav_items ul, .nav_items ul li, .nav_items ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}

/* line 35, app/assets/stylesheets/material/_header.scss */
.nav_items:after, .nav_items > ul:after, .nav_items ul:after, .nav_items ul > ul:after, .nav_items ul li:after, .nav_items ul li > ul:after, .nav_items ul li a:after, .nav_items ul li a > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 44, app/assets/stylesheets/material/_header.scss */
.nav_items {
  margin-right: -80px;
  float: right;
  position: relative;
  z-index: 99;
}

/* line 51, app/assets/stylesheets/material/_header.scss */
.nav_items > ul > li {
  float: left;
}

/* line 53, app/assets/stylesheets/material/_header.scss */
.nav_items > ul > li > a {
  padding: 16px 15px;
  font-size: 15px;
  text-decoration: none;
  color: #66707f;
  font-weight: 600;
}

/* line 59, app/assets/stylesheets/material/_header.scss */
.nav_items > ul > li > a:hover {
  color: #323232;
}

/* line 63, app/assets/stylesheets/material/_header.scss */
.nav_items > ul > li:hover {
  color: #323232;
}

/* line 69, app/assets/stylesheets/material/_header.scss */
.nav_items ul ul {
  position: absolute;
  left: -9999px;
}

/* line 73, app/assets/stylesheets/material/_header.scss */
.nav_items ul ul li {
  height: 0;
  transition: all .25s ease;
}

/* line 81, app/assets/stylesheets/material/_header.scss */
.nav_items ul ul li a {
  border-bottom: 1px solid #dee7f2;
  padding: 15px 15px 16px 15px;
  width: 220px;
  font-size: 13px;
  text-decoration: none;
  color: #66707f;
  font-weight: 500;
  background: #fff;
}

/* line 90, app/assets/stylesheets/material/_header.scss */
.nav_items ul ul li a:hover {
  color: #323232;
}

/* line 96, app/assets/stylesheets/material/_header.scss */
.nav_items li:hover > ul {
  left: auto;
}

/* line 98, app/assets/stylesheets/material/_header.scss */
.nav_items li:hover > ul > li {
  height: 45px;
}
