/*----------------
Margin space
-----------------*/
/* line 5, app/assets/stylesheets/material/_spacing.scss */
.mb0 {
  margin-bottom: 0px;
}

/* line 6, app/assets/stylesheets/material/_spacing.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 7, app/assets/stylesheets/material/_spacing.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 8, app/assets/stylesheets/material/_spacing.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 9, app/assets/stylesheets/material/_spacing.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 10, app/assets/stylesheets/material/_spacing.scss */
.mb60 {
  margin-bottom: 60px;
}

/* line 11, app/assets/stylesheets/material/_spacing.scss */
.mb80 {
  margin-bottom: 80px;
}

/* line 12, app/assets/stylesheets/material/_spacing.scss */
.mb100 {
  margin-bottom: 100px;
}

/* line 13, app/assets/stylesheets/material/_spacing.scss */
.mt0 {
  margin-top: 0px;
}

/* line 14, app/assets/stylesheets/material/_spacing.scss */
.mt5 {
  margin-top: 5px;
}

/* line 15, app/assets/stylesheets/material/_spacing.scss */
.mt10 {
  margin-top: 10px;
}

/* line 16, app/assets/stylesheets/material/_spacing.scss */
.mt20 {
  margin-top: 20px;
}

/* line 17, app/assets/stylesheets/material/_spacing.scss */
.mt30 {
  margin-top: 30px;
}

/* line 18, app/assets/stylesheets/material/_spacing.scss */
.mt40 {
  margin-top: 40px;
}

/* line 19, app/assets/stylesheets/material/_spacing.scss */
.mt60 {
  margin-top: 60px;
}

/* line 20, app/assets/stylesheets/material/_spacing.scss */
.mt80 {
  margin-top: 80px;
}

/* line 21, app/assets/stylesheets/material/_spacing.scss */
.mt100 {
  margin-top: 100px;
}

/* line 23, app/assets/stylesheets/material/_spacing.scss */
.mt-20 {
  margin-top: -20px;
}

/* line 24, app/assets/stylesheets/material/_spacing.scss */
.mt-40 {
  margin-top: -40px;
}

/* line 25, app/assets/stylesheets/material/_spacing.scss */
.mt-60 {
  margin-top: -60px;
}

/* line 26, app/assets/stylesheets/material/_spacing.scss */
.mt-80 {
  margin-top: -80px;
}

/* line 28, app/assets/stylesheets/material/_spacing.scss */
.marginside10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 33, app/assets/stylesheets/material/_spacing.scss */
.marginside20 {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 37, app/assets/stylesheets/material/_spacing.scss */
.marginside30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 41, app/assets/stylesheets/material/_spacing.scss */
.marginl70 {
  margin-left: 70px;
}

/*---------------
Padding space
-----------------*/
/* line 48, app/assets/stylesheets/material/_spacing.scss */
.padding2 {
  padding: 2%;
}

/* line 51, app/assets/stylesheets/material/_spacing.scss */
.paddingt2 {
  padding-top: 2%;
}

/* line 54, app/assets/stylesheets/material/_spacing.scss */
.paddingb2 {
  padding-bottom: 2%;
}

/* line 58, app/assets/stylesheets/material/_spacing.scss */
.padding3 {
  padding: 3%;
}

/* line 61, app/assets/stylesheets/material/_spacing.scss */
.paddingt3 {
  padding-top: 3%;
}

/* line 64, app/assets/stylesheets/material/_spacing.scss */
.paddingb3 {
  padding-bottom: 3%;
}

/* line 68, app/assets/stylesheets/material/_spacing.scss */
.padding4 {
  padding: 4%;
}

/* line 71, app/assets/stylesheets/material/_spacing.scss */
.paddingt4 {
  padding-top: 4%;
}

/* line 74, app/assets/stylesheets/material/_spacing.scss */
.paddingb4 {
  padding-bottom: 4%;
}

/* line 78, app/assets/stylesheets/material/_spacing.scss */
.padding5 {
  padding: 5%;
}

/* line 81, app/assets/stylesheets/material/_spacing.scss */
.paddingt5 {
  padding-top: 5%;
}

/* line 84, app/assets/stylesheets/material/_spacing.scss */
.paddingb5 {
  padding-bottom: 5%;
}

/* line 88, app/assets/stylesheets/material/_spacing.scss */
.pdr0 {
  padding-right: 0px;
}

/* line 92, app/assets/stylesheets/material/_spacing.scss */
.nopadding {
  padding: 0px;
}

/* line 93, app/assets/stylesheets/material/_spacing.scss */
.nopr {
  padding-right: 0px;
}

/* line 94, app/assets/stylesheets/material/_spacing.scss */
.nopl {
  padding-left: 0px;
}

/* line 95, app/assets/stylesheets/material/_spacing.scss */
.pinside10 {
  padding: 10px;
}

/* line 96, app/assets/stylesheets/material/_spacing.scss */
.pinside20 {
  padding: 20px;
}

/* line 97, app/assets/stylesheets/material/_spacing.scss */
.pinside30 {
  padding: 30px;
}

/* line 98, app/assets/stylesheets/material/_spacing.scss */
.pinside40 {
  padding: 40px;
}

/* line 99, app/assets/stylesheets/material/_spacing.scss */
.pinside50 {
  padding: 50px;
}

/* line 100, app/assets/stylesheets/material/_spacing.scss */
.pinside60 {
  padding: 60px;
}

/* line 101, app/assets/stylesheets/material/_spacing.scss */
.pinside80 {
  padding: 80px;
}

/* line 102, app/assets/stylesheets/material/_spacing.scss */
.pdt10 {
  padding-top: 10px;
}

/* line 103, app/assets/stylesheets/material/_spacing.scss */
.pdt20 {
  padding-top: 20px;
}

/* line 104, app/assets/stylesheets/material/_spacing.scss */
.pdt30 {
  padding-top: 30px;
}

/* line 105, app/assets/stylesheets/material/_spacing.scss */
.pdt40 {
  padding-top: 40px;
}

/* line 106, app/assets/stylesheets/material/_spacing.scss */
.pdt60 {
  padding-top: 60px;
}

/* line 107, app/assets/stylesheets/material/_spacing.scss */
.pdt80 {
  padding-top: 80px;
}

/* line 108, app/assets/stylesheets/material/_spacing.scss */
.pdb10 {
  padding-bottom: 10px;
}

/* line 109, app/assets/stylesheets/material/_spacing.scss */
.pdb20 {
  padding-bottom: 20px;
}

/* line 110, app/assets/stylesheets/material/_spacing.scss */
.pdb30 {
  padding-bottom: 30px;
}

/* line 111, app/assets/stylesheets/material/_spacing.scss */
.pdb40 {
  padding-bottom: 40px;
}

/* line 112, app/assets/stylesheets/material/_spacing.scss */
.pdb60 {
  padding-bottom: 60px;
}

/* line 113, app/assets/stylesheets/material/_spacing.scss */
.pdb80 {
  padding-bottom: 80px;
}

/* line 114, app/assets/stylesheets/material/_spacing.scss */
.pdl10 {
  padding-left: 10px;
}

/* line 115, app/assets/stylesheets/material/_spacing.scss */
.pdl20 {
  padding-left: 20px;
}

/* line 116, app/assets/stylesheets/material/_spacing.scss */
.pdl30 {
  padding-left: 30px;
}

/* line 117, app/assets/stylesheets/material/_spacing.scss */
.pdl40 {
  padding-left: 40px;
}

/* line 118, app/assets/stylesheets/material/_spacing.scss */
.pdl60 {
  padding-left: 60px;
}

/* line 119, app/assets/stylesheets/material/_spacing.scss */
.pdl80 {
  padding-left: 80px;
}

/* line 120, app/assets/stylesheets/material/_spacing.scss */
.pdr10 {
  padding-right: 10px;
}

/* line 121, app/assets/stylesheets/material/_spacing.scss */
.pdr20 {
  padding-right: 20px;
}

/* line 122, app/assets/stylesheets/material/_spacing.scss */
.pdr30 {
  padding-right: 30px;
}

/* line 123, app/assets/stylesheets/material/_spacing.scss */
.pdr40 {
  padding-right: 40px;
}

/* line 124, app/assets/stylesheets/material/_spacing.scss */
.pdr60 {
  padding-right: 60px;
}

/* line 125, app/assets/stylesheets/material/_spacing.scss */
.pdr80 {
  padding-right: 80px;
}
