/*-----------------------------------------
Input Form
------------------------------------------*/
/* line 5, app/assets/stylesheets/material/no.scss */
.control-label {
  text-transform: uppercase;
  color: #3c4d6b;
  font-size: 13px;
  font-weight: 600;
}

/* line 6, app/assets/stylesheets/material/no.scss */
.form-control {
  width: 100%;
  height: 52px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
  margin-bottom: 10px;
  border: 2px solid #e6ecef;
}

/* line 7, app/assets/stylesheets/material/no.scss */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fff;
}

/* line 8, app/assets/stylesheets/material/no.scss */
.required {
  color: red;
}

/* line 9, app/assets/stylesheets/material/no.scss */
textarea.form-control {
  border-radius: 2px;
  height: auto;
}

/* line 10, app/assets/stylesheets/material/no.scss */
select {
  -webkit-appearance: none;
  background-color: #fff;
}

/* line 11, app/assets/stylesheets/material/no.scss */
.input-group-text {
  display: flex;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
  text-align: center;
  white-space: nowrap;
  background-color: #ffffff;
  border: 2px solid #e6ecef;
  border-radius: .25rem;
  margin-right: -1px;
}

/*-----------------------------------------
content
------------------------------------------*/
/* line 16, app/assets/stylesheets/material/no.scss */
.content {
  padding-bottom: 100px;
  padding-top: 100px;
}

/* line 17, app/assets/stylesheets/material/no.scss */
.wrapper-content {
  margin-top: -40px;
  margin-bottom: 100px;
  position: relative;
}

/*-----------------------------------------
Bullet
------------------------------------------*/
/* line 22, app/assets/stylesheets/material/no.scss */
.bullet {
  position: relative;
  padding-left: 25px;
  line-height: 32px;
}

/* line 23, app/assets/stylesheets/material/no.scss */
.bullet-arrow-circle-right li:before {
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #919297;
  content: "\f18e";
}

/* line 24, app/assets/stylesheets/material/no.scss */
.bullet-arrow-right li:before {
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #747474;
  content: "\f101";
}

/* line 25, app/assets/stylesheets/material/no.scss */
.bullet-check-circle li:before {
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #fff;
  content: "\f05d";
}

/* line 26, app/assets/stylesheets/material/no.scss */
.bullet-check-circle-default li:before {
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #10a874;
  content: "\f05d";
  padding-right: 4px;
}

/* update 16 june 2017 */
/* line 29, app/assets/stylesheets/material/no.scss */
.list-pdf-file li:before {
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #ec4e10;
  content: "\f1c1";
  padding-right: 4px;
}

/* line 30, app/assets/stylesheets/material/no.scss */
.list-pdf-file li a {
  color: #104b8c;
  text-decoration: underline;
  font-weight: 500;
}

/* line 31, app/assets/stylesheets/material/no.scss */
.list-pdf-file li a:hover {
  color: #f51f8a;
}

/*-----------------------------------------
     Slider
------------------------------------------*/
/* line 38, app/assets/stylesheets/material/no.scss */
.slider {
  position: relative;
}

/* line 39, app/assets/stylesheets/material/no.scss */
.slider-img img {
  position: relative;
  z-index: -1;
  width: 100%;
}

/* line 40, app/assets/stylesheets/material/no.scss */
.slider-img {
  background: -webkit-linear-gradient(top, rgba(16, 75, 149, 0.8) 0%, rgba(16, 75, 149, 0.8) 100%);
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc1b2429', endColorstr='#cc1b2429', GradientType=0);
  position: relative;
}

/* line 41, app/assets/stylesheets/material/no.scss */
.slider-img:hover {
  background: linear-gradient(to bottom, rgba(23, 145, 127, 0.5) 0%, rgba(23, 145, 127, 0.5) 100%);
}

/* line 42, app/assets/stylesheets/material/no.scss */
.slider-captions {
  position: absolute;
  bottom: 200px;
}

/* line 43, app/assets/stylesheets/material/no.scss */
.slider-title {
  color: #f6f7ef;
  background-color: #33768e;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
}

/* line 44, app/assets/stylesheets/material/no.scss */
.slider-text {
  color: #f6f7ef;
}

/* line 45, app/assets/stylesheets/material/no.scss */
.slider .owl-prev {
  position: absolute;
  left: 0px;
  top: 40%;
  left: 20px;
}

/* line 46, app/assets/stylesheets/material/no.scss */
.slider .owl-next {
  position: absolute;
  right: 0px;
  top: 40%;
  right: 20px;
}

/* line 47, app/assets/stylesheets/material/no.scss */
#slider .owl-next, #slider .owl-prev {
  background-color: transparent !important;
  border: 2px solid #fff;
  color: #fff;
  transition: all 0.3s;
}

/* line 48, app/assets/stylesheets/material/no.scss */
#slider .owl-next:hover, #slider .owl-prev:hover {
  background-color: #fff !important;
  border: 2px solid #fff;
  color: #15549a;
}

/* line 49, app/assets/stylesheets/material/no.scss */
#slider .owl-pagination {
  margin: 0px;
  bottom: 40px;
  position: relative;
}

/* line 50, app/assets/stylesheets/material/no.scss */
#slider .owl-page span {
  border-radius: 2px;
  width: 98%;
  height: 1px;
  background-color: #fff;
  margin: 0px;
}

/* line 51, app/assets/stylesheets/material/no.scss */
#slider .owl-page {
  width: 5%;
}

/*-----------------------------------------
index-1
------------------------------------------*/
/* line 56, app/assets/stylesheets/material/no.scss */
.mail-text {
  border-right: 2px solid #1b5ca5;
}

/* line 57, app/assets/stylesheets/material/no.scss */
.rate-table {
  background-color: #fff;
  border-top: 1px solid #dee7f2;
  border-bottom: 1px solid #dee7f2;
  margin-top: -21px;
}

/* line 58, app/assets/stylesheets/material/no.scss */
.loan-rate {
  font-size: 32px;
  color: #414855;
  margin-bottom: 0px;
  font-weight: 600;
  line-height: 1;
}

/* line 59, app/assets/stylesheets/material/no.scss */
.rate-counter-block {
  border-right: 1px solid #dee7f2;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 61, app/assets/stylesheets/material/no.scss */
.rate-icon {
  float: left;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 63, app/assets/stylesheets/material/no.scss */
.rate-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #778191;
}

/* line 66, app/assets/stylesheets/material/no.scss */
.testimonial-name-1 {
  color: #15549a;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0px;
}

/*------------------------------------
 index-3 (updated: 16 june 2017)
-------------------------------------*/
/* line 71, app/assets/stylesheets/material/no.scss */
.header-transparent {
  background-color: rgba(255, 255, 255, 0.1);
  padding-top: 19px;
  padding-bottom: 19px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  position: fixed;
  z-index: 9;
  width: 100%;
}

/* line 72, app/assets/stylesheets/material/no.scss */
.header-transparent #navigation > ul > li.has-sub > a {
  padding-right: 30px;
}

/* line 73, app/assets/stylesheets/material/no.scss */
.header-transparent #navigation > ul > li > a {
  padding: 16px 10px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 74, app/assets/stylesheets/material/no.scss */
.header-transparent #navigation {
  float: right;
  margin-top: 0px;
  position: relative;
  z-index: 99;
}

/* line 75, app/assets/stylesheets/material/no.scss */
.top-nav-collapse {
  background-color: #15549a;
}

/* line 76, app/assets/stylesheets/material/no.scss */
.lender-logo-section {
  margin-top: -20px;
}

/* line 77, app/assets/stylesheets/material/no.scss */
.lender-box {
  margin-bottom: 8px;
  margin-top: 8px;
}

/* line 78, app/assets/stylesheets/material/no.scss */
.slider-gradient-img img {
  position: relative;
  z-index: -1;
  width: 100%;
}

/* line 79, app/assets/stylesheets/material/no.scss */
.slider-gradient-img {
  position: relative;
  background: linear-gradient(135deg, rgba(25, 46, 167, 0.9) 0%, rgba(24, 40, 134, 0.9) 47%, rgba(148, 58, 158, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e61f2b70', endColorstr='#e6943a9e', GradientType=1);
}

/* line 80, app/assets/stylesheets/material/no.scss */
.service-block-v3 {
  background-color: #fff;
  padding: 40px 0px 0px 0px;
  text-align: center;
  margin-bottom: 30px;
}

/* line 81, app/assets/stylesheets/material/no.scss */
.service-block-v3 .service-content {
  padding: 5px 30px;
}

/* line 82, app/assets/stylesheets/material/no.scss */
.service-block-v3 .service-title {
  margin-bottom: 20px;
  line-height: 24px;
}

/* line 83, app/assets/stylesheets/material/no.scss */
.service-rate-block {
  margin-bottom: 30px;
}

/* line 84, app/assets/stylesheets/material/no.scss */
.service-rate-block .product-rate {
  color: #f51f8a;
  margin-bottom: 6px;
  font-size: 18px;
}

/* line 85, app/assets/stylesheets/material/no.scss */
.rate-text {
  font-size: 12px;
}

/* line 86, app/assets/stylesheets/material/no.scss */
.customer-block {
  background-color: #fff;
  padding: 30px;
}

/* line 87, app/assets/stylesheets/material/no.scss */
.customer-img {
  position: relative;
  margin-bottom: 30px;
}

/* line 89, app/assets/stylesheets/material/no.scss */
.customer-text {
  color: #3c4d6b;
  font-size: 21px;
  margin-bottom: 30px;
  font-family: 'Merriweather', serif;
  letter-spacing: -1px;
  font-style: italic;
  line-height: 36px;
  font-weight: normal;
}

/* line 90, app/assets/stylesheets/material/no.scss */
.customer-name {
  font-size: 14px;
  font-weight: 600;
  color: #f51f8a;
}

/* line 92, app/assets/stylesheets/material/no.scss */
.customer-quote-circle {
  background-color: #f51f8a;
  border-radius: 100%;
  padding: 10px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 30px;
  color: #fff;
  text-align: center;
  z-index: 1;
}

/* line 93, app/assets/stylesheets/material/no.scss */
.how-it-block {
  background-color: #fff;
  padding: 30px;
  min-height: 320px;
}

/* line 94, app/assets/stylesheets/material/no.scss */
.how-it-no {
  font-size: 76px;
  color: #15549a;
}

/*------------------------------------
 index-4 Students Home page
-------------------------------------*/
/* line 101, app/assets/stylesheets/material/no.scss */
.students-slider-img img {
  width: 100%;
}

/* line 104, app/assets/stylesheets/material/no.scss */
.fee-charges-table .list-group-item.active {
  z-index: 2;
  color: #414855;
  background-color: #ccd8e5;
  border-color: #ccd8e5;
}

/* line 105, app/assets/stylesheets/material/no.scss */
.fee-charges-table .list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #eff4f9;
  border: 1px solid #d1deeb;
}

/* line 106, app/assets/stylesheets/material/no.scss */
.education-rate-box {
  background-color: #eff4f9;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 5px;
}

/* line 107, app/assets/stylesheets/material/no.scss */
.education-rate-number {
  font-size: 32px;
  margin-bottom: 0px;
}

/*------------------------------------
 index-5 Business Loan Home Page
-------------------------------------*/
/* line 112, app/assets/stylesheets/material/no.scss */
.business-loan-products {
  background-color: #fff;
  padding: 40px;
  border: 1px solid #dee4ee;
  text-align: center;
  margin-bottom: 30px;
}

/* line 113, app/assets/stylesheets/material/no.scss */
.loan-products-icon {
  margin-bottom: 20px;
}

/* line 115, app/assets/stylesheets/material/no.scss */
.video-play {
  position: absolute;
  top: 24%;
  left: 41%;
}

/* line 117, app/assets/stylesheets/material/no.scss */
.about-img {
  position: relative;
}

/* line 118, app/assets/stylesheets/material/no.scss */
.business-request-form {
  margin-bottom: -180px;
}

/* line 119, app/assets/stylesheets/material/no.scss */
.business-request-form h3 {
  margin-bottom: 30px;
}

/* line 120, app/assets/stylesheets/material/no.scss */
.business-request-form .form-group {
  margin-bottom: 0px;
}

/* line 121, app/assets/stylesheets/material/no.scss */
.lender-block {
  padding: 80px 40px;
  background-color: #fff;
  border: 1px solid #dee4ee;
  border-radius: 4px;
  text-align: center;
}

/* line 122, app/assets/stylesheets/material/no.scss */
.rate-badge {
  background: #104b8c;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
}

/*-----------------------------------------------------------------------
Service Page & Block Css
----------------------------------------------------------------------*/
/* line 128, app/assets/stylesheets/material/no.scss */
#service .owl-next, #service .owl-prev {
  background-color: transparent !important;
  border: 2px solid #a3b1c1;
  color: #a3b1c1;
  transition: all 0.3s;
}

/* line 129, app/assets/stylesheets/material/no.scss */
#service .owl-next:hover, #service .owl-prev:hover {
  background-color: #f51f8a !important;
  border: 2px solid #f51f8a;
  color: #fff;
}

/* line 130, app/assets/stylesheets/material/no.scss */
.service-block {
  transition: box-shadow .5s;
}

/* line 131, app/assets/stylesheets/material/no.scss */
.service-block:hover {
  box-shadow: 0px 4px 26px 3px #d5ddea;
}

/* line 132, app/assets/stylesheets/material/no.scss */
.service-block:hover i {
  color: #f51f8a;
}

/* line 133, app/assets/stylesheets/material/no.scss */
#service .owl-controls {
  text-align: center;
  margin-top: 10px;
}

/* line 134, app/assets/stylesheets/material/no.scss */
.icon-svg-2x {
  width: 80px;
}

/* line 135, app/assets/stylesheets/material/no.scss */
.icon-svg-1x {
  width: 60px;
}

/*--------------------------------
Service-img
---------------------------------*/
/* line 140, app/assets/stylesheets/material/no.scss */
.service-img-box {
  transition: box-shadow .5s;
}

/* line 141, app/assets/stylesheets/material/no.scss */
.service-img-box:hover {
  box-shadow: 0px 4px 26px 3px #d5ddea;
}

/* line 142, app/assets/stylesheets/material/no.scss */
.service-img {
  position: relative;
}

/* line 144, app/assets/stylesheets/material/no.scss */
.service-content > h2 {
  margin-bottom: 0px;
}

/* line 145, app/assets/stylesheets/material/no.scss */
.circle {
  background-color: #e3f0fe;
  width: 60px;
  height: 60px;
  border: 1px solid #15549a;
  border-radius: 100px;
  color: #15549a;
  margin: -70px auto 40px auto;
  padding: 10px;
  text-align: center;
  line-height: 1.7;
}

/* line 146, app/assets/stylesheets/material/no.scss */
.number {
  font-size: 24px;
  font-weight: 500;
}

/* line 147, app/assets/stylesheets/material/no.scss */
.number-block {
  text-align: center;
}

/* line 148, app/assets/stylesheets/material/no.scss */
.number-title {
  margin-bottom: 20px;
}

/* line 149, app/assets/stylesheets/material/no.scss */
.circle-large {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  line-height: 2;
  padding: 10px;
  text-align: center;
  font-size: 42px;
}

/* line 150, app/assets/stylesheets/material/no.scss */
.circle-default {
  background-color: #f51f8a;
  color: #fff;
}

/*--------------------------------
footer
---------------------------------*/
/* line 157, app/assets/stylesheets/material/no.scss */
.newsletter-form {
  margin-bottom: 30px;
}

/* line 158, app/assets/stylesheets/material/no.scss */
.newsletter-title {
  color: #778191;
  margin-top: 10px;
}

/* line 159, app/assets/stylesheets/material/no.scss */
.footer {
  background-color: #1e2127;
}

/* line 160, app/assets/stylesheets/material/no.scss */
.footer-logo {
  margin-bottom: 30px;
}

/* line 163, app/assets/stylesheets/material/no.scss */
.widget-footer ul li {
  line-height: 1.6;
  margin-bottom: 8px;
}

/* line 164, app/assets/stylesheets/material/no.scss */
.widget-footer ul li a {
  color: #778191;
}

/* line 165, app/assets/stylesheets/material/no.scss */
.widget-footer ul li a:hover {
  color: #f51f8a;
}

/* line 166, app/assets/stylesheets/material/no.scss */
.tiny-footer {
  background-color: #16191e;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 167, app/assets/stylesheets/material/no.scss */
.widget-footer {
  position: relative;
  padding-left: 20px;
  line-height: 32px;
}

/* line 168, app/assets/stylesheets/material/no.scss */
.widget-footer ul li:before {
  font-family: 'FontAwesome';
  display: block;
  position: absolute;
  left: 0;
  font-size: 15px;
  color: #778191;
  content: "\f105";
}

/* line 171, app/assets/stylesheets/material/no.scss */
.widget-social ul li {
  line-height: 1.6;
  margin-bottom: 8px;
}

/* line 172, app/assets/stylesheets/material/no.scss */
.widget-social ul li a {
  color: #778191;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 173, app/assets/stylesheets/material/no.scss */
.widget-social ul li a i {
  width: 30px;
}

/* line 174, app/assets/stylesheets/material/no.scss */
.widget-social ul li a:hover {
  color: #f51f8a;
  text-decoration: underline;
}

/* line 177, app/assets/stylesheets/material/no.scss */
.call-text span {
  padding-right: 10px;
  vertical-align: -webkit-baseline-middle;
}

/*--------------------------------
Page header 
---------------------------------*/
/* line 183, app/assets/stylesheets/material/no.scss */
.page-title {
  margin-bottom: 0px;
  font-size: 36px;
}

/* line 184, app/assets/stylesheets/material/no.scss */
.rate-block {
  text-align: right;
}

/* line 185, app/assets/stylesheets/material/no.scss */
.rate-number {
  margin-bottom: 0px;
  line-height: 1;
  color: #f51f8a;
}

/* line 186, app/assets/stylesheets/material/no.scss */
.btn-action {
  text-align: right;
}

/* line 187, app/assets/stylesheets/material/no.scss */
.sub-nav {
  background-color: #eff3f8;
  border-top: 1px solid #dee7f2;
}

/* line 188, app/assets/stylesheets/material/no.scss */
.is-sticky .sub-nav {
  position: relative;
  z-index: 9;
  top: 120px;
}

/* line 190, app/assets/stylesheets/material/no.scss */
.sub-nav > .nav li a {
  padding: 16px;
  font-size: 14px;
  text-transform: uppercase;
  color: #7e93ae;
  font-weight: 500;
  border-right: 1px solid #dee7f2;
}

/* line 191, app/assets/stylesheets/material/no.scss */
.sub-nav > .nav li a:hover {
  background-color: #fff;
  color: #f51f8a;
}

/* line 192, app/assets/stylesheets/material/no.scss */
.sub-nav > .nav li a:focus {
  background-color: #fff;
  color: #f51f8a;
}

/* line 193, app/assets/stylesheets/material/no.scss */
.sub-nav > .nav li.active a {
  color: red;
  background-color: #fff;
  color: #f51f8a;
}

/* line 195, app/assets/stylesheets/material/no.scss */
.page-breadcrumb .breadcrumb {
  background-color: transparent;
  padding: 0px;
  font-size: 12px;
  text-transform: uppercase;
  color: #15549a;
  font-weight: 700;
}

/* line 197, app/assets/stylesheets/material/no.scss */
.page-breadcrumb .breadcrumb > .active {
  color: #fff;
  font-weight: 700;
}

/* line 198, app/assets/stylesheets/material/no.scss */
.page-breadcrumb .breadcrumb > li a {
  color: #15549a;
  font-weight: 700;
}

/* line 199, app/assets/stylesheets/material/no.scss */
.page-breadcrumb .breadcrumb > li a:hover {
  color: #f51f8a;
}

/* line 200, app/assets/stylesheets/material/no.scss */
.page-breadcrumb .breadcrumb > li + li:before {
  padding: 0 5px;
  color: #15549a;
  content: "/\00a0";
}

/*--------------------------------
Blog  
---------------------------------*/
/* line 205, app/assets/stylesheets/material/no.scss */
.post-holder {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 29px;
}

/* line 206, app/assets/stylesheets/material/no.scss */
.post-header {
  border-bottom: 1px solid #dee4ee;
  margin-bottom: 20px;
  padding-bottom: 19px;
}

/* line 209, app/assets/stylesheets/material/no.scss */
.meta {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: #a4a7ac;
  margin-bottom: 14px;
  margin-top: 14px;
}

/* line 210, app/assets/stylesheets/material/no.scss */
.meta span {
  margin-right: 0px;
}

/* line 211, app/assets/stylesheets/material/no.scss */
.meta span:after {
  margin-left: 15px;
  margin-right: 15px;
  color: #b0b0b0;
  content: "|";
}

/* line 212, app/assets/stylesheets/material/no.scss */
.meta span:last-child:after {
  margin-left: 0px;
  margin-right: 0px;
  content: "";
}

/*----- Related Post-----*/
/* line 215, app/assets/stylesheets/material/no.scss */
.post-related {
  border-bottom: 1px solid #e8eaec;
}

/* line 218, app/assets/stylesheets/material/no.scss */
.related-title {
  font-size: 18px;
  color: #4b5565;
}

/*----- prev-next-----*/
/* line 222, app/assets/stylesheets/material/no.scss */
.post-navigation {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 29px;
  padding-bottom: 30px;
}

/* line 225, app/assets/stylesheets/material/no.scss */
.prev-link, .next-link {
  color: #778191;
  margin-bottom: 10px;
  display: block;
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

/* line 229, app/assets/stylesheets/material/no.scss */
.prev-link:hover, .next-link:hover {
  color: #f51f8a;
}

/* line 230, app/assets/stylesheets/material/no.scss */
.meta-date {
  color: #f51f8a;
  font-weight: 600;
}

/* line 235, app/assets/stylesheets/material/no.scss */
.meta-link {
  color: #a4a7ac;
}

/*--------------------------------
Blog-sidebar  
---------------------------------*/
/* line 240, app/assets/stylesheets/material/no.scss */
.widget {
  padding: 30px;
  margin-bottom: 30px;
}

/* line 241, app/assets/stylesheets/material/no.scss */
.widget-title {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 19px;
  padding-bottom: 20px;
}

/* line 244, app/assets/stylesheets/material/no.scss */
.widget-category li a, .widget-archives li a {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  line-height: 14px;
  color: #797b80;
  font-size: 14px;
}

/* line 245, app/assets/stylesheets/material/no.scss */
.widget-category li a:hover, .widget-archives li a:hover {
  color: #f51f8a;
}

/* line 247, app/assets/stylesheets/material/no.scss */
.widget-tags a {
  text-transform: uppercase;
  border: 2px solid #c3c7d1;
  padding: 9px 16px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #9a9fab;
  border-radius: 4px;
  letter-spacing: 1px;
}

/* line 248, app/assets/stylesheets/material/no.scss */
.widget-tags a:hover {
  background-color: #f51f8a;
  color: #fff;
  border-color: #f51f8a;
}

/*----- post-author-----*/
/* line 251, app/assets/stylesheets/material/no.scss */
.post-author {
  border-bottom: 1px solid #e8eaec;
  margin-bottom: 29px;
  padding-bottom: 30px;
}

/* line 255, app/assets/stylesheets/material/no.scss */
.author-header small {
  text-transform: uppercase;
  color: #de4526;
  font-weight: 700;
  margin-left: 15px;
}

/* line 258, app/assets/stylesheets/material/no.scss */
.author-social a {
  color: #707070;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  padding: 8px 12px;
}

/* line 259, app/assets/stylesheets/material/no.scss */
.author-social a:hover {
  background-color: #de4526;
  color: #fff;
}

/*----- comments-----*/
/* line 262, app/assets/stylesheets/material/no.scss */
.comments-area {
  border-bottom: 1px solid #e8eaec;
  padding-bottom: 40px;
}

/* line 263, app/assets/stylesheets/material/no.scss */
.comments-title {
  margin-bottom: 40px;
}

/* line 266, app/assets/stylesheets/material/no.scss */
.comment-body {
  margin-bottom: 60px;
}

/* line 268, app/assets/stylesheets/material/no.scss */
.comment-author img {
  width: 120px;
  float: left;
}

/* line 269, app/assets/stylesheets/material/no.scss */
.comment-info {
  padding-left: 160px;
}

/* line 271, app/assets/stylesheets/material/no.scss */
.user-title {
  margin-bottom: 0px;
}

/* line 272, app/assets/stylesheets/material/no.scss */
.comment-meta {
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

/* line 276, app/assets/stylesheets/material/no.scss */
.reply-title {
  margin-bottom: 40px;
}

/* line 277, app/assets/stylesheets/material/no.scss */
.childern {
  padding-left: 140px;
}

/* line 278, app/assets/stylesheets/material/no.scss */
.leave-comments {
  background-color: #f3f5f5;
}

/* line 279, app/assets/stylesheets/material/no.scss */
.widget-share {
  background-color: #fff;
  padding: 14px;
  position: absolute;
  top: 0px;
  right: -56px;
}

/* line 280, app/assets/stylesheets/material/no.scss */
.btn-share {
  padding: 12px 16px;
  display: inline-block;
  line-height: 1;
  margin-bottom: 2px;
  font-size: 14px;
  width: 40px;
}

/* line 281, app/assets/stylesheets/material/no.scss */
.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}

/* line 282, app/assets/stylesheets/material/no.scss */
.btn-facebook:hover {
  background-color: #3b5998;
  color: #fff;
}

/* line 283, app/assets/stylesheets/material/no.scss */
.btn-twitter {
  background-color: #1da1f2;
  color: #fff;
}

/* line 284, app/assets/stylesheets/material/no.scss */
.btn-twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

/* line 285, app/assets/stylesheets/material/no.scss */
.btn-google {
  background-color: #dc483a;
  color: #fff;
}

/* line 286, app/assets/stylesheets/material/no.scss */
.btn-google:hover {
  background-color: #dc483a;
  color: #fff;
}

/* line 287, app/assets/stylesheets/material/no.scss */
.btn-linkedin {
  background-color: #0088b5;
  color: #fff;
}

/* line 288, app/assets/stylesheets/material/no.scss */
.btn-linkedin:hover {
  background-color: #0088b5;
  color: #fff;
}

/*--------------------------------
Blog-single  
---------------------------------*/
/* line 293, app/assets/stylesheets/material/no.scss */
.name {
  font-size: 14px;
  text-transform: uppercase;
  color: #f51f8a;
  font-weight: 600;
  padding-left: 30px;
}

/*--------------------------------
Pagination  
---------------------------------*/
/* line 299, app/assets/stylesheets/material/no.scss */
.st-pagination .pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #9a9fab;
  text-decoration: none;
  font-size: 12px;
  border: 2px solid #c3c7d1;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  margin-right: 3px;
  margin-bottom: 5px;
  background-color: #fff;
  padding: 8px 13px;
}

/* line 300, app/assets/stylesheets/material/no.scss */
.st-pagination .pagination > li > a:focus, .st-pagination .pagination > li > a:hover, .st-pagination .pagination > li > span:focus, .st-pagination .pagination > li > span:hover {
  z-index: 2;
  color: #fff;
  background-color: #f51f8a;
  border-color: #f51f8a;
  border-radius: 4px;
}

/* line 301, app/assets/stylesheets/material/no.scss */
.st-pagination .pagination > li:first-child > a, .st-pagination .pagination > li:first-child > span {
  margin-left: 0;
  border-radius: 4px;
}

/* line 302, app/assets/stylesheets/material/no.scss */
.st-pagination .pagination > li:last-child > a, .st-pagination .pagination > li:last-child > span {
  border-radius: 4px;
}

/* line 303, app/assets/stylesheets/material/no.scss */
.st-pagination .pagination > .active > a, .st-pagination .pagination > .active > a:focus, .st-pagination .pagination > .active > a:hover, .st-pagination .pagination > .active > span, .st-pagination .pagination > .active > span:focus, .st-pagination .pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #f51f8a;
  border-color: #f51f8a;
  border-radius: 4px;
}

/* line 305, app/assets/stylesheets/material/no.scss */
.st-accordion .sign {
  color: #3c4d6b;
  padding: 0 2px;
  position: absolute;
  left: 0px;
  top: 5px;
  margin-left: -20px;
  font-size: 14px;
}

/* line 306, app/assets/stylesheets/material/no.scss */
.st-accordion .accordion .panel-heading.active .sign {
  color: #95cd40;
}

/* line 307, app/assets/stylesheets/material/no.scss */
.st-accordion .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit;
  position: relative;
  color: #3c4d6b;
}

/* line 308, app/assets/stylesheets/material/no.scss */
.sign {
  color: #084988;
  padding: 0 2px;
  position: absolute;
  right: -10px;
  top: 6px;
}

/* line 309, app/assets/stylesheets/material/no.scss */
.st-accordion .panel-heading.active .sign {
  color: #f51f8a;
}

/* line 310, app/assets/stylesheets/material/no.scss */
.st-accordion .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0px;
  box-shadow: none;
}

/* line 311, app/assets/stylesheets/material/no.scss */
.st-accordion .panel-default {
  border-color: transparent;
  border-bottom: 1px solid #e0e7ea;
}

/* line 312, app/assets/stylesheets/material/no.scss */
.st-accordion .panel-group .panel {
  margin-bottom: 10px;
  border-radius: 0px;
  box-shadow: 0px 0px 0px 0px #eaeaea;
}

/* line 313, app/assets/stylesheets/material/no.scss */
.st-accordion .panel-default > .panel-heading {
  color: #323734;
  background-color: #fff;
  border-bottom: 1px solid transparent;
  padding: 10px 0px 10px 30px;
}

/* line 315, app/assets/stylesheets/material/no.scss */
.st-accordion .panel-body {
  padding: 30px;
}

/* line 316, app/assets/stylesheets/material/no.scss */
.st-accordion .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid transparent;
}

/*--------------------------------
Extra Plugin CSS - Back to top  
---------------------------------*/
/* line 322, app/assets/stylesheets/material/no.scss */
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  transition: opacity .3s 0s, visibility 0s 0s;
}

/* line 323, app/assets/stylesheets/material/no.scss */
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

/* line 325, app/assets/stylesheets/material/no.scss */
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

/* line 327, app/assets/stylesheets/material/no.scss */
.no-touch .cd-top:hover {
  background-color: #cb2529;
  opacity: 1;
}

/*-------- filter gallery -------*/
/* line 330, app/assets/stylesheets/material/no.scss */
.isotope-item {
  z-index: 2;
}

/* line 331, app/assets/stylesheets/material/no.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* line 332, app/assets/stylesheets/material/no.scss */
.isotope, .isotope .isotope-item {
  /* change duration value to whatever you like */
  transition-duration: 0.8s;
}

/* line 334, app/assets/stylesheets/material/no.scss */
.isotope {
  transition-property: height, width;
}

/* line 335, app/assets/stylesheets/material/no.scss */
.isotope .isotope-item {
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

/* line 337, app/assets/stylesheets/material/no.scss */
.portfolioFilter {
  margin-bottom: 30px;
  text-align: center;
}

/* line 338, app/assets/stylesheets/material/no.scss */
.portfolioFilter a {
  text-transform: uppercase;
  background-color: #eff3f8;
  padding: 9px 26px;
  display: inline-block;
  color: #7e93ae;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  border: 1px solid #dee7f2;
}

/* line 339, app/assets/stylesheets/material/no.scss */
.portfolioFilter a:hover {
  color: #fff;
  background-color: #f51f8a;
  border: 1px solid #f51f8a;
}

/* line 340, app/assets/stylesheets/material/no.scss */
.portfolioFilter a.current {
  color: #fff;
  text-decoration: none;
  background-color: #f51f8a;
  border: 1px solid #f51f8a;
}

/*---------- Thumbnail hover effect -------*/
/* ============================================================
GLOBAL
============================================================ */
/* line 349, app/assets/stylesheets/material/no.scss */
.effects .img {
  position: relative;
}

/* line 351, app/assets/stylesheets/material/no.scss */
.effects .img:first-child {
  margin-bottom: 20px;
}

/* line 352, app/assets/stylesheets/material/no.scss */
.effects .img:last-child {
  margin-right: 0;
}

/* line 353, app/assets/stylesheets/material/no.scss */
.effects .img img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

/* line 354, app/assets/stylesheets/material/no.scss */
.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(246, 96, 171, 0.8);
  overflow: hidden;
  transition: all 0.5s;
}

/* line 355, app/assets/stylesheets/material/no.scss */
a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #de4526;
  cursor: pointer;
}

/* line 356, app/assets/stylesheets/material/no.scss */
a.close-overlay.hidden {
  display: none;
}

/* line 357, app/assets/stylesheets/material/no.scss */
a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30px;
}

/* ============================================================
EFFECT 6 - ICON BOUNCE IN
============================================================ */
/* line 362, app/assets/stylesheets/material/no.scss */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

/* line 363, app/assets/stylesheets/material/no.scss */
#effect-6 .overlay a.expand {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.5s;
}

/* line 364, app/assets/stylesheets/material/no.scss */
#effect-6 .img.hover .overlay {
  opacity: 1;
}

/* line 365, app/assets/stylesheets/material/no.scss */
#effect-6 .img.hover .overlay a.expand {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}

/*----------------- Gallery Wide ---------------*/
/* line 369, app/assets/stylesheets/material/no.scss */
.gallery-thumbnail img {
  width: 100%;
}

/* line 370, app/assets/stylesheets/material/no.scss */
.gallery-img img {
  width: 100%;
}

/*----------------- Image Hover Effect ---------------*/
/* line 374, app/assets/stylesheets/material/no.scss */
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

/* line 375, app/assets/stylesheets/material/no.scss */
.imghover {
  display: block;
  position: relative;
  max-width: 100%;
}

/* line 376, app/assets/stylesheets/material/no.scss */
.imghover::before, .imghover::after {
  display: block;
  position: absolute;
  content: "";
  text-align: center;
  opacity: 0;
}

/* line 377, app/assets/stylesheets/material/no.scss */
.imghover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 378, app/assets/stylesheets/material/no.scss */
.imghover::after {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: -25px 0 0 -25px;
  content: "\f06e";
  /* fa-eye */
  font-family: "FontAwesome";
  font-size: 36px;
}

/* line 379, app/assets/stylesheets/material/no.scss */
.imghover:hover::before, .imghover:hover::after {
  opacity: 1;
}

/* line 380, app/assets/stylesheets/material/no.scss */
.imghover:hover::before {
  background: rgba(34, 62, 92, 0.55);
}

/* line 381, app/assets/stylesheets/material/no.scss */
.imghover:hover::after {
  color: #FFFFFF;
}

/*--------------------------------
Contact us 
---------------------------------*/
/* line 386, app/assets/stylesheets/material/no.scss */
.map {
  height: 400px;
}

/* line 387, app/assets/stylesheets/material/no.scss */
.widget-contact {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 388, app/assets/stylesheets/material/no.scss */
.widget-contact li {
  margin-bottom: 10px;
  border-bottom: 1px solid #eff3f8;
  padding-bottom: 10px;
}

/* line 389, app/assets/stylesheets/material/no.scss */
.widget-contact li span {
  width: 120px;
  display: inline-block;
}

/*----------------- Gallery Wide ---------------*/
/* line 392, app/assets/stylesheets/material/no.scss */
.gallery-thumbnail img {
  width: 100%;
}

/* line 393, app/assets/stylesheets/material/no.scss */
.gallery-img img {
  width: 100%;
}

/* line 395, app/assets/stylesheets/material/no.scss */
.slide-ranger .ui-widget-header {
  background-color: #f51f8a;
}

/* line 396, app/assets/stylesheets/material/no.scss */
.slide-ranger .ui-state-default, .ui-widget-content .ui-state-default {
  background-color: #fff !important;
}

/* line 397, app/assets/stylesheets/material/no.scss */
.slide-ranger .ui-widget.ui-widget-content {
  border: 1px solid #f51f8a;
}

/* line 398, app/assets/stylesheets/material/no.scss */
.slide-ranger .ui-slider .ui-slider-handle {
  border-radius: 100%;
  border: 3px solid #f51f8a;
}

/*--------------------------------
Product Single Sidebar
---------------------------------*/
/* line 404, app/assets/stylesheets/material/no.scss */
.product-tabs ul {
  position: relative;
  z-index: 9;
}

/* line 405, app/assets/stylesheets/material/no.scss */
.product-tabs .nav > li {
  margin-top: -1px;
}

/* line 406, app/assets/stylesheets/material/no.scss */
.product-tabs .nav > li.active a {
  border-right: 1px solid #f4f6f8;
  background: #eff3f8;
  color: #f51f8a;
}

/* line 407, app/assets/stylesheets/material/no.scss */
.product-tabs .nav > li > a {
  background: #fff;
  border-bottom: 1px solid #dee7f2;
  border-right: 1px solid #dee7f2;
  border-left: 1px solid #dee7f2;
  border-top: 1px solid #dee7f2;
  color: #7e93ae;
}

/* line 408, app/assets/stylesheets/material/no.scss */
.product-tabs .nav > li > a:hover {
  background: #eff3f8;
  border-bottom: 1px solid #dee7f2;
  border-right: 1px solid transparent;
  border-left: 1px solid #dee7f2;
  border-top: 1px solid #dee7f2;
  color: #f51f8a;
}

/* line 409, app/assets/stylesheets/material/no.scss */
.product-tabs .nav > li > a i {
  padding-right: 10px;
}

/* line 410, app/assets/stylesheets/material/no.scss */
.tab-content {
  background: #eff3f8;
  padding: 40px;
  border: 1px solid #dee7f2;
  position: relative;
  z-index: 8;
  margin-left: -1px;
  margin-top: -1px;
}

/*--------------------------------
EMI Calculator
---------------------------------*/
/* line 416, app/assets/stylesheets/material/no.scss */
.loantable {
  margin-top: 40px;
}

/* line 417, app/assets/stylesheets/material/no.scss */
.table-head {
  background: #eff3f8;
}

/* line 418, app/assets/stylesheets/material/no.scss */
.loan-title {
  margin-bottom: 30px;
}

/* line 419, app/assets/stylesheets/material/no.scss */
.table-bordered {
  border: 1px solid transparent;
  color: #333;
}

/* line 420, app/assets/stylesheets/material/no.scss */
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border: 1px solid #dee4ee;
  color: #3c4d6b;
}

/* line 421, app/assets/stylesheets/material/no.scss */
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fafcfd;
}

/* line 422, app/assets/stylesheets/material/no.scss */
.table > thead > tr > th {
  padding: 12px 43px 12px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  text-align: center;
}

/*--------------------------------
Card Listing Page
---------------------------------*/
/* line 427, app/assets/stylesheets/material/no.scss */
.card-listing {
  padding: 26px;
  border: 1px solid #dee7f2;
  margin-bottom: 30px;
  background: #eff3f8;
}

/* line 430, app/assets/stylesheets/material/no.scss */
.card-content {
  margin-top: 20px;
}

/* line 431, app/assets/stylesheets/material/no.scss */
.card-content .btn {
  margin-right: 30px;
}

/* line 433, app/assets/stylesheets/material/no.scss */
.card-features {
  margin-top: 20px;
}

/* line 434, app/assets/stylesheets/material/no.scss */
.card-features ul li {
  border-bottom: 1px solid #eff3f8;
  padding-bottom: 10px;
  margin-bottom: 8px;
  line-height: 1.5;
}

/* line 436, app/assets/stylesheets/material/no.scss */
.card-head-sections {
  margin-bottom: 40px;
}

/*--------------------------------
Lender Listing Page
---------------------------------*/
/* line 441, app/assets/stylesheets/material/no.scss */
.lender-listing {
  border: 1px solid #dee7f2;
  margin-bottom: 30px;
}

/* line 442, app/assets/stylesheets/material/no.scss */
.lender-head {
  padding: 15px;
  background: #eff3f8;
  border-bottom: 1px solid #dee7f2;
}

/* line 443, app/assets/stylesheets/material/no.scss */
.lender-logo {
  display: inline-block;
  width: 170px;
}

/* line 444, app/assets/stylesheets/material/no.scss */
.lender-reviews {
  color: #ffb607;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

/* line 445, app/assets/stylesheets/material/no.scss */
.lender-rate-box {
  padding: 15px;
  border-bottom: 1px solid #dee7f2;
}

/* line 446, app/assets/stylesheets/material/no.scss */
.lender-ads-rate {
  border-right: 1px solid #dee7f2;
}

/* line 447, app/assets/stylesheets/material/no.scss */
.lender-ads-rate, .lender-compare-rate {
  display: inline-block;
  text-align: center;
  width: 143px;
}

/* line 448, app/assets/stylesheets/material/no.scss */
.lender-rate-value {
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
}

/* line 450, app/assets/stylesheets/material/no.scss */
.lender-feature-list {
  padding: 20px;
  border-bottom: 1px solid #dee7f2;
}

/* line 451, app/assets/stylesheets/material/no.scss */
.lender-feature-list ul {
  margin-bottom: 0px;
}

/* line 452, app/assets/stylesheets/material/no.scss */
.lender-feature-list ul li {
  font-size: 14px;
  margin-bottom: 8px;
}

/* line 453, app/assets/stylesheets/material/no.scss */
.lender-actions {
  text-align: center;
  padding: 20px;
}

/* line 454, app/assets/stylesheets/material/no.scss */
.lender-actions .btn-link {
  margin-top: 30px;
  font-size: 14px;
}

/* line 456, app/assets/stylesheets/material/no.scss */
.lender-head-sections {
  margin-bottom: 60px;
}

/* line 459, app/assets/stylesheets/material/no.scss */
.lender-rates-list {
  background-color: #eff4f9;
  padding: 20px;
  border-radius: 4px;
}

/* line 463, app/assets/stylesheets/material/no.scss */
.lender-loan-sections, .lender-apply, .lender-features, .lender-rates-list {
  margin-bottom: 60px;
}

/*--------------------------------
Loan Eligibility Page
---------------------------------*/
/* line 468, app/assets/stylesheets/material/no.scss */
.loan-eligibility-block {
  padding: 30px;
  background: #eff3f8;
}

/* line 469, app/assets/stylesheets/material/no.scss */
.loan-eligibility-form .input-group-addon {
  border-left: 2px solid #e6ecef;
  border-top: 2px solid #e6ecef;
  border-bottom: 2px solid #e6ecef;
  background: #fff;
}

/* line 470, app/assets/stylesheets/material/no.scss */
.loan-eligibility-form .control-label {
  margin-bottom: 10px;
}

/* line 472, app/assets/stylesheets/material/no.scss */
.loan-eligibility-form .form-group {
  display: block;
}

/* line 473, app/assets/stylesheets/material/no.scss */
.eligibility-amount {
  font-size: 52px;
  font-weight: 600;
  color: #15549a;
}

/* line 474, app/assets/stylesheets/material/no.scss */
.eligibility-text {
  font-size: 21px;
}

/*-----------------------------------------
Shortcodes
------------------------------------------*/
/* line 479, app/assets/stylesheets/material/no.scss */
.st-tabs {
  /*border: 1px solid #dee7f2; */
}

/* line 482, app/assets/stylesheets/material/no.scss */
.st-tabs .tab-content {
  padding: 30px;
  border: 1px solid #e6e9eb;
  background-color: #fff;
  margin-top: -1px;
}

/* line 483, app/assets/stylesheets/material/no.scss */
.st-tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #f51f8a;
  background-color: transparent;
  border-color: #dee7f2 #dee7f2 #dee7f2 #dee7f2;
}

/* line 484, app/assets/stylesheets/material/no.scss */
.st-tabs .nav-link {
  display: block;
  padding: 16px 64px;
  border: 1px solid #dee7f2;
  border-radius: 0px;
  background-color: #eff3f8;
  margin-bottom: -1px;
}

/* line 485, app/assets/stylesheets/material/no.scss */
.st-tabs a {
  font-size: 14px;
  font-style: initial;
  text-transform: uppercase;
  font-weight: 500;
  color: #7e93ae;
}

/* line 486, app/assets/stylesheets/material/no.scss */
.st-tabs a:hover {
  color: #f51f8a;
}

/*-----------------------------------------
Compare-Loan
------------------------------------------*/
/* line 495, app/assets/stylesheets/material/no.scss */
.rate, .fees, .compare-rate, .repayment {
  font-size: 18px;
  color: #4b5565;
  margin-bottom: 0px;
  margin-top: 15px;
  font-weight: 600;
}

/* line 499, app/assets/stylesheets/material/no.scss */
.comapre-action {
  padding-top: 15px;
}

/*-----------------------------------------
Error-page
------------------------------------------*/
/* line 504, app/assets/stylesheets/material/no.scss */
.error-img {
  text-align: center;
}

/* line 505, app/assets/stylesheets/material/no.scss */
.error-title {
  font-size: 36px;
  color: #192139;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 506, app/assets/stylesheets/material/no.scss */
.msg {
  font-size: 24px;
  color: #f51f8a;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*-----------------------------------------
Header - 2
------------------------------------------*/
/* line 511, app/assets/stylesheets/material/no.scss */
.header-2 {
  background-color: #fff;
  padding-top: 10px;
  position: relative;
  z-index: 9;
}

/* line 512, app/assets/stylesheets/material/no.scss */
.header-action {
  margin-top: 10px;
}

/* line 513, app/assets/stylesheets/material/no.scss */
.header-2 .navigation-2 {
  background-color: #fff;
  border-top: 1px solid #dee7f2;
  margin-top: 20px;
  border-bottom: 1px solid #dee7f2;
}

/* line 514, app/assets/stylesheets/material/no.scss */
.header-2 #navigation {
  float: left;
  margin-top: 0px;
  background-color: #fff;
}

/* line 515, app/assets/stylesheets/material/no.scss */
.header-2 #navigation > ul > li > a {
  padding: 16px 30px;
  font-size: 13px;
  text-decoration: none;
  color: #66707f;
  font-weight: 600;
  text-transform: uppercase;
  border-left: 1px solid #dee7f2;
}

/* line 516, app/assets/stylesheets/material/no.scss */
.header-2 #navigation > ul > li.has-sub > a {
  padding-right: 50px;
}

/* line 517, app/assets/stylesheets/material/no.scss */
.header-2 #navigation > ul > li.has-sub > a:before {
  position: absolute;
  right: 28px;
  font-family: FontAwesome;
  content: "\f107";
  transition: all .25s ease;
}

/*-----------------------------------------
Landing Page Template
------------------------------------------*/
/* line 524, app/assets/stylesheets/material/no.scss */
.hero-title {
  font-size: 48px;
  line-height: 52px;
  color: #fff;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 30px;
}

/* line 525, app/assets/stylesheets/material/no.scss */
.hero-captions {
  padding-top: 80px;
}

/* line 526, app/assets/stylesheets/material/no.scss */
.hero-text {
  color: #fff;
}

/* line 527, app/assets/stylesheets/material/no.scss */
.request-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}

/* line 528, app/assets/stylesheets/material/no.scss */
.form-title {
  color: #104b8c;
  font-size: 30px;
}

/* line 529, app/assets/stylesheets/material/no.scss */
.price-rate {
  margin-top: 30px;
}

/* line 530, app/assets/stylesheets/material/no.scss */
.price-big {
  font-size: 40px;
  color: #fff;
  font-weight: 800;
}

/* line 531, app/assets/stylesheets/material/no.scss */
.price-rate small {
  color: #fff;
  text-transform: uppercase;
}

/* line 532, app/assets/stylesheets/material/no.scss */
.new-price, .old-price {
  margin-bottom: 30px;
}

/*--------------- Features block class --------------*/
/* line 537, app/assets/stylesheets/material/no.scss */
.feature .feature-icon {
  margin-bottom: 20px;
}

/*-------- feature icon left --------*/
/* line 541, app/assets/stylesheets/material/no.scss */
.feature-left .feature-icon {
  float: left;
  color: #15549a;
  font-size: 28px;
  line-height: 1;
}

/* line 542, app/assets/stylesheets/material/no.scss */
.feature-left .feature-content {
  padding-left: 60px;
}

/*--------- feature center --------*/
/* line 546, app/assets/stylesheets/material/no.scss */
.feature-center {
  text-align: center;
}

/* line 547, app/assets/stylesheets/material/no.scss */
.feature-center .feature-icon {
  margin-bottom: 20px;
}

/* line 548, app/assets/stylesheets/material/no.scss */
.feature-icon-style {
  text-align: center;
}

/* line 549, app/assets/stylesheets/material/no.scss */
.feature-icon-style .feature-icon {
  margin: 0 auto 40px auto;
  background-color: #f4f6f8;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  padding: 24px;
  text-align: center;
  color: #15549a;
}

/* line 550, app/assets/stylesheets/material/no.scss */
.feature-icon-style .feature-title {
  margin-bottom: 16px;
}

/* line 551, app/assets/stylesheets/material/no.scss */
.call-to-action {
  color: #fff;
}

/* line 552, app/assets/stylesheets/material/no.scss */
.feature-circle {
  background-color: #f4f6f8;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  padding: 14px;
  color: #15549a;
  font-size: 26px;
  text-align: center;
}

/*----- updated in v 1.0.2 ----*/
/* line 555, app/assets/stylesheets/material/no.scss */
.feature-bg {
  background-color: #e3edf9;
  border-radius: 4px;
  padding: 60px;
  text-align: center;
}

/* line 556, app/assets/stylesheets/material/no.scss */
.feature-bg .feature-icon {
  background-color: #bacadd;
  color: #3c4d6b;
  width: 120px;
  height: 120px;
  border-radius: 120px;
  font-size: 40px;
  text-align: center;
  line-height: 120px;
  margin: 0 auto 40px auto;
}

/* line 558, app/assets/stylesheets/material/no.scss */
.feature-list-bar {
  background: #e3edf9;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #3c4d6b;
}

@media screen and (max-width: 1366px) {
  /* line 560, app/assets/stylesheets/material/no.scss */
  .slider-captions {
    position: absolute;
    bottom: 70px;
    width: 100%;
  }
  /* line 561, app/assets/stylesheets/material/no.scss */
  .slider-title {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
  }
  /* line 562, app/assets/stylesheets/material/no.scss */
  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 40%;
    left: 0px;
  }
  /* line 563, app/assets/stylesheets/material/no.scss */
  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 40%;
    right: 0px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {
  /* line 566, app/assets/stylesheets/material/no.scss */
  .slider-captions {
    position: absolute;
    bottom: 100px;
    width: 100%;
  }
}

/*============= media query max-width: 768px; =============*/
@media only screen and (max-width: 768px) {
  /* start query */
  /* line 573, app/assets/stylesheets/material/no.scss */
  .header {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /*--------------- slider for mobile view ( for mobile view  )---------- */
  /* line 577, app/assets/stylesheets/material/no.scss */
  .slider-captions {
    position: absolute;
    bottom: 28px;
    text-align: center;
  }
  /* line 578, app/assets/stylesheets/material/no.scss */
  .slider-title {
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
  }
  /* line 579, app/assets/stylesheets/material/no.scss */
  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 30%;
    left: 0px;
  }
  /* line 580, app/assets/stylesheets/material/no.scss */
  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 30%;
    right: 0px;
  }
  /*--------------- Page Header ( for mobile view  )---------- */
  /* line 583, app/assets/stylesheets/material/no.scss */
  .page-header {
    padding: 40px 0px 80px;
  }
  /* line 584, app/assets/stylesheets/material/no.scss */
  .page-title {
    font-size: 28px;
    margin-bottom: 14px;
  }
  /* line 585, app/assets/stylesheets/material/no.scss */
  .btn-action {
    text-align: center;
  }
  /* line 586, app/assets/stylesheets/material/no.scss */
  .btn-action .btn {
    padding: 10px;
    float: left;
    margin-left: 5px;
  }
  /* line 587, app/assets/stylesheets/material/no.scss */
  .sub-nav > .nav li a {
    border-bottom: 1px solid #dee7f2;
    margin-bottom: 0px;
  }
  /* line 588, app/assets/stylesheets/material/no.scss */
  .childern {
    padding-left: 0px;
  }
  /* line 589, app/assets/stylesheets/material/no.scss */
  .widget-share {
    background-color: #fff;
    padding: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  /* line 590, app/assets/stylesheets/material/no.scss */
  .search-nav {
    display: none;
  }
  /* line 591, app/assets/stylesheets/material/no.scss */
  .rate-counter-block {
    text-align: center;
  }
  /* line 592, app/assets/stylesheets/material/no.scss */
  .rate-icon {
    float: none;
    margin-bottom: 10px;
  }
  /* line 593, app/assets/stylesheets/material/no.scss */
  .loan-rate {
    font-size: 24px;
  }
  /*--------------- index - 4 ()-------------*/
  /* line 596, app/assets/stylesheets/material/no.scss */
  .header-transparent {
    position: relative;
    background-color: #15549a;
  }
  /* line 597, app/assets/stylesheets/material/no.scss */
  .header-transparent #navigation.small-screen #menu-button {
    display: block;
    padding: 16px 0px;
    color: #f51f8a;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 1px solid #0a4587;
    margin-top: 20px;
  }
  /* line 598, app/assets/stylesheets/material/no.scss */
  .header-transparent #navigation.small-screen ul li {
    width: 100%;
    border-top: 1px solid #0a4587;
  }
  /* line 599, app/assets/stylesheets/material/no.scss */
  .header-transparent #navigation.small-screen .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid #0a4587;
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  /* line 600, app/assets/stylesheets/material/no.scss */
  .header-transparent #navigation.small-screen ul ul li a {
    color: #fff;
    background: none;
  }
  /* line 601, app/assets/stylesheets/material/no.scss */
  .video-play {
    left: 39%;
    top: 45px;
  }
  /* line 602, app/assets/stylesheets/material/no.scss */
  .st-tabs .nav-link {
    padding: 16px 11px;
  }
  /* line 603, app/assets/stylesheets/material/no.scss */
  .lender-ads-rate, .lender-compare-rate {
    width: 123px;
  }
  /* line 604, app/assets/stylesheets/material/no.scss */
  .sub-nav > .nav li a {
    padding: 8px 0px;
    font-size: 11px;
  }
  /* line 605, app/assets/stylesheets/material/no.scss */
  .portfolioFilter a {
    text-transform: uppercase;
    background-color: #eff3f8;
    padding: 9px 23px;
  }
}

@media only screen and (max-width: 460px) {
  /*--------------- slider for mobile view ( for mobile view  )---------- */
  /* line 610, app/assets/stylesheets/material/no.scss */
  .slider-captions {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
  }
  /* line 611, app/assets/stylesheets/material/no.scss */
  .slider-title {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
  }
  /* line 612, app/assets/stylesheets/material/no.scss */
  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 30%;
    left: 0px;
  }
  /* line 613, app/assets/stylesheets/material/no.scss */
  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 30%;
    right: 0px;
  }
  /* line 614, app/assets/stylesheets/material/no.scss */
  .rate-icon {
    float: none;
  }
  /* line 615, app/assets/stylesheets/material/no.scss */
  .rate-counter-block {
    text-align: center;
  }
  /* line 616, app/assets/stylesheets/material/no.scss */
  .loan-rate {
    font-size: 24px;
  }
  /* line 617, app/assets/stylesheets/material/no.scss */
  .widget-share {
    background-color: #fff;
    padding: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  /* line 618, app/assets/stylesheets/material/no.scss */
  .search-nav {
    display: none;
  }
  /* line 619, app/assets/stylesheets/material/no.scss */
  .top-text {
    padding-left: 14px;
  }
  /* line 620, app/assets/stylesheets/material/no.scss */
  .header-action {
    text-align: center;
  }
  /* line 621, app/assets/stylesheets/material/no.scss */
  .rate-badge {
    display: none;
  }
  /* line 622, app/assets/stylesheets/material/no.scss */
  .video-play {
    left: 39%;
  }
}

@media only screen and (max-width: 320px) {
  /*--------------- slider for mobile view ( for mobile view  )---------- */
  /* line 627, app/assets/stylesheets/material/no.scss */
  .slider-captions {
    position: absolute;
    bottom: 18px;
    text-align: center;
    width: 100%;
  }
  /* line 628, app/assets/stylesheets/material/no.scss */
  .slider-title {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 26px;
  }
  /* line 629, app/assets/stylesheets/material/no.scss */
  .slider .owl-prev {
    position: absolute;
    left: 0px;
    top: 30%;
    left: 0px;
  }
  /* line 630, app/assets/stylesheets/material/no.scss */
  .slider .owl-next {
    position: absolute;
    right: 0px;
    top: 30%;
    right: 0px;
  }
  /* line 631, app/assets/stylesheets/material/no.scss */
  .rate-icon {
    float: none;
  }
  /* line 632, app/assets/stylesheets/material/no.scss */
  .rate-counter-block {
    text-align: center;
  }
  /* line 633, app/assets/stylesheets/material/no.scss */
  .loan-rate {
    font-size: 24px;
  }
  /* line 634, app/assets/stylesheets/material/no.scss */
  .widget-share {
    background-color: #fff;
    padding: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  /* line 635, app/assets/stylesheets/material/no.scss */
  .search-nav {
    display: none;
  }
}
