<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="footer-logo">
                    <%= image_tag("moneyloop/logo_blue.png", alt: "Moneyloop - Logo (blue)")%> 
                </div>
            </div>
            <!-- Location and Social Media Tags -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Headquarters</h2>
                    </div>
                    <address>
                       <p>Level 4, 11 York Street<br> Sydney NSW</p>
                    </address>
                    <ul class="social-icon">
                        <li><a href="https://www.facebook.com/moneyloopfinance/" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                        <li><a href="/sorry" class="fa fa-twitter"></a></li>
                        <li><a href="/sorry" class="fa fa-linkedin"></a></li>
                    </ul>
                    <div class="copyright-text"> 
                        <p>Copyright &copy; All Rights Reserved. <br>2020 MoneyLoop</p>
                    </div>
                </div>
            </div>
            <!-- Contact Info and Quick Links -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
                    <address>
                        <p>1300 339 993</p>
                        <p><a href="mailto:contact@moneyloop.com.au">contact@moneyloop.com.au</a></p>
                    </address>
                </div>
            </div>
            <!-- Quick Links -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="footer-info">
                    <div class="footer_menu">
                        <h2>Quick Links</h2>
                        <ul>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Investor</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>