<footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Logo -->
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="footer-logo">
                    <%= image_tag("moneyloop/logo_blue.png", alt: "Moneyloop - Logo (blue)")%> 
                </div>
            </div>
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-12 col-12"></div>
            <%# Contact Info and Quick Links %>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="footer-info">
                    <div class="section-title">
                        <h2>Contact</h2>
                    </div>
                    <address>
                        <p>1300 339 993</p>
                        <p><a href="mailto:hello@moneyloop.com.au">hello@moneyloop.com.au</a></p>
                    </address>
                    <%#% Location and Social Media Tags %>
                    <address>
                       <p>Level 4, 11 York Street<br> Sydney NSW</p>
                    </address>
                    <ul class="social-icon">
                        <li><a href="https://www.facebook.com/moneyloopfinance/" class="fa fa-facebook-square"></a></li>
                        <li><a href="/sorry" class="fa fa-twitter"></a></li>
                        <li><a href="https://www.linkedin.com/company/moneyloop/" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
            <!-- Quick Links -->
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="footer-info">
                    <div class="footer_menu">
                        <h2>More Info</h2>
                        <ul>
                            <li><a href="#">Career</a></li><br/>
                            <li><a href="#">Investor</a></li><br/>
                            <li><a href="#">Terms & Conditions</a></li><br/>
                            <li><a href="#">Refund Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xl-6 offset-xl-6">
                <%# Copyright %>
                <div class="copyright-text"> 
                    <p>Copyright &copy; All Rights Reserved. 2020 MoneyLoop</p>
                </div>
            </div>
        </div>
    </div>
</footer>