                  <select id="Employment_Type" name="Employment_Type" placeholder="Employment Type" class="form-control">
                    <option> Job Title </option>
                    <option value="111111"> Chief Executive or Managing Director</option>
                    <option value="111211"> Corporate General Manager</option>
                    <option value="111212"> Defence Force Senior Officer</option>
                    <option value="111311"> Local Government Legislator</option>
                    <option value="111312"> Member of Parliament</option>
                    <option value="111399"> Legislators nec</option>
                    <option value="121111"> Aquaculture Farmer</option>
                    <option value="121211"> Cotton Grower</option>
                    <option value="121212"> Flower Grower</option>
                    <option value="121213"> Fruit or Nut Grower</option>
                    <option value="121214"> Grain, Oilseed or Pasture Grower (Aus) \ Field Crop Grower (NZ)</option>
                    <option value="121215"> Grape Grower</option>
                    <option value="121216"> Mixed Crop Farmer</option>
                    <option value="121217"> Sugar Cane Grower</option>
                    <option value="121218"> Turf Grower</option>
                    <option value="121221"> Vegetable Grower (Aus) \ Market Gardener (NZ)</option>
                    <option value="121299"> Crop Farmers nec</option>
                    <option value="121311"> Apiarist</option>
                    <option value="121312"> Beef Cattle Farmer</option>
                    <option value="121313"> Dairy Cattle Farmer</option>
                    <option value="121314"> Deer Farmer</option>
                    <option value="121315"> Goat Farmer</option>
                    <option value="121316"> Horse Breeder</option>
                    <option value="121317"> Mixed Livestock Farmer</option>
                    <option value="121318"> Pig Farmer</option>
                    <option value="121321"> Poultry Farmer</option>
                    <option value="121322"> Sheep Farmer</option>
                    <option value="121399"> Livestock Farmers nec</option>
                    <option value="121411"> Mixed Crop and Livestock Farmer</option>
                    <option value="131112"> Sales and Marketing Manager</option>
                    <option value="131113"> Advertising Manager</option>
                    <option value="131114"> Public Relations Manager</option>
                    <option value="132111"> Corporate Services Manager</option>
                    <option value="132211"> Finance Manager</option>
                    <option value="132311"> Human Resource Manager</option>
                    <option value="132411"> Policy and Planning Manager</option>
                    <option value="132511"> Research and Development Manager</option>
                    <option value="133111"> Construction Project Manager</option>
                    <option value="133112"> Project Builder</option>
                    <option value="133211"> Engineering Manager</option>
                    <option value="133311"> Importer or Exporter</option>
                    <option value="133312"> Wholesaler</option>
                    <option value="133411"> Manufacturer</option>
                    <option value="133511"> Production Manager (Forestry)</option>
                    <option value="133512"> Production Manager (Manufacturing)</option>
                    <option value="133513"> Production Manager (Mining)</option>
                    <option value="133611"> Supply and Distribution Manager</option>
                    <option value="133612"> Procurement Manager</option>
                    <option value="134111"> Child Care Centre Manager</option>
                    <option value="134211"> Medical Administrator (Aus) \ Medical Superintendent (NZ)</option>
                    <option value="134212"> Nursing Clinical Director</option>
                    <option value="134213"> Primary Health Organisation Manager</option>
                    <option value="134214"> Welfare Centre Manager</option>
                    <option value="134299"> Health and Welfare Services Managers nec</option>
                    <option value="134311"> School Principal</option>
                    <option value="134411"> Faculty Head</option>
                    <option value="134412"> Regional Education Manager</option>
                    <option value="134499"> Education Managers nec</option>
                    <option value="135111"> Chief Information Officer</option>
                    <option value="135112"> ICT Project Manager</option>
                    <option value="135199"> ICT Managers nec</option>
                    <option value="139111"> Commissioned Defence Force Officer</option>
                    <option value="139112"> Commissioned Fire Officer</option>
                    <option value="139113"> Commissioned Police Officer</option>
                    <option value="139211"> Senior Non-commissioned Defence Force Member</option>
                    <option value="139911"> Arts Administrator or Manager</option>
                    <option value="139912"> Environmental Manager</option>
                    <option value="139913"> Laboratory Manager</option>
                    <option value="139914"> Quality Assurance Manager</option>
                    <option value="139915"> Sports Administrator</option>
                    <option value="139999"> Specialist Managers nec</option>
                    <option value="141111"> Cafe or Restaurant Manager</option>
                    <option value="141211"> Caravan Park and Camping Ground Manager</option>
                    <option value="141311"> Hotel or Motel Manager</option>
                    <option value="141411"> Licensed Club Manager</option>
                    <option value="141911"> Bed and Breakfast Operator</option>
                    <option value="141912"> Retirement Village Manager</option>
                    <option value="141999"> Accommodation and Hospitality Managers nec</option>
                    <option value="142111"> Retail Manager (General)</option>
                    <option value="142112"> Antique Dealer</option>
                    <option value="142113"> Betting Agency Manager</option>
                    <option value="142114"> Hair or Beauty Salon Manager</option>
                    <option value="142115"> Post Office Manager</option>
                    <option value="142116"> Travel Agency Manager</option>
                    <option value="149111"> Amusement Centre Manager</option>
                    <option value="149112"> Fitness Centre Manager</option>
                    <option value="149113"> Sports Centre Manager</option>
                    <option value="149211"> Call or Contact Centre Manager</option>
                    <option value="149212"> Customer Service Manager</option>
                    <option value="149311"> Conference and Event Organiser</option>
                    <option value="149411"> Fleet Manager</option>
                    <option value="149412"> Railway Station Manager</option>
                    <option value="149413"> Transport Company Manager</option>
                    <option value="149911"> Boarding Kennel or Cattery Operator</option>
                    <option value="149912"> Cinema or Theatre Manager</option>
                    <option value="149913"> Facilities Manager</option>
                    <option value="149914"> Financial Institution Branch Manager</option>
                    <option value="149915"> Equipment Hire Manager</option>
                    <option value="149999"> Hospitality, Retail and Service Managers nec</option>
                    <option value="211111"> Actor</option>
                    <option value="211112"> Dancer or Choreographer</option>
                    <option value="211113"> Entertainer or Variety Artist</option>
                    <option value="211199"> Actors, Dancers and Other Entertainers nec</option>
                    <option value="211211"> Composer</option>
                    <option value="211212"> Music Director</option>
                    <option value="211213"> Musician (Instrumental)</option>
                    <option value="211214"> Singer</option>
                    <option value="211299"> Music Professionals nec</option>
                    <option value="211311"> Photographer</option>
                    <option value="211411"> Painter (Visual Arts)</option>
                    <option value="211412"> Potter or Ceramic Artist</option>
                    <option value="211413"> Sculptor</option>
                    <option value="211499"> Visual Arts and Crafts Professionals nec</option>
                    <option value="212111"> Artistic Director</option>
                    <option value="212112"> Media Producer (excluding Video)</option>
                    <option value="212113"> Radio Presenter</option>
                    <option value="212114"> Television Presenter</option>
                    <option value="212211"> Author</option>
                    <option value="212212"> Book or Script Editor</option>
                    <option value="212311"> Art Director (Film, Television or Stage)</option>
                    <option value="212312"> Director (Film, Television, Radio or Stage)</option>
                    <option value="212313"> Director of Photography</option>
                    <option value="212314"> Film and Video Editor</option>
                    <option value="212315"> Program Director (Television or Radio)</option>
                    <option value="212316"> Stage Manager</option>
                    <option value="212317"> Technical Director</option>
                    <option value="212318"> Video Producer</option>
                    <option value="212399"> Film, Television, Radio and Stage Directors nec</option>
                    <option value="212411"> Copywriter</option>
                    <option value="212412"> Newspaper or Periodical Editor</option>
                    <option value="212413"> Print Journalist</option>
                    <option value="212414"> Radio Journalist</option>
                    <option value="212415"> Technical Writer</option>
                    <option value="212416"> Television Journalist</option>
                    <option value="212499"> Journalists and Other Writers nec</option>
                    <option value="221111"> Accountant (General)</option>
                    <option value="221112"> Management Accountant</option>
                    <option value="221113"> Taxation Accountant</option>
                    <option value="221211"> Company Secretary</option>
                    <option value="221212"> Corporate Treasurer</option>
                    <option value="221213"> External Auditor</option>
                    <option value="221214"> Internal Auditor</option>
                    <option value="222111"> Commodities Trader</option>
                    <option value="222112"> Finance Broker</option>
                    <option value="222113"> Insurance Broker</option>
                    <option value="222199"> Financial Brokers nec</option>
                    <option value="222211"> Financial Market Dealer</option>
                    <option value="222212"> Futures Trader</option>
                    <option value="222213"> Stockbroking Dealer</option>
                    <option value="222299"> Financial Dealers nec</option>
                    <option value="222311"> Financial Investment Adviser</option>
                    <option value="222312"> Financial Investment Manager</option>
                    <option value="223111"> Human Resource Adviser</option>
                    <option value="223112"> Recruitment Consultant</option>
                    <option value="223113"> Workplace Relations Adviser</option>
                    <option value="223211"> ICT Trainer</option>
                    <option value="223311"> Training and Development Professional</option>
                    <option value="224111"> Actuary</option>
                    <option value="224112"> Mathematician</option>
                    <option value="224113"> Statistician</option>
                    <option value="224211"> Archivist</option>
                    <option value="224212"> Gallery or Museum Curator</option>
                    <option value="224213"> Health Information Manager</option>
                    <option value="224214"> Records Manager</option>
                    <option value="224311"> Economist</option>
                    <option value="224411"> Intelligence Officer</option>
                    <option value="224412"> Policy Analyst</option>
                    <option value="224511"> Land Economist</option>
                    <option value="224512"> Valuer</option>
                    <option value="224611"> Librarian</option>
                    <option value="224711"> Management Consultant</option>
                    <option value="224712"> Organisation and Methods Analyst</option>
                    <option value="224911"> Electorate Officer</option>
                    <option value="224912"> Liaison Officer</option>
                    <option value="224913"> Migration Agent (Aus) \ Immigration Consultant (NZ)</option>
                    <option value="224914"> Patents Examiner</option>
                    <option value="224999"> Information and Organisation Professionals nec</option>
                    <option value="225111"> Advertising Specialist</option>
                    <option value="225112"> Market Research Analyst</option>
                    <option value="225113"> Marketing Specialist</option>
                    <option value="225211"> ICT Account Manager</option>
                    <option value="225212"> ICT Business Development Manager</option>
                    <option value="225213"> ICT Sales Representative</option>
                    <option value="225311"> Public Relations Professional</option>
                    <option value="225411"> Sales Representative (Industrial Products)</option>
                    <option value="225412"> Sales Representative (Medical and Pharmaceutical Products)</option>
                    <option value="225499"> Technical Sales Representatives nec</option>
                    <option value="231111"> Aeroplane Pilot</option>
                    <option value="231112"> Air Traffic Controller</option>
                    <option value="231113"> Flying Instructor</option>
                    <option value="231114"> Helicopter Pilot</option>
                    <option value="231199"> Air Transport Professionals nec</option>
                    <option value="231211"> Master Fisher</option>
                    <option value="231212"> Ship&#39;s Engineer</option>
                    <option value="231213"> Ship&#39;s Master</option>
                    <option value="231214"> Ship&#39;s Officer</option>
                    <option value="231215"> Marine Surveyor</option>
                    <option value="231299"> Marine Transport Professionals nec</option>
                    <option value="232111"> Architect</option>
                    <option value="232112"> Landscape Architect</option>
                    <option value="232211"> code retired (ANZSCO Revision 1)</option>
                    <option value="232212"> Surveyor</option>
                    <option value="232213"> Cartographer</option>
                    <option value="232214"> Other Spatial Scientist</option>
                    <option value="232311"> Fashion Designer</option>
                    <option value="232312"> Industrial Designer</option>
                    <option value="232313"> Jewellery Designer</option>
                    <option value="232411"> Graphic Designer</option>
                    <option value="232412"> Illustrator</option>
                    <option value="232413"> Multimedia Designer</option>
                    <option value="232414"> Web Designer</option>
                    <option value="232511"> Interior Designer</option>
                    <option value="232611"> Urban and Regional Planner</option>
                    <option value="233111"> Chemical Engineer</option>
                    <option value="233112"> Materials Engineer</option>
                    <option value="233211"> Civil Engineer</option>
                    <option value="233212"> Geotechnical Engineer</option>
                    <option value="233213"> Quantity Surveyor</option>
                    <option value="233214"> Structural Engineer</option>
                    <option value="233215"> Transport Engineer</option>
                    <option value="233311"> Electrical Engineer</option>
                    <option value="233411"> Electronics Engineer</option>
                    <option value="233511"> Industrial Engineer</option>
                    <option value="233512"> Mechanical Engineer</option>
                    <option value="233513"> Production or Plant Engineer</option>
                    <option value="233611"> Mining Engineer (excluding Petroleum)</option>
                    <option value="233612"> Petroleum Engineer</option>
                    <option value="233911"> Aeronautical Engineer</option>
                    <option value="233912"> Agricultural Engineer</option>
                    <option value="233913"> Biomedical Engineer</option>
                    <option value="233914"> Engineering Technologist</option>
                    <option value="233915"> Environmental Engineer</option>
                    <option value="233916"> Naval Architect (Aus) \ Marine Designer (NZ)</option>
                    <option value="233999"> Engineering Professionals nec</option>
                    <option value="234111"> Agricultural Consultant</option>
                    <option value="234112"> Agricultural Scientist</option>
                    <option value="234113"> Forester (Aus) \ Forest Scientist (NZ)</option>
                    <option value="234211"> Chemist</option>
                    <option value="234212"> Food Technologist</option>
                    <option value="234213"> Wine Maker</option>
                    <option value="234311"> Conservation Officer</option>
                    <option value="234312"> Environmental Consultant</option>
                    <option value="234313"> Environmental Research Scientist</option>
                    <option value="234314"> Park Ranger</option>
                    <option value="234399"> Environmental Scientists nec</option>
                    <option value="234411"> Geologist</option>
                    <option value="234412"> Geophysicist</option>
                    <option value="234413"> Hydrogeologist</option>
                    <option value="234511"> Life Scientist (General)</option>
                    <option value="234512"> code retired</option>
                    <option value="234513"> Biochemist</option>
                    <option value="234514"> Biotechnologist</option>
                    <option value="234515"> Botanist</option>
                    <option value="234516"> Marine Biologist</option>
                    <option value="234517"> Microbiologist</option>
                    <option value="234518"> Zoologist</option>
                    <option value="234599"> Life Scientists nec</option>
                    <option value="234611"> Medical Laboratory Scientist</option>
                    <option value="234711"> Veterinarian</option>
                    <option value="234911"> Conservator</option>
                    <option value="234912"> Metallurgist</option>
                    <option value="234913"> Meteorologist</option>
                    <option value="234914"> Physicist</option>
                    <option value="234915"> Exercise Physiologist</option>
                    <option value="234999"> Natural and Physical Science Professionals nec</option>
                    <option value="241111"> Early Childhood (Pre-primary School) Teacher</option>
                    <option value="241112"> Kaiako Kohanga Reo (Maori Language Nest Teacher)</option>
                    <option value="241211"> Kaiako Kura Kaupapa Maori (Maori-medium Primary School Teacher)</option>
                    <option value="241212"> Pouako Kura Kaupapa Maori (Maori-medium Primary School Senior Teacher)</option>
                    <option value="241213"> Primary School Teacher</option>
                    <option value="241311"> Middle School Teacher (Aus) \ Intermediate School Teacher (NZ)</option>
                    <option value="241411"> Secondary School Teacher</option>
                    <option value="241511"> Special Needs Teacher</option>
                    <option value="241512"> Teacher of the Hearing Impaired</option>
                    <option value="241513"> Teacher of the Sight Impaired</option>
                    <option value="241599"> Special Education Teachers nec</option>
                    <option value="242111"> University Lecturer</option>
                    <option value="242112"> University Tutor</option>
                    <option value="242211"> Vocational Education Teacher (Aus) \ Polytechnic Teacher (NZ)</option>
                    <option value="249111"> Education Adviser</option>
                    <option value="249112"> Education Reviewer</option>
                    <option value="249211"> Art Teacher (Private Tuition)</option>
                    <option value="249212"> Dance Teacher (Private Tuition)</option>
                    <option value="249213"> Drama Teacher (Private Tuition)</option>
                    <option value="249214"> Music Teacher (Private Tuition)</option>
                    <option value="249299"> Private Tutors and Teachers nec</option>
                    <option value="249311"> Teacher of English to Speakers of Other Languages</option>
                    <option value="251111"> Dietitian</option>
                    <option value="251112"> Nutritionist</option>
                    <option value="251211"> Medical Diagnostic Radiographer</option>
                    <option value="251212"> Medical Radiation Therapist</option>
                    <option value="251213"> Nuclear Medicine Technologist</option>
                    <option value="251214"> Sonographer</option>
                    <option value="251311"> Environmental Health Officer</option>
                    <option value="251312"> Occupational Health and Safety Adviser</option>
                    <option value="251411"> Optometrist</option>
                    <option value="251412"> Orthoptist</option>
                    <option value="251511"> Hospital Pharmacist</option>
                    <option value="251512"> Industrial Pharmacist</option>
                    <option value="251513"> Retail Pharmacist</option>
                    <option value="251911"> Health Promotion Officer</option>
                    <option value="251912"> Orthotist or Prosthetist</option>
                    <option value="251999"> Health Diagnostic and Promotion Professionals nec</option>
                    <option value="252111"> Chiropractor</option>
                    <option value="252112"> Osteopath</option>
                    <option value="252211"> Acupuncturist</option>
                    <option value="252212"> Homoeopath</option>
                    <option value="252213"> Naturopath</option>
                    <option value="252214"> Traditional Chinese Medicine Practitioner</option>
                    <option value="252215"> Traditional Maori Health Practitioner</option>
                    <option value="252299"> Complementary Health Therapists nec</option>
                    <option value="252311"> Dental Specialist</option>
                    <option value="252312"> Dentist</option>
                    <option value="252411"> Occupational Therapist</option>
                    <option value="252511"> Physiotherapist</option>
                    <option value="252611"> Podiatrist</option>
                    <option value="252711"> Audiologist</option>
                    <option value="252712"> Speech Pathologist (Aus) \ Speech Language Therapist (NZ)</option>
                    <option value="253111"> General  Practitioner</option>
                    <option value="253112"> Resident Medical Officer</option>
                    <option value="253211"> Anaesthetist</option>
                    <option value="253311"> Specialist Physician (General Medicine)</option>
                    <option value="253312"> Cardiologist</option>
                    <option value="253313"> Clinical Haematologist</option>
                    <option value="253314"> Medical Oncologist</option>
                    <option value="253315"> Endocrinologist</option>
                    <option value="253316"> Gastroenterologist</option>
                    <option value="253317"> Intensive Care Specialist</option>
                    <option value="253318"> Neurologist</option>
                    <option value="253321"> Paediatrician</option>
                    <option value="253322"> Renal Medicine Specialist</option>
                    <option value="253323"> Rheumatologist</option>
                    <option value="253324"> Thoracic Medicine Specialist</option>
                    <option value="253399"> Specialist Physicians nec</option>
                    <option value="253411"> Psychiatrist</option>
                    <option value="253511"> Surgeon (General)</option>
                    <option value="253512"> Cardiothoracic Surgeon</option>
                    <option value="253513"> Neurosurgeon</option>
                    <option value="253514"> Orthopaedic Surgeon</option>
                    <option value="253515"> Otorhinolaryngologist</option>
                    <option value="253516"> Paediatric Surgeon</option>
                    <option value="253517"> Plastic and Reconstructive Surgeon</option>
                    <option value="253518"> Urologist</option>
                    <option value="253521"> Vascular Surgeon</option>
                    <option value="253911"> Dermatologist</option>
                    <option value="253912"> Emergency Medicine Specialist</option>
                    <option value="253913"> Obstetrician and Gynaecologist</option>
                    <option value="253914"> Ophthalmologist</option>
                    <option value="253915"> Pathologist</option>
                    <option value="253916"> code retired (ANZSCO Revision 1)</option>
                    <option value="253917"> Diagnostic and Interventional Radiologist</option>
                    <option value="253918"> Radiation Oncologist</option>
                    <option value="253999"> Medical Practitioners nec</option>
                    <option value="254111"> Midwife</option>
                    <option value="254211"> Nurse Educator</option>
                    <option value="254212"> Nurse Researcher</option>
                    <option value="254311"> Nurse Manager</option>
                    <option value="254411"> Nurse Practitioner</option>
                    <option value="254412"> Registered Nurse (Aged Care)</option>
                    <option value="254413"> Registered Nurse (Child and Family Health)</option>
                    <option value="254414"> Registered Nurse (Community Health)</option>
                    <option value="254415"> Registered Nurse (Critical Care and Emergency)</option>
                    <option value="254416"> Registered Nurse (Developmental Disability)</option>
                    <option value="254417"> Registered Nurse (Disability and Rehabilitation)</option>
                    <option value="254418"> Registered Nurse (Medical)</option>
                    <option value="254421"> Registered Nurse (Medical Practice)</option>
                    <option value="254422"> Registered Nurse (Mental Health)</option>
                    <option value="254423"> Registered Nurse (Perioperative)</option>
                    <option value="254424"> Registered Nurse (Surgical)</option>
                    <option value="254425"> Registered Nurse (Paediatrics)</option>
                    <option value="254499"> Registered Nurses nec</option>
                    <option value="261111"> ICT Business Analyst</option>
                    <option value="261112"> Systems Analyst</option>
                    <option value="261211"> Multimedia Specialist</option>
                    <option value="261212"> Web Developer</option>
                    <option value="261311"> Analyst Programmer</option>
                    <option value="261312"> Developer Programmer</option>
                    <option value="261313"> Software Engineer</option>
                    <option value="261314"> Software Tester</option>
                    <option value="261399"> Software and Applications Programmers nec</option>
                    <option value="262111"> Database Administrator</option>
                    <option value="262112"> ICT Security Specialist</option>
                    <option value="262113"> Systems Administrator</option>
                    <option value="263111"> Computer Network and Systems Engineer</option>
                    <option value="263112"> Network Administrator</option>
                    <option value="263113"> Network Analyst</option>
                    <option value="263211"> ICT Quality Assurance Engineer</option>
                    <option value="263212"> ICT Support Engineer</option>
                    <option value="263213"> ICT Systems Test Engineer</option>
                    <option value="263299"> ICT Support and Test Engineers nec</option>
                    <option value="263311"> Telecommunications Engineer</option>
                    <option value="263312"> Telecommunications Network Engineer</option>
                    <option value="271111"> Barrister</option>
                    <option value="271211"> Judge</option>
                    <option value="271212"> Magistrate</option>
                    <option value="271213"> Tribunal Member</option>
                    <option value="271214"> Intellectual Property Lawyer</option>
                    <option value="271299"> Judicial and Other Legal Professionals nec</option>
                    <option value="271311"> Solicitor</option>
                    <option value="272111"> Careers Counsellor</option>
                    <option value="272112"> Drug and Alcohol Counsellor</option>
                    <option value="272113"> Family and Marriage Counsellor</option>
                    <option value="272114"> Rehabilitation Counsellor</option>
                    <option value="272115"> Student Counsellor</option>
                    <option value="272199"> Counsellors nec</option>
                    <option value="272211"> Minister of Religion</option>
                    <option value="272311"> Clinical Psychologist</option>
                    <option value="272312"> Educational Psychologist</option>
                    <option value="272313"> Organisational Psychologist</option>
                    <option value="272314"> Psychotherapist</option>
                    <option value="272399"> Psychologists nec</option>
                    <option value="272411"> Historian</option>
                    <option value="272412"> Interpreter</option>
                    <option value="272413"> Translator</option>
                    <option value="272414"> Archaeologist</option>
                    <option value="272499"> Social Professionals nec</option>
                    <option value="272511"> Social Worker</option>
                    <option value="272611"> Community Arts Worker</option>
                    <option value="272612"> Recreation Officer (Aus) \ Recreation Coordinator (NZ)</option>
                    <option value="272613"> Welfare Worker</option>
                    <option value="311111"> Agricultural Technician</option>
                    <option value="311211"> Anaesthetic Technician</option>
                    <option value="311212"> Cardiac Technician</option>
                    <option value="311213"> Medical Laboratory Technician</option>
                    <option value="311214"> Operating Theatre Technician</option>
                    <option value="311215"> Pharmacy Technician</option>
                    <option value="311216"> Pathology Collector (Aus) \ Phlebotomist (NZ)</option>
                    <option value="311299"> Medical Technicians nec</option>
                    <option value="311311"> Fisheries Officer</option>
                    <option value="311312"> Meat Inspector</option>
                    <option value="311313"> Quarantine Officer</option>
                    <option value="311399"> Primary Products Inspectors nec</option>
                    <option value="311411"> Chemistry Technician</option>
                    <option value="311412"> Earth Science Technician</option>
                    <option value="311413"> Life Science Technician</option>
                    <option value="311414"> School Laboratory Technician</option>
                    <option value="311415"> Hydrographer</option>
                    <option value="311499"> Science Technicians nec</option>
                    <option value="312111"> Architectural Draftsperson</option>
                    <option value="312112"> Building Associate</option>
                    <option value="312113"> Building Inspector</option>
                    <option value="312114"> Construction Estimator</option>
                    <option value="312115"> Plumbing Inspector</option>
                    <option value="312116"> Surveying or Spatial Science Technician</option>
                    <option value="312199"> Architectural, Building and Surveying Technicians nec</option>
                    <option value="312211"> Civil Engineering Draftsperson</option>
                    <option value="312212"> Civil Engineering Technician</option>
                    <option value="312311"> Electrical Engineering Draftsperson</option>
                    <option value="312312"> Electrical Engineering Technician</option>
                    <option value="312411"> Electronic Engineering Draftsperson</option>
                    <option value="312412"> Electronic Engineering Technician</option>
                    <option value="312511"> Mechanical Engineering Draftsperson</option>
                    <option value="312512"> Mechanical Engineering Technician</option>
                    <option value="312611"> Safety Inspector</option>
                    <option value="312911"> Maintenance Planner</option>
                    <option value="312912"> Metallurgical or Materials Technician</option>
                    <option value="312913"> Mine Deputy</option>
                    <option value="312999"> Building and Engineering Technicians nec</option>
                    <option value="313111"> Hardware Technician</option>
                    <option value="313112"> ICT Customer Support Officer</option>
                    <option value="313113"> Web Administrator</option>
                    <option value="313199"> ICT Support Technicians nec</option>
                    <option value="313211"> Radiocommunications Technician</option>
                    <option value="313212"> Telecommunications Field Engineer</option>
                    <option value="313213"> Telecommunications Network Planner</option>
                    <option value="313214"> Telecommunications Technical Officer or Technologist</option>
                    <option value="321111"> Automotive Electrician</option>
                    <option value="321211"> Motor Mechanic (General)</option>
                    <option value="321212"> Diesel Motor Mechanic</option>
                    <option value="321213"> Motorcycle Mechanic</option>
                    <option value="321214"> Small Engine Mechanic</option>
                    <option value="322111"> Blacksmith</option>
                    <option value="322112"> Electroplater</option>
                    <option value="322113"> Farrier</option>
                    <option value="322114"> Metal Casting Trades Worker</option>
                    <option value="322115"> Metal Polisher</option>
                    <option value="322211"> Sheetmetal Trades Worker</option>
                    <option value="322311"> Metal Fabricator</option>
                    <option value="322312"> Pressure Welder</option>
                    <option value="322313"> Welder (First Class) (Aus) \ Welder (NZ)</option>
                    <option value="323111"> Aircraft Maintenance Engineer (Avionics)</option>
                    <option value="323112"> Aircraft Maintenance Engineer (Mechanical)</option>
                    <option value="323113"> Aircraft Maintenance Engineer (Structures)</option>
                    <option value="323211"> Fitter (General)</option>
                    <option value="323212"> Fitter and Turner</option>
                    <option value="323213"> Fitter-Welder</option>
                    <option value="323214"> Metal Machinist (First Class)</option>
                    <option value="323215"> Textile, Clothing and Footwear Mechanic</option>
                    <option value="323299"> Metal Fitters and Machinists nec</option>
                    <option value="323311"> Engraver</option>
                    <option value="323312"> Gunsmith</option>
                    <option value="323313"> Locksmith</option>
                    <option value="323314"> Precision Instrument Maker and Repairer</option>
                    <option value="323315"> Saw Maker and Repairer</option>
                    <option value="323316"> Watch and Clock Maker and Repairer</option>
                    <option value="323411"> Engineering Patternmaker</option>
                    <option value="323412"> Toolmaker</option>
                    <option value="324111"> Panelbeater</option>
                    <option value="324211"> Vehicle Body Builder</option>
                    <option value="324212"> Vehicle Trimmer</option>
                    <option value="324311"> Vehicle Painter</option>
                    <option value="331111"> Bricklayer</option>
                    <option value="331112"> Stonemason</option>
                    <option value="331211"> Carpenter and Joiner</option>
                    <option value="331212"> Carpenter</option>
                    <option value="331213"> Joiner</option>
                    <option value="332111"> Floor Finisher</option>
                    <option value="332211"> Painting Trades Worker</option>
                    <option value="333111"> Glazier</option>
                    <option value="333211"> Fibrous Plasterer</option>
                    <option value="333212"> Solid Plasterer</option>
                    <option value="333311"> Roof Tiler</option>
                    <option value="333411"> Wall and Floor Tiler</option>
                    <option value="334111"> Plumber (General)</option>
                    <option value="334112"> Airconditioning and Mechanical Services Plumber</option>
                    <option value="334113"> Drainer (Aus) \ Drainlayer (NZ)</option>
                    <option value="334114"> Gasfitter</option>
                    <option value="334115"> Roof Plumber</option>
                    <option value="341111"> Electrician (General)</option>
                    <option value="341112"> Electrician (Special Class)</option>
                    <option value="341113"> Lift Mechanic</option>
                    <option value="342111"> Airconditioning and Refrigeration Mechanic</option>
                    <option value="342211"> Electrical Linesworker (Aus) \ Electrical Line Mechanic (NZ)</option>
                    <option value="342212"> Technical Cable Jointer</option>
                    <option value="342311"> Business Machine Mechanic</option>
                    <option value="342312"> Communications Operator</option>
                    <option value="342313"> Electronic Equipment Trades Worker</option>
                    <option value="342314"> Electronic Instrument Trades Worker (General)</option>
                    <option value="342315"> Electronic Instrument Trades Worker (Special Class)</option>
                    <option value="342411"> Cabler (Data and Telecommunications)</option>
                    <option value="342412"> Telecommunications Cable Jointer</option>
                    <option value="342413"> Telecommunications Linesworker (Aus) \ Telecommunications Line Mechanic (NZ)</option>
                    <option value="342414"> Telecommunications Technician</option>
                    <option value="351111"> Baker</option>
                    <option value="351112"> Pastrycook</option>
                    <option value="351211"> Butcher or Smallgoods Maker</option>
                    <option value="351311"> Chef</option>
                    <option value="351411"> Cook</option>
                    <option value="361111"> Dog Handler or Trainer</option>
                    <option value="361112"> Horse Trainer</option>
                    <option value="361113"> Pet Groomer</option>
                    <option value="361114"> Zookeeper</option>
                    <option value="361115"> Kennel Hand</option>
                    <option value="361199"> Animal Attendants and Trainers nec</option>
                    <option value="361211"> Shearer</option>
                    <option value="361311"> Veterinary Nurse</option>
                    <option value="362111"> Florist</option>
                    <option value="362211"> Gardener (General)</option>
                    <option value="362212"> Arborist</option>
                    <option value="362213"> Landscape Gardener</option>
                    <option value="362311"> Greenkeeper</option>
                    <option value="362411"> Nurseryperson</option>
                    <option value="391111"> Hairdresser</option>
                    <option value="392111"> Print Finisher</option>
                    <option value="392112"> Screen Printer</option>
                    <option value="392211"> Graphic Pre-press Trades Worker</option>
                    <option value="392311"> Printing Machinist</option>
                    <option value="392312"> Small Offset Printer</option>
                    <option value="393111"> Canvas Goods Fabricator</option>
                    <option value="393112"> Leather Goods Maker</option>
                    <option value="393113"> Sail Maker</option>
                    <option value="393114"> Shoemaker</option>
                    <option value="393211"> Apparel Cutter</option>
                    <option value="393212"> Clothing Patternmaker</option>
                    <option value="393213"> Dressmaker or Tailor</option>
                    <option value="393299"> Clothing Trades Workers nec</option>
                    <option value="393311"> Upholsterer</option>
                    <option value="394111"> Cabinetmaker</option>
                    <option value="394211"> Furniture Finisher</option>
                    <option value="394212"> Picture Framer</option>
                    <option value="394213"> Wood Machinist</option>
                    <option value="394214"> Wood Turner</option>
                    <option value="394299"> Wood Machinists and Other Wood Trades Workers nec</option>
                    <option value="399111"> Boat Builder and Repairer</option>
                    <option value="399112"> Shipwright</option>
                    <option value="399211"> Chemical Plant Operator</option>
                    <option value="399212"> Gas or Petroleum Operator</option>
                    <option value="399213"> Power Generation Plant Operator</option>
                    <option value="399311"> Gallery or Museum Technician</option>
                    <option value="399312"> Library Technician</option>
                    <option value="399411"> Jeweller</option>
                    <option value="399511"> Broadcast Transmitter Operator</option>
                    <option value="399512"> Camera Operator (Film, Television or Video)</option>
                    <option value="399513"> Light Technician</option>
                    <option value="399514"> Make Up Artist</option>
                    <option value="399515"> Musical Instrument Maker or Repairer</option>
                    <option value="399516"> Sound Technician</option>
                    <option value="399517"> Television Equipment Operator</option>
                    <option value="399599"> Performing Arts Technicians nec</option>
                    <option value="399611"> Signwriter</option>
                    <option value="399911"> Diver</option>
                    <option value="399912"> Interior Decorator</option>
                    <option value="399913"> Optical Dispenser (Aus) \ Dispensing Optician (NZ)</option>
                    <option value="399914"> Optical Mechanic</option>
                    <option value="399915"> Photographer&#39;s Assistant</option>
                    <option value="399916"> Plastics Technician</option>
                    <option value="399917"> Wool Classer</option>
                    <option value="399918"> Fire Protection Equipment Technician</option>
                    <option value="399999"> Technicians and Trades Workers nec</option>
                    <option value="411111"> Ambulance Officer</option>
                    <option value="411112"> Intensive Care Ambulance Paramedic (Aus) \ Ambulance Paramedic (NZ)</option>
                    <option value="411211"> Dental Hygienist</option>
                    <option value="411212"> Dental Prosthetist</option>
                    <option value="411213"> Dental Technician</option>
                    <option value="411214"> Dental Therapist</option>
                    <option value="411311"> Diversional Therapist</option>
                    <option value="411411"> Enrolled Nurse</option>
                    <option value="411412"> Mothercraft Nurse</option>
                    <option value="411511"> Aboriginal and Torres Strait Islander Health Worker</option>
                    <option value="411512"> Kaiawhina (Hauora) (Maori Health Assistant)</option>
                    <option value="411611"> Massage Therapist</option>
                    <option value="411711"> Community Worker</option>
                    <option value="411712"> Disabilities Services Officer</option>
                    <option value="411713"> Family Support Worker</option>
                    <option value="411714"> Parole or Probation Officer</option>
                    <option value="411715"> Residential Care Officer</option>
                    <option value="411716"> Youth Worker</option>
                    <option value="421111"> Child Care Worker</option>
                    <option value="421112"> Family Day Care Worker</option>
                    <option value="421113"> Nanny</option>
                    <option value="421114"> Out of School Hours Care Worker</option>
                    <option value="422111"> Aboriginal and Torres Strait Islander Education Worker</option>
                    <option value="422112"> Integration Aide</option>
                    <option value="422113"> Kaiawhina Kohanga Reo (Maori Language Nest Assistant)</option>
                    <option value="422114"> Kaiawhina Kura Kaupapa Maori (Maori-medium School Assistant)</option>
                    <option value="422115"> Preschool Aide</option>
                    <option value="422116"> Teachers&#39; Aide</option>
                    <option value="423111"> Aged or Disabled Carer</option>
                    <option value="423211"> Dental Assistant</option>
                    <option value="423311"> Hospital Orderly</option>
                    <option value="423312"> Nursing Support Worker</option>
                    <option value="423313"> Personal Care Assistant</option>
                    <option value="423314"> Therapy Aide</option>
                    <option value="423411"> Child or Youth Residential Care Assistant</option>
                    <option value="423412"> Hostel Parent</option>
                    <option value="423413"> Refuge Worker</option>
                    <option value="431111"> Bar Attendant</option>
                    <option value="431112"> Barista</option>
                    <option value="431211"> Cafe Worker</option>
                    <option value="431311"> Gaming Worker</option>
                    <option value="431411"> Hotel Service Manager</option>
                    <option value="431511"> Waiter</option>
                    <option value="431911"> Bar Useful or Busser</option>
                    <option value="431912"> Doorperson or Luggage Porter</option>
                    <option value="431999"> Hospitality Workers nec</option>
                    <option value="441111"> Defence Force Member - Other Ranks</option>
                    <option value="441211"> Emergency Service Worker</option>
                    <option value="441212"> Fire Fighter</option>
                    <option value="441311"> Detective</option>
                    <option value="441312"> Police Officer</option>
                    <option value="442111"> Prison Officer</option>
                    <option value="442211"> Alarm, Security or Surveillance Monitor</option>
                    <option value="442212"> Armoured Car Escort</option>
                    <option value="442213"> Crowd Controller</option>
                    <option value="442214"> Private Investigator</option>
                    <option value="442215"> Retail Loss Prevention Officer</option>
                    <option value="442216"> Security Consultant</option>
                    <option value="442217"> Security Officer</option>
                    <option value="442299"> Security Officers and Guards nec</option>
                    <option value="451111"> Beauty Therapist</option>
                    <option value="451211"> Driving Instructor</option>
                    <option value="451311"> Funeral Director</option>
                    <option value="451399"> Funeral Workers nec</option>
                    <option value="451411"> Gallery or Museum Guide</option>
                    <option value="451412"> Tour Guide</option>
                    <option value="451511"> Natural Remedy Consultant</option>
                    <option value="451512"> Weight Loss Consultant</option>
                    <option value="451513"> Herbalist (Western)</option>
                    <option value="451611"> Tourist Information Officer</option>
                    <option value="451612"> Travel Consultant</option>
                    <option value="451711"> Flight Attendant</option>
                    <option value="451799"> Travel Attendants nec</option>
                    <option value="451811"> Civil Celebrant</option>
                    <option value="451812"> Hair or Beauty Salon Assistant</option>
                    <option value="451813"> Sex Worker or Escort</option>
                    <option value="451814"> Body Artist</option>
                    <option value="451815"> First Aid Trainer</option>
                    <option value="451816"> Religious Assistant</option>
                    <option value="451899"> Personal Service Workers nec</option>
                    <option value="452111"> Fitness Instructor</option>
                    <option value="452211"> Bungy Jump Master</option>
                    <option value="452212"> Fishing Guide</option>
                    <option value="452213"> Hunting Guide</option>
                    <option value="452214"> Mountain or Glacier Guide</option>
                    <option value="452215"> Outdoor Adventure Instructor</option>
                    <option value="452216"> Trekking Guide</option>
                    <option value="452217"> Whitewater Rafting Guide</option>
                    <option value="452299"> Outdoor Adventure Guides nec</option>
                    <option value="452311"> Diving Instructor (Open Water)</option>
                    <option value="452312"> Gymnastics Coach or Instructor</option>
                    <option value="452313"> Horse Riding Coach or Instructor</option>
                    <option value="452314"> Snowsport Instructor</option>
                    <option value="452315"> Swimming Coach or Instructor</option>
                    <option value="452316"> Tennis Coach</option>
                    <option value="452317"> Other Sports Coach or Instructor</option>
                    <option value="452318"> Dog or Horse Racing Official</option>
                    <option value="452321"> Sports Development Officer</option>
                    <option value="452322"> Sports Umpire</option>
                    <option value="452323"> Other Sports Official</option>
                    <option value="452411"> Footballer</option>
                    <option value="452412"> Golfer</option>
                    <option value="452413"> Jockey</option>
                    <option value="452414"> Lifeguard</option>
                    <option value="452499"> Sportspersons nec</option>
                    <option value="511111"> Contract Administrator</option>
                    <option value="511112"> Program or Project Administrator</option>
                    <option value="512111"> Office Manager</option>
                    <option value="512211"> Health Practice Manager</option>
                    <option value="512299"> Practice Managers nec</option>
                    <option value="521111"> Personal Assistant</option>
                    <option value="521211"> Secretary (General)</option>
                    <option value="521212"> Legal Secretary</option>
                    <option value="531111"> General Clerk</option>
                    <option value="532111"> Data Entry Operator</option>
                    <option value="532112"> Machine Shorthand Reporter</option>
                    <option value="532113"> Word Processing Operator</option>
                    <option value="541111"> Call or Contact Centre Team Leader</option>
                    <option value="541112"> Call or Contact Centre Operator</option>
                    <option value="541211"> Information Officer</option>
                    <option value="542111"> Receptionist (General)</option>
                    <option value="542112"> Admissions Clerk</option>
                    <option value="542113"> Hotel or Motel Receptionist</option>
                    <option value="542114"> Medical Receptionist</option>
                    <option value="551111"> Accounts Clerk</option>
                    <option value="551112"> Cost Clerk</option>
                    <option value="551211"> Bookkeeper</option>
                    <option value="551311"> Payroll Clerk</option>
                    <option value="552111"> Bank Worker</option>
                    <option value="552211"> Credit or Loans Officer (Aus) \ Finance Clerk (NZ)</option>
                    <option value="552311"> Bookmaker</option>
                    <option value="552312"> Insurance Consultant</option>
                    <option value="552313"> Money Market Clerk</option>
                    <option value="552314"> Statistical Clerk</option>
                    <option value="561111"> Betting Agency Counter Clerk</option>
                    <option value="561112"> Bookmaker&#39;s Clerk</option>
                    <option value="561113"> Telephone Betting Clerk</option>
                    <option value="561199"> Betting Clerks nec</option>
                    <option value="561211"> Courier</option>
                    <option value="561212"> Postal Delivery Officer</option>
                    <option value="561311"> Filing or Registry Clerk</option>
                    <option value="561411"> Mail Clerk</option>
                    <option value="561412"> Postal Sorting Officer</option>
                    <option value="561511"> Survey Interviewer</option>
                    <option value="561611"> Switchboard Operator</option>
                    <option value="561911"> Classified Advertising Clerk</option>
                    <option value="561912"> Meter Reader</option>
                    <option value="561913"> Parking Inspector</option>
                    <option value="561999"> Clerical and Office Support Workers nec</option>
                    <option value="591111"> code retired (ANZSCO Revision 1)</option>
                    <option value="591112"> Production Clerk</option>
                    <option value="591113"> Purchasing Officer</option>
                    <option value="591114"> code retired (ANZSCO Revision 1)</option>
                    <option value="591115"> Stock Clerk</option>
                    <option value="591116"> Warehouse Administrator</option>
                    <option value="591117"> Order Clerk</option>
                    <option value="591211"> Despatching and Receiving Clerk</option>
                    <option value="591212"> Import-Export Clerk</option>
                    <option value="599111"> Conveyancer</option>
                    <option value="599112"> Legal Executive</option>
                    <option value="599211"> Clerk of Court</option>
                    <option value="599212"> Court Bailiff or Sheriff (Aus) \ Court Collections Officer (NZ)</option>
                    <option value="599213"> Court Orderly (Aus) \ Court Registry Officer (NZ)</option>
                    <option value="599214"> Law Clerk</option>
                    <option value="599215"> Trust Officer</option>
                    <option value="599311"> Debt Collector</option>
                    <option value="599411"> Human Resource Clerk</option>
                    <option value="599511"> Customs Officer</option>
                    <option value="599512"> Immigration Officer</option>
                    <option value="599513"> Motor Vehicle Licence Examiner</option>
                    <option value="599514"> Noxious Weeds and Pest Inspector</option>
                    <option value="599515"> Social Security Assessor</option>
                    <option value="599516"> Taxation Inspector</option>
                    <option value="599517"> Train Examiner</option>
                    <option value="599518"> Transport Operations Inspector</option>
                    <option value="599521"> Water Inspector</option>
                    <option value="599599"> Inspectors and Regulatory Officers nec</option>
                    <option value="599611"> Insurance Investigator</option>
                    <option value="599612"> Insurance Loss Adjuster</option>
                    <option value="599613"> Insurance Risk Surveyor</option>
                    <option value="599711"> Library Assistant</option>
                    <option value="599911"> code retired (ANZSCO Revision 1)</option>
                    <option value="599912"> Production Assistant (Film, Television, Radio or Stage)</option>
                    <option value="599913"> Proof Reader</option>
                    <option value="599914"> Radio Despatcher</option>
                    <option value="599915"> Clinical Coder</option>
                    <option value="599916"> Facilities Administrator</option>
                    <option value="599999"> Clerical and Administrative Workers nec</option>
                    <option value="611111"> Auctioneer</option>
                    <option value="611112"> Stock and Station Agent</option>
                    <option value="611211"> Insurance Agent</option>
                    <option value="611311"> Sales Representative (Building and Plumbing Supplies)</option>
                    <option value="611312"> Sales Representative (Business Services)</option>
                    <option value="611313"> Sales Representative (Motor Vehicle Parts and Accessories)</option>
                    <option value="611314"> Sales Representative (Personal and Household Goods)</option>
                    <option value="611399"> Sales Representatives nec</option>
                    <option value="612111"> Business Broker</option>
                    <option value="612112"> Property Manager</option>
                    <option value="612113"> Real Estate Agency Principal (Aus) \ Real Estate Agency Licensee (NZ)</option>
                    <option value="612114"> Real Estate Agent</option>
                    <option value="612115"> Real Estate Representative</option>
                    <option value="621111"> Sales Assistant (General)</option>
                    <option value="621211"> ICT Sales Assistant</option>
                    <option value="621311"> Motor Vehicle or Caravan Salesperson</option>
                    <option value="621312"> Motor Vehicle Parts Interpreter (Aus) \ Automotive Parts Salesperson (NZ)</option>
                    <option value="621411"> Pharmacy Sales Assistant</option>
                    <option value="621511"> Retail Supervisor</option>
                    <option value="621611"> Service Station Attendant</option>
                    <option value="621711"> Cash Van Salesperson</option>
                    <option value="621712"> Door-to-door Salesperson</option>
                    <option value="621713"> Street Vendor</option>
                    <option value="621911"> Materials Recycler</option>
                    <option value="621912"> Rental Salesperson</option>
                    <option value="621999"> Sales Assistants and Salespersons nec</option>
                    <option value="631111"> Checkout Operator</option>
                    <option value="631112"> Office Cashier</option>
                    <option value="639111"> Model</option>
                    <option value="639112"> Sales Demonstrator</option>
                    <option value="639211"> Retail Buyer</option>
                    <option value="639212"> Wool Buyer</option>
                    <option value="639311"> Telemarketer</option>
                    <option value="639411"> Ticket Seller</option>
                    <option value="639412"> Transport Conductor</option>
                    <option value="639511"> Visual Merchandiser</option>
                    <option value="639911"> Other Sales Support Worker</option>
                    <option value="711111"> Clay Products Machine Operator</option>
                    <option value="711112"> Concrete Products Machine Operator</option>
                    <option value="711113"> Glass Production Machine Operator</option>
                    <option value="711114"> Stone Processing Machine Operator</option>
                    <option value="711199"> Clay, Concrete, Glass and Stone Processing Machine Operators nec</option>
                    <option value="711211"> Industrial Spraypainter</option>
                    <option value="711311"> Paper Products Machine Operator</option>
                    <option value="711312"> code retired (ANZSCO Revision 1)</option>
                    <option value="711313"> Sawmilling Operator</option>
                    <option value="711314"> Other Wood Processing Machine Operator</option>
                    <option value="711411"> Photographic Developer and Printer</option>
                    <option value="711511"> Plastic Cablemaking Machine Operator</option>
                    <option value="711512"> Plastic Compounding and Reclamation Machine Operator</option>
                    <option value="711513"> Plastics Fabricator or Welder</option>
                    <option value="711514"> Plastics Production Machine Operator (General)</option>
                    <option value="711515"> Reinforced Plastic and Composite Production Worker</option>
                    <option value="711516"> Rubber Production Machine Operator</option>
                    <option value="711599"> Plastics and Rubber Production Machine Operators nec</option>
                    <option value="711611"> Sewing Machinist</option>
                    <option value="711711"> Footwear Production Machine Operator</option>
                    <option value="711712"> Hide and Skin Processing Machine Operator</option>
                    <option value="711713"> Knitting Machine Operator</option>
                    <option value="711714"> Textile Dyeing and Finishing Machine Operator</option>
                    <option value="711715"> Weaving Machine Operator</option>
                    <option value="711716"> Yarn Carding and Spinning Machine Operator</option>
                    <option value="711799"> Textile and Footwear Production Machine Operators nec</option>
                    <option value="711911"> Chemical Production Machine Operator</option>
                    <option value="711912"> Motion Picture Projectionist</option>
                    <option value="711913"> Sand Blaster</option>
                    <option value="711914"> Sterilisation Technician</option>
                    <option value="711999"> Machine Operators nec</option>
                    <option value="712111"> Crane, Hoist or Lift Operator</option>
                    <option value="712211"> Driller</option>
                    <option value="712212"> Miner</option>
                    <option value="712213"> Shot Firer</option>
                    <option value="712311"> Engineering Production Worker</option>
                    <option value="712911"> Boiler or Engine Operator</option>
                    <option value="712912"> Bulk Materials Handling Plant Operator</option>
                    <option value="712913"> Cement Production Plant Operator</option>
                    <option value="712914"> Concrete Batching Plant Operator</option>
                    <option value="712915"> Concrete Pump Operator</option>
                    <option value="712916"> Paper and Pulp Mill Operator</option>
                    <option value="712917"> Railway Signal Operator</option>
                    <option value="712918"> Train Controller</option>
                    <option value="712921"> Waste Water or Water Plant Operator</option>
                    <option value="712922"> Weighbridge Operator</option>
                    <option value="712999"> Stationary Plant Operators nec</option>
                    <option value="721111"> Agricultural and Horticultural Mobile Plant Operator</option>
                    <option value="721112"> Logging Plant Operator</option>
                    <option value="721211"> Earthmoving Plant Operator (General)</option>
                    <option value="721212"> Backhoe Operator</option>
                    <option value="721213"> Bulldozer Operator</option>
                    <option value="721214"> Excavator Operator</option>
                    <option value="721215"> Grader Operator</option>
                    <option value="721216"> Loader Operator</option>
                    <option value="721311"> Forklift Driver</option>
                    <option value="721911"> Aircraft Baggage Handler and Airline Ground Crew</option>
                    <option value="721912"> Linemarker</option>
                    <option value="721913"> Paving Plant Operator</option>
                    <option value="721914"> Railway Track Plant Operator</option>
                    <option value="721915"> Road Roller Operator</option>
                    <option value="721916"> Streetsweeper Operator</option>
                    <option value="721999"> Mobile Plant Operators nec</option>
                    <option value="731111"> Chauffeur</option>
                    <option value="731112"> Taxi Driver</option>
                    <option value="731199"> Automobile Drivers nec</option>
                    <option value="731211"> Bus Driver</option>
                    <option value="731212"> Charter and Tour Bus Driver</option>
                    <option value="731213"> Passenger Coach Driver</option>
                    <option value="731311"> Train Driver</option>
                    <option value="731312"> Tram Driver</option>
                    <option value="732111"> Delivery Driver</option>
                    <option value="733111"> Truck Driver (General)</option>
                    <option value="733112"> Aircraft Refueller</option>
                    <option value="733113"> Furniture Removalist</option>
                    <option value="733114"> Tanker Driver</option>
                    <option value="733115"> Tow Truck Driver</option>
                    <option value="741111"> Storeperson</option>
                    <option value="811111"> Car Detailer</option>
                    <option value="811211"> Commercial Cleaner</option>
                    <option value="811311"> Domestic Cleaner</option>
                    <option value="811411"> Commercial Housekeeper</option>
                    <option value="811412"> Domestic Housekeeper</option>
                    <option value="811511"> Laundry Worker (General)</option>
                    <option value="811512"> Drycleaner</option>
                    <option value="811513"> Ironer or Presser</option>
                    <option value="811611"> Carpet Cleaner</option>
                    <option value="811612"> Window Cleaner</option>
                    <option value="811699"> Cleaners nec</option>
                    <option value="821111"> Builder&#39;s Labourer</option>
                    <option value="821112"> Drainage, Sewerage and Stormwater Labourer</option>
                    <option value="821113"> Earthmoving Labourer</option>
                    <option value="821114"> Plumber&#39;s Assistant</option>
                    <option value="821211"> Concreter</option>
                    <option value="821311"> Fencer</option>
                    <option value="821411"> Building Insulation Installer</option>
                    <option value="821412"> Home Improvement Installer</option>
                    <option value="821511"> Paving and Surfacing Labourer</option>
                    <option value="821611"> Railway Track Worker</option>
                    <option value="821711"> Construction Rigger</option>
                    <option value="821712"> Scaffolder</option>
                    <option value="821713"> Steel Fixer</option>
                    <option value="821714"> Structural Steel Erector</option>
                    <option value="821911"> Crane Chaser</option>
                    <option value="821912"> Driller&#39;s Assistant</option>
                    <option value="821913"> Lagger</option>
                    <option value="821914"> Mining Support Worker</option>
                    <option value="821915"> Surveyor&#39;s Assistant</option>
                    <option value="831111"> Baking Factory Worker</option>
                    <option value="831112"> Brewery Worker</option>
                    <option value="831113"> Confectionery Maker</option>
                    <option value="831114"> Dairy Products Maker</option>
                    <option value="831115"> Fruit and Vegetable Factory Worker</option>
                    <option value="831116"> Grain Mill Worker</option>
                    <option value="831117"> Sugar Mill Worker</option>
                    <option value="831118"> Winery Cellar Hand</option>
                    <option value="831199"> Food and Drink Factory Workers nec</option>
                    <option value="831211"> Meat Boner and Slicer</option>
                    <option value="831212"> Slaughterer</option>
                    <option value="831311"> Meat Process Worker</option>
                    <option value="831312"> Poultry Process Worker</option>
                    <option value="831313"> Seafood Process Worker</option>
                    <option value="832111"> Chocolate Packer</option>
                    <option value="832112"> Container Filler</option>
                    <option value="832113"> Fruit and Vegetable Packer</option>
                    <option value="832114"> Meat Packer</option>
                    <option value="832115"> Seafood Packer</option>
                    <option value="832199"> Packers nec</option>
                    <option value="832211"> Product Assembler</option>
                    <option value="839111"> Metal Engineering Process Worker</option>
                    <option value="839211"> Plastics Factory Worker</option>
                    <option value="839212"> Rubber Factory Worker</option>
                    <option value="839311"> Product Examiner</option>
                    <option value="839312"> Product Grader</option>
                    <option value="839313"> Product Tester</option>
                    <option value="839411"> Paper and Pulp Mill Worker</option>
                    <option value="839412"> Sawmill or Timber Yard Worker</option>
                    <option value="839413"> Wood and Wood Products Factory Worker</option>
                    <option value="839911"> Cement and Concrete Plant Worker</option>
                    <option value="839912"> Chemical Plant Worker</option>
                    <option value="839913"> Clay Processing Factory Worker</option>
                    <option value="839914"> Fabric and Textile Factory Worker</option>
                    <option value="839915"> Footwear Factory Worker</option>
                    <option value="839916"> Glass Processing Worker</option>
                    <option value="839917"> Hide and Skin Processing Worker</option>
                    <option value="839918"> Recycling Worker</option>
                    <option value="839999"> Factory Process Workers nec</option>
                    <option value="841111"> Aquaculture Worker</option>
                    <option value="841211"> Fruit or Nut Farm Worker</option>
                    <option value="841212"> Fruit or Nut Picker</option>
                    <option value="841213"> Grain, Oilseed or Pasture Farm Worker (Aus) \ Field Crop Farm Worker (NZ)</option>
                    <option value="841214"> Vegetable Farm Worker (Aus) \ Market Garden Worker (NZ)</option>
                    <option value="841215"> Vegetable Picker</option>
                    <option value="841216"> Vineyard Worker</option>
                    <option value="841217"> Mushroom Picker</option>
                    <option value="841299"> Crop Farm Workers nec</option>
                    <option value="841311"> Forestry Worker</option>
                    <option value="841312"> Logging Assistant</option>
                    <option value="841313"> Tree Faller</option>
                    <option value="841411"> Garden Labourer</option>
                    <option value="841412"> Horticultural Nursery Assistant</option>
                    <option value="841511"> Beef Cattle Farm Worker</option>
                    <option value="841512"> Dairy Cattle Farm Worker</option>
                    <option value="841513"> Mixed Livestock Farm Worker</option>
                    <option value="841514"> Poultry Farm Worker</option>
                    <option value="841515"> Sheep Farm Worker</option>
                    <option value="841516"> Stablehand</option>
                    <option value="841517"> Wool Handler</option>
                    <option value="841599"> Livestock Farm Workers nec</option>
                    <option value="841611"> Mixed Crop and Livestock Farm Worker</option>
                    <option value="841911"> Hunter-Trapper</option>
                    <option value="841912"> code retired (ANZSCO Revision 1)</option>
                    <option value="841913"> Pest Controller</option>
                    <option value="841999"> Farm, Forestry and Garden Workers nec</option>
                    <option value="851111"> Fast Food Cook</option>
                    <option value="851211"> Pastrycook&#39;s Assistant</option>
                    <option value="851299"> Food Trades Assistants nec</option>
                    <option value="851311"> Kitchenhand</option>
                    <option value="891111"> Freight Handler (Rail or Road)</option>
                    <option value="891112"> Truck Driver&#39;s Offsider</option>
                    <option value="891113"> Waterside Worker</option>
                    <option value="891211"> Shelf Filler</option>
                    <option value="899111"> Caretaker</option>
                    <option value="899211"> Deck Hand</option>
                    <option value="899212"> Fishing Hand</option>
                    <option value="899311"> Handyperson</option>
                    <option value="899411"> Motor Vehicle Parts and Accessories Fitter (General)</option>
                    <option value="899412"> Autoglazier</option>
                    <option value="899413"> Exhaust and Muffler Repairer</option>
                    <option value="899414"> Radiator Repairer</option>
                    <option value="899415"> Tyre Fitter</option>
                    <option value="899511"> Printer&#39;s Assistant</option>
                    <option value="899512"> Printing Table Worker</option>
                    <option value="899611"> Recycling or Rubbish Collector</option>
                    <option value="899711"> Vending Machine Attendant</option>
                    <option value="899911"> Bicycle Mechanic</option>
                    <option value="899912"> Car Park Attendant</option>
                    <option value="899913"> Crossing Supervisor</option>
                    <option value="899914"> Electrical or Telecommunications Trades Assistant</option>
                    <option value="899915"> Leaflet or Newspaper Deliverer</option>
                    <option value="899916"> Mechanic&#39;s Assistant</option>
                    <option value="899917"> Railways Assistant</option>
                    <option value="899918"> Sign Erector</option>
                    <option value="899921"> Ticket Collector or Usher</option>
                    <option value="899922"> Trolley Collector</option>
                    <option value="899923"> Road Traffic Controller</option>
                    <option value="899999"> Labourers nec</option>
                  </select>