<select id="Employment_Type" name="Employment_Type" placeholder="Employment Type" class="form-control">
  <option> Job Title </option>
  <option value='Managers, nfd'>Managers, nfd</option>
  <option value='Chief Executives, General Managers and Legislators, nfd'>Chief Executives, General Managers and Legislators, nfd</option>
  <option value='Chief Executives and Managing Directors'>Chief Executives and Managing Directors</option>
  <option value='General Managers'>General Managers</option>
  <option value='Legislators'>Legislators</option>
  <option value='Farmers and Farm Managers, nfd'>Farmers and Farm Managers, nfd</option>
  <option value='Aquaculture Farmers'>Aquaculture Farmers</option>
  <option value='Crop Farmers'>Crop Farmers</option>
  <option value='Livestock Farmers'>Livestock Farmers</option>
  <option value='Mixed Crop and Livestock Farmers'>Mixed Crop and Livestock Farmers</option>
  <option value='Specialist Managers, nfd'>Specialist Managers, nfd</option>
  <option value='Advertising, Public Relations and Sales Managers'>Advertising, Public Relations and Sales Managers</option>
  <option value='Business Administration Managers, nfd'>Business Administration Managers, nfd</option>
  <option value='Corporate Services Managers'>Corporate Services Managers</option>
  <option value='Finance Managers'>Finance Managers</option>
  <option value='Human Resource Managers'>Human Resource Managers</option>
  <option value='Policy and Planning Managers'>Policy and Planning Managers</option>
  <option value='Research and Development Managers'>Research and Development Managers</option>
  <option value='Construction, Distribution and Production Managers, nfd'>Construction, Distribution and Production Managers, nfd</option>
  <option value='Construction Managers'>Construction Managers</option>
  <option value='Engineering Managers'>Engineering Managers</option>
  <option value='Importers, Exporters and Wholesalers'>Importers, Exporters and Wholesalers</option>
  <option value='Manufacturers'>Manufacturers</option>
  <option value='Production Managers'>Production Managers</option>
  <option value='Supply, Distribution and Procurement Managers'>Supply, Distribution and Procurement Managers</option>
  <option value='Education, Health and Welfare Services Managers, nfd'>Education, Health and Welfare Services Managers, nfd</option>
  <option value='Child Care Centre Managers'>Child Care Centre Managers</option>
  <option value='Health and Welfare Services Managers'>Health and Welfare Services Managers</option>
  <option value='School Principals'>School Principals</option>
  <option value='Other Education Managers'>Other Education Managers</option>
  <option value='ICT Managers'>ICT Managers</option>
  <option value='Miscellaneous Specialist Managers, nfd'>Miscellaneous Specialist Managers, nfd</option>
  <option value='Commissioned Officers (Management)'>Commissioned Officers (Management)</option>
  <option value='Senior Non-commissioned Defence Force Members'>Senior Non-commissioned Defence Force Members</option>
  <option value='Other Specialist Managers'>Other Specialist Managers</option>
  <option value='Hospitality, Retail and Service Managers, nfd'>Hospitality, Retail and Service Managers, nfd</option>
  <option value='Accommodation and Hospitality Managers, nfd'>Accommodation and Hospitality Managers, nfd</option>
  <option value='Cafe and Restaurant Managers'>Cafe and Restaurant Managers</option>
  <option value='Caravan Park and Camping Ground Managers'>Caravan Park and Camping Ground Managers</option>
  <option value='Hotel and Motel Managers'>Hotel and Motel Managers</option>
  <option value='Licensed Club Managers'>Licensed Club Managers</option>
  <option value='Other Accommodation and Hospitality Managers'>Other Accommodation and Hospitality Managers</option>
  <option value='Retail Managers'>Retail Managers</option>
  <option value='Miscellaneous Hospitality, Retail and Service Managers, nfd'>Miscellaneous Hospitality, Retail and Service Managers, nfd</option>
  <option value='Amusement, Fitness and Sports Centre Managers'>Amusement, Fitness and Sports Centre Managers</option>
  <option value='Call or Contact Centre and Customer Service Managers'>Call or Contact Centre and Customer Service Managers</option>
  <option value='Conference and Event Organisers'>Conference and Event Organisers</option>
  <option value='Transport Services Managers'>Transport Services Managers</option>
  <option value='Other Hospitality, Retail and Service Managers'>Other Hospitality, Retail and Service Managers</option>
  <option value='Professionals, nfd'>Professionals, nfd</option>
  <option value='Arts and Media Professionals, nfd'>Arts and Media Professionals, nfd</option>
  <option value='Arts Professionals, nfd'>Arts Professionals, nfd</option>
  <option value='Actors, Dancers and Other Entertainers'>Actors, Dancers and Other Entertainers</option>
  <option value='Music Professionals'>Music Professionals</option>
  <option value='Photographers'>Photographers</option>
  <option value='Visual Arts and Crafts Professionals'>Visual Arts and Crafts Professionals</option>
  <option value='Media Professionals, nfd'>Media Professionals, nfd</option>
  <option value='Artistic Directors, and Media Producers and Presenters'>Artistic Directors, and Media Producers and Presenters</option>
  <option value='Authors, and Book and Script Editors'>Authors, and Book and Script Editors</option>
  <option value='Film, Television, Radio and Stage Directors'>Film, Television, Radio and Stage Directors</option>
  <option value='Journalists and Other Writers'>Journalists and Other Writers</option>
  <option value='Business, Human Resource and Marketing Professionals, nfd'>Business, Human Resource and Marketing Professionals, nfd</option>
  <option value='Accountants, Auditors and Company Secretaries, nfd'>Accountants, Auditors and Company Secretaries, nfd</option>
  <option value='Accountants'>Accountants</option>
  <option value='Auditors, Company Secretaries and Corporate Treasurers'>Auditors, Company Secretaries and Corporate Treasurers</option>
  <option value='Financial Brokers and Dealers, and Investment Advisers, nfd'>Financial Brokers and Dealers, and Investment Advisers, nfd</option>
  <option value='Financial Brokers'>Financial Brokers</option>
  <option value='Financial Dealers'>Financial Dealers</option>
  <option value='Financial Investment Advisers and Managers'>Financial Investment Advisers and Managers</option>
  <option value='Human Resource and Training Professionals, nfd'>Human Resource and Training Professionals, nfd</option>
  <option value='Human Resource Professionals'>Human Resource Professionals</option>
  <option value='ICT Trainers'>ICT Trainers</option>
  <option value='Training and Development Professionals'>Training and Development Professionals</option>
  <option value='Information and Organisation Professionals, nfd'>Information and Organisation Professionals, nfd</option>
  <option value='Actuaries, Mathematicians and Statisticians'>Actuaries, Mathematicians and Statisticians</option>
  <option value='Archivists, Curators and Records Managers'>Archivists, Curators and Records Managers</option>
  <option value='Economists'>Economists</option>
  <option value='Intelligence and Policy Analysts'>Intelligence and Policy Analysts</option>
  <option value='Land Economists and Valuers'>Land Economists and Valuers</option>
  <option value='Librarians'>Librarians</option>
  <option value='Management and Organisation Analysts'>Management and Organisation Analysts</option>
  <option value='Other Information and Organisation Professionals'>Other Information and Organisation Professionals</option>
  <option value='Sales, Marketing and Public Relations Professionals, nfd'>Sales, Marketing and Public Relations Professionals, nfd</option>
  <option value='Advertising and Marketing Professionals'>Advertising and Marketing Professionals</option>
  <option value='ICT Sales Professionals'>ICT Sales Professionals</option>
  <option value='Public Relations Professionals'>Public Relations Professionals</option>
  <option value='Technical Sales Representatives'>Technical Sales Representatives</option>
  <option value='Design, Engineering, Science and Transport Professionals, nfd'>Design, Engineering, Science and Transport Professionals, nfd</option>
  <option value='Air and Marine Transport Professionals, nfd'>Air and Marine Transport Professionals, nfd</option>
  <option value='Air Transport Professionals'>Air Transport Professionals</option>
  <option value='Marine Transport Professionals'>Marine Transport Professionals</option>
  <option value='Architects, Designers, Planners and Surveyors, nfd'>Architects, Designers, Planners and Surveyors, nfd</option>
  <option value='Architects and Landscape Architects'>Architects and Landscape Architects</option>
  <option value='Surveyors and Spatial Scientists'>Surveyors and Spatial Scientists</option>
  <option value='Fashion, Industrial and Jewellery Designers'>Fashion, Industrial and Jewellery Designers</option>
  <option value='Graphic and Web Designers, and Illustrators'>Graphic and Web Designers, and Illustrators</option>
  <option value='Interior Designers'>Interior Designers</option>
  <option value='Urban and Regional Planners'>Urban and Regional Planners</option>
  <option value='Engineering Professionals, nfd'>Engineering Professionals, nfd</option>
  <option value='Chemical and Materials Engineers'>Chemical and Materials Engineers</option>
  <option value='Civil Engineering Professionals'>Civil Engineering Professionals</option>
  <option value='Electrical Engineers'>Electrical Engineers</option>
  <option value='Electronics Engineers'>Electronics Engineers</option>
  <option value='Industrial, Mechanical and Production Engineers'>Industrial, Mechanical and Production Engineers</option>
  <option value='Mining Engineers'>Mining Engineers</option>
  <option value='Other Engineering Professionals'>Other Engineering Professionals</option>
  <option value='Natural and Physical Science Professionals, nfd'>Natural and Physical Science Professionals, nfd</option>
  <option value='Agricultural and Forestry Scientists'>Agricultural and Forestry Scientists</option>
  <option value='Chemists, and Food and Wine Scientists'>Chemists, and Food and Wine Scientists</option>
  <option value='Environmental Scientists'>Environmental Scientists</option>
  <option value='Geologists, Geophysicists and Hydrogeologists'>Geologists, Geophysicists and Hydrogeologists</option>
  <option value='Life Scientists'>Life Scientists</option>
  <option value='Medical Laboratory Scientists'>Medical Laboratory Scientists</option>
  <option value='Veterinarians'>Veterinarians</option>
  <option value='Other Natural and Physical Science Professionals'>Other Natural and Physical Science Professionals</option>
  <option value='Education Professionals, nfd'>Education Professionals, nfd</option>
  <option value='School Teachers, nfd'>School Teachers, nfd</option>
  <option value='Early Childhood (Pre-primary School) Teachers'>Early Childhood (Pre-primary School) Teachers</option>
  <option value='Primary School Teachers'>Primary School Teachers</option>
  <option value='Middle School Teachers (Aus) / Intermediate School Teachers (NZ)'>Middle School Teachers (Aus) / Intermediate School Teachers (NZ)</option>
  <option value='Secondary School Teachers'>Secondary School Teachers</option>
  <option value='Special Education Teachers'>Special Education Teachers</option>
  <option value='Tertiary Education Teachers, nfd'>Tertiary Education Teachers, nfd</option>
  <option value='University Lecturers and Tutors'>University Lecturers and Tutors</option>
  <option value='Vocational Education Teachers (Aus) / Polytechnic Teachers (NZ)'>Vocational Education Teachers (Aus) / Polytechnic Teachers (NZ)</option>
  <option value='Miscellaneous Education Professionals, nfd'>Miscellaneous Education Professionals, nfd</option>
  <option value='Education Advisers and Reviewers'>Education Advisers and Reviewers</option>
  <option value='Private Tutors and Teachers'>Private Tutors and Teachers</option>
  <option value='Teachers of English to Speakers of Other Languages'>Teachers of English to Speakers of Other Languages</option>
  <option value='Health Professionals, nfd'>Health Professionals, nfd</option>
  <option value='Health Diagnostic and Promotion Professionals, nfd'>Health Diagnostic and Promotion Professionals, nfd</option>
  <option value='Nutrition Professionals'>Nutrition Professionals</option>
  <option value='Medical Imaging Professionals'>Medical Imaging Professionals</option>
  <option value='Occupational and Environmental Health Professionals'>Occupational and Environmental Health Professionals</option>
  <option value='Optometrists and Orthoptists'>Optometrists and Orthoptists</option>
  <option value='Pharmacists'>Pharmacists</option>
  <option value='Other Health Diagnostic and Promotion Professionals'>Other Health Diagnostic and Promotion Professionals</option>
  <option value='Health Therapy Professionals, nfd'>Health Therapy Professionals, nfd</option>
  <option value='Chiropractors and Osteopaths'>Chiropractors and Osteopaths</option>
  <option value='Complementary Health Therapists'>Complementary Health Therapists</option>
  <option value='Dental Practitioners'>Dental Practitioners</option>
  <option value='Occupational Therapists'>Occupational Therapists</option>
  <option value='Physiotherapists'>Physiotherapists</option>
  <option value='Podiatrists'>Podiatrists</option>
  <option value='Audiologists and Speech Pathologists \ Therapists'>Audiologists and Speech Pathologists \ Therapists</option>
  <option value='Medical Practitioners, nfd'>Medical Practitioners, nfd</option>
  <option value='General Practitioners and Resident Medical Officers'>General Practitioners and Resident Medical Officers</option>
  <option value='Anaesthetists'>Anaesthetists</option>
  <option value='Specialist Physicians'>Specialist Physicians</option>
  <option value='Psychiatrists'>Psychiatrists</option>
  <option value='Surgeons'>Surgeons</option>
  <option value='Other Medical Practitioners'>Other Medical Practitioners</option>
  <option value='Midwifery and Nursing Professionals, nfd'>Midwifery and Nursing Professionals, nfd</option>
  <option value='Midwives'>Midwives</option>
  <option value='Nurse Educators and Researchers'>Nurse Educators and Researchers</option>
  <option value='Nurse Managers'>Nurse Managers</option>
  <option value='Registered Nurses'>Registered Nurses</option>
  <option value='ICT Professionals, nfd'>ICT Professionals, nfd</option>
  <option value='Business and Systems Analysts, and Programmers, nfd'>Business and Systems Analysts, and Programmers, nfd</option>
  <option value='ICT Business and Systems Analysts'>ICT Business and Systems Analysts</option>
  <option value='Multimedia Specialists and Web Developers'>Multimedia Specialists and Web Developers</option>
  <option value='Software and Applications Programmers'>Software and Applications Programmers</option>
  <option value='Database and Systems Administrators, and ICT Security Specialists'>Database and Systems Administrators, and ICT Security Specialists</option>
  <option value='ICT Network and Support Professionals, nfd'>ICT Network and Support Professionals, nfd</option>
  <option value='Computer Network Professionals'>Computer Network Professionals</option>
  <option value='ICT Support and Test Engineers'>ICT Support and Test Engineers</option>
  <option value='Telecommunications Engineering Professionals'>Telecommunications Engineering Professionals</option>
  <option value='Legal, Social and Welfare Professionals, nfd'>Legal, Social and Welfare Professionals, nfd</option>
  <option value='Legal Professionals, nfd'>Legal Professionals, nfd</option>
  <option value='Barristers'>Barristers</option>
  <option value='Judicial and Other Legal Professionals'>Judicial and Other Legal Professionals</option>
  <option value='Solicitors'>Solicitors</option>
  <option value='Social and Welfare Professionals, nfd'>Social and Welfare Professionals, nfd</option>
  <option value='Counsellors'>Counsellors</option>
  <option value='Ministers of Religion'>Ministers of Religion</option>
  <option value='Psychologists'>Psychologists</option>
  <option value='Social Professionals'>Social Professionals</option>
  <option value='Social Workers'>Social Workers</option>
  <option value='Welfare, Recreation and Community Arts Workers'>Welfare, Recreation and Community Arts Workers</option>
  <option value='Technicians and Trades Workers, nfd'>Technicians and Trades Workers, nfd</option>
  <option value='Engineering, ICT and Science Technicians, nfd'>Engineering, ICT and Science Technicians, nfd</option>
  <option value='Agricultural, Medical and Science Technicians, nfd'>Agricultural, Medical and Science Technicians, nfd</option>
  <option value='Agricultural Technicians'>Agricultural Technicians</option>
  <option value='Medical Technicians'>Medical Technicians</option>
  <option value='Primary Products Inspectors'>Primary Products Inspectors</option>
  <option value='Science Technicians'>Science Technicians</option>
  <option value='Building and Engineering Technicians, nfd'>Building and Engineering Technicians, nfd</option>
  <option value='Architectural, Building and Surveying Technicians'>Architectural, Building and Surveying Technicians</option>
  <option value='Civil Engineering Draftspersons and Technicians'>Civil Engineering Draftspersons and Technicians</option>
  <option value='Electrical Engineering Draftspersons and Technicians'>Electrical Engineering Draftspersons and Technicians</option>
  <option value='Electronic Engineering Draftspersons and Technicians'>Electronic Engineering Draftspersons and Technicians</option>
  <option value='Mechanical Engineering Draftspersons and Technicians'>Mechanical Engineering Draftspersons and Technicians</option>
  <option value='Safety Inspectors'>Safety Inspectors</option>
  <option value='Other Building and Engineering Technicians'>Other Building and Engineering Technicians</option>
  <option value='ICT and Telecommunications Technicians, nfd'>ICT and Telecommunications Technicians, nfd</option>
  <option value='ICT Support Technicians'>ICT Support Technicians</option>
  <option value='Telecommunications Technical Specialists'>Telecommunications Technical Specialists</option>
  <option value='Automotive and Engineering Trades Workers, nfd'>Automotive and Engineering Trades Workers, nfd</option>
  <option value='Automotive Electricians and Mechanics, nfd'>Automotive Electricians and Mechanics, nfd</option>
  <option value='Automotive Electricians'>Automotive Electricians</option>
  <option value='Motor Mechanics'>Motor Mechanics</option>
  <option value='Fabrication Engineering Trades Workers, nfd'>Fabrication Engineering Trades Workers, nfd</option>
  <option value='Metal Casting, Forging and Finishing Trades Workers'>Metal Casting, Forging and Finishing Trades Workers</option>
  <option value='Sheetmetal Trades Workers'>Sheetmetal Trades Workers</option>
  <option value='Structural Steel and Welding Trades Workers'>Structural Steel and Welding Trades Workers</option>
  <option value='Mechanical Engineering Trades Workers, nfd'>Mechanical Engineering Trades Workers, nfd</option>
  <option value='Aircraft Maintenance Engineers'>Aircraft Maintenance Engineers</option>
  <option value='Metal Fitters and Machinists'>Metal Fitters and Machinists</option>
  <option value='Precision Metal Trades Workers'>Precision Metal Trades Workers</option>
  <option value='Toolmakers and Engineering Patternmakers'>Toolmakers and Engineering Patternmakers</option>
  <option value='Panelbeaters, and Vehicle Body Builders, Trimmers and Painters, nfd'>Panelbeaters, and Vehicle Body Builders, Trimmers and Painters, nfd</option>
  <option value='Panelbeaters'>Panelbeaters</option>
  <option value='Vehicle Body Builders and Trimmers'>Vehicle Body Builders and Trimmers</option>
  <option value='Vehicle Painters'>Vehicle Painters</option>
  <option value='Construction Trades Workers, nfd'>Construction Trades Workers, nfd</option>
  <option value='Bricklayers, and Carpenters and Joiners, nfd'>Bricklayers, and Carpenters and Joiners, nfd</option>
  <option value='Bricklayers and Stonemasons'>Bricklayers and Stonemasons</option>
  <option value='Carpenters and Joiners'>Carpenters and Joiners</option>
  <option value='Floor Finishers and Painting Trades Workers, nfd'>Floor Finishers and Painting Trades Workers, nfd</option>
  <option value='Floor Finishers'>Floor Finishers</option>
  <option value='Painting Trades Workers'>Painting Trades Workers</option>
  <option value='Glaziers, Plasterers and Tilers, nfd'>Glaziers, Plasterers and Tilers, nfd</option>
  <option value='Glaziers'>Glaziers</option>
  <option value='Plasterers'>Plasterers</option>
  <option value='Roof Tilers'>Roof Tilers</option>
  <option value='Wall and Floor Tilers'>Wall and Floor Tilers</option>
  <option value='Plumbers'>Plumbers</option>
  <option value='Electrotechnology and Telecommunications Trades Workers, nfd'>Electrotechnology and Telecommunications Trades Workers, nfd</option>
  <option value='Electricians'>Electricians</option>
  <option value='Electronics and Telecommunications Trades Workers, nfd'>Electronics and Telecommunications Trades Workers, nfd</option>
  <option value='Airconditioning and Refrigeration Mechanics'>Airconditioning and Refrigeration Mechanics</option>
  <option value='Electrical Distribution Trades Workers'>Electrical Distribution Trades Workers</option>
  <option value='Electronics Trades Workers'>Electronics Trades Workers</option>
  <option value='Telecommunications Trades Workers'>Telecommunications Trades Workers</option>
  <option value='Food Trades Workers, nfd'>Food Trades Workers, nfd</option>
  <option value='Bakers and Pastrycooks'>Bakers and Pastrycooks</option>
  <option value='Butchers and Smallgoods Makers'>Butchers and Smallgoods Makers</option>
  <option value='Chefs'>Chefs</option>
  <option value='Cooks'>Cooks</option>
  <option value='Skilled Animal and Horticultural Workers, nfd'>Skilled Animal and Horticultural Workers, nfd</option>
  <option value='Animal Attendants and Trainers, and Shearers, nfd'>Animal Attendants and Trainers, and Shearers, nfd</option>
  <option value='Animal Attendants and Trainers'>Animal Attendants and Trainers</option>
  <option value='Shearers'>Shearers</option>
  <option value='Veterinary Nurses'>Veterinary Nurses</option>
  <option value='Horticultural Trades Workers, nfd'>Horticultural Trades Workers, nfd</option>
  <option value='Florists'>Florists</option>
  <option value='Gardeners'>Gardeners</option>
  <option value='Greenkeepers'>Greenkeepers</option>
  <option value='Nurserypersons'>Nurserypersons</option>
  <option value='Other Technicians and Trades Workers, nfd'>Other Technicians and Trades Workers, nfd</option>
  <option value='Hairdressers'>Hairdressers</option>
  <option value='Printing Trades Workers, nfd'>Printing Trades Workers, nfd</option>
  <option value='Print Finishers and Screen Printers'>Print Finishers and Screen Printers</option>
  <option value='Graphic Pre-press Trades Workers'>Graphic Pre-press Trades Workers</option>
  <option value='Printers'>Printers</option>
  <option value='Textile, Clothing and Footwear Trades Workers, nfd'>Textile, Clothing and Footwear Trades Workers, nfd</option>
  <option value='Canvas and Leather Goods Makers'>Canvas and Leather Goods Makers</option>
  <option value='Clothing Trades Workers'>Clothing Trades Workers</option>
  <option value='Upholsterers'>Upholsterers</option>
  <option value='Wood Trades Workers, nfd'>Wood Trades Workers, nfd</option>
  <option value='Cabinetmakers'>Cabinetmakers</option>
  <option value='Wood Machinists and Other Wood Trades Workers'>Wood Machinists and Other Wood Trades Workers</option>
  <option value='Miscellaneous Technicians and Trades Workers, nfd'>Miscellaneous Technicians and Trades Workers, nfd</option>
  <option value='Boat Builders and Shipwrights'>Boat Builders and Shipwrights</option>
  <option value='Chemical, Gas, Petroleum and Power Generation Plant Operators'>Chemical, Gas, Petroleum and Power Generation Plant Operators</option>
  <option value='Gallery, Library and Museum Technicians'>Gallery, Library and Museum Technicians</option>
  <option value='Jewellers'>Jewellers</option>
  <option value='Performing Arts Technicians'>Performing Arts Technicians</option>
  <option value='Signwriters'>Signwriters</option>
  <option value='Other Miscellaneous Technicians and Trades Workers'>Other Miscellaneous Technicians and Trades Workers</option>
  <option value='Community and Personal Service Workers, nfd'>Community and Personal Service Workers, nfd</option>
  <option value='Health and Welfare Support Workers, nfd'>Health and Welfare Support Workers, nfd</option>
  <option value='Ambulance Officers and Paramedics'>Ambulance Officers and Paramedics</option>
  <option value='Dental Hygienists, Technicians and Therapists'>Dental Hygienists, Technicians and Therapists</option>
  <option value='Diversional Therapists'>Diversional Therapists</option>
  <option value='Enrolled and Mothercraft Nurses'>Enrolled and Mothercraft Nurses</option>
  <option value='Indigenous Health Workers'>Indigenous Health Workers</option>
  <option value='Massage Therapists'>Massage Therapists</option>
  <option value='Welfare Support Workers'>Welfare Support Workers</option>
  <option value='Carers and Aides, nfd'>Carers and Aides, nfd</option>
  <option value='Child Carers'>Child Carers</option>
  <option value='Education Aides'>Education Aides</option>
  <option value='Personal Carers and Assistants, nfd'>Personal Carers and Assistants, nfd</option>
  <option value='Aged and Disabled Carers'>Aged and Disabled Carers</option>
  <option value='Dental Assistants'>Dental Assistants</option>
  <option value='Nursing Support and Personal Care Workers'>Nursing Support and Personal Care Workers</option>
  <option value='Special Care Workers'>Special Care Workers</option>
  <option value='Hospitality Workers, nfd'>Hospitality Workers, nfd</option>
  <option value='Bar Attendants and Baristas'>Bar Attendants and Baristas</option>
  <option value='Cafe Workers'>Cafe Workers</option>
  <option value='Gaming Workers'>Gaming Workers</option>
  <option value='Hotel Service Managers'>Hotel Service Managers</option>
  <option value='Waiters'>Waiters</option>
  <option value='Other Hospitality Workers'>Other Hospitality Workers</option>
  <option value='Protective Service Workers, nfd'>Protective Service Workers, nfd</option>
  <option value='Defence Force Members, Fire Fighters and Police, nfd'>Defence Force Members, Fire Fighters and Police, nfd</option>
  <option value='Defence Force Members - Other Ranks'>Defence Force Members - Other Ranks</option>
  <option value='Fire and Emergency Workers'>Fire and Emergency Workers</option>
  <option value='Police'>Police</option>
  <option value='Prison and Security Officers, nfd'>Prison and Security Officers, nfd</option>
  <option value='Prison Officers'>Prison Officers</option>
  <option value='Security Officers and Guards'>Security Officers and Guards</option>
  <option value='Sports and Personal Service Workers, nfd'>Sports and Personal Service Workers, nfd</option>
  <option value='Personal Service and Travel Workers, nfd'>Personal Service and Travel Workers, nfd</option>
  <option value='Beauty Therapists'>Beauty Therapists</option>
  <option value='Driving Instructors'>Driving Instructors</option>
  <option value='Funeral Workers'>Funeral Workers</option>
  <option value='Gallery, Museum and Tour Guides'>Gallery, Museum and Tour Guides</option>
  <option value='Personal Care Consultants'>Personal Care Consultants</option>
  <option value='Tourism and Travel Advisers'>Tourism and Travel Advisers</option>
  <option value='Travel Attendants'>Travel Attendants</option>
  <option value='Other Personal Service Workers'>Other Personal Service Workers</option>
  <option value='Sports and Fitness Workers, nfd'>Sports and Fitness Workers, nfd</option>
  <option value='Fitness Instructors'>Fitness Instructors</option>
  <option value='Outdoor Adventure Guides'>Outdoor Adventure Guides</option>
  <option value='Sports Coaches, Instructors and Officials'>Sports Coaches, Instructors and Officials</option>
  <option value='Sportspersons'>Sportspersons</option>
  <option value='Clerical and Administrative Workers, nfd'>Clerical and Administrative Workers, nfd</option>
  <option value='Office Managers and Program Administrators, nfd'>Office Managers and Program Administrators, nfd</option>
  <option value='Contract, Program and Project Administrators'>Contract, Program and Project Administrators</option>
  <option value='Office and Practice Managers, nfd'>Office and Practice Managers, nfd</option>
  <option value='Office Managers'>Office Managers</option>
  <option value='Practice Managers'>Practice Managers</option>
  <option value='Personal Assistants and Secretaries, nfd'>Personal Assistants and Secretaries, nfd</option>
  <option value='Personal Assistants'>Personal Assistants</option>
  <option value='Secretaries'>Secretaries</option>
  <option value='General Clerical Workers, nfd'>General Clerical Workers, nfd</option>
  <option value='General Clerks'>General Clerks</option>
  <option value='Keyboard Operators'>Keyboard Operators</option>
  <option value='Inquiry Clerks and Receptionists, nfd'>Inquiry Clerks and Receptionists, nfd</option>
  <option value='Call or Contact Centre Information Clerks, nfd'>Call or Contact Centre Information Clerks, nfd</option>
  <option value='Call or Contact Centre Workers'>Call or Contact Centre Workers</option>
  <option value='Information Officers'>Information Officers</option>
  <option value='Receptionists'>Receptionists</option>
  <option value='Numerical Clerks, nfd'>Numerical Clerks, nfd</option>
  <option value='Accounting Clerks and Bookkeepers, nfd'>Accounting Clerks and Bookkeepers, nfd</option>
  <option value='Accounting Clerks'>Accounting Clerks</option>
  <option value='Bookkeepers'>Bookkeepers</option>
  <option value='Payroll Clerks'>Payroll Clerks</option>
  <option value='Financial and Insurance Clerks, nfd'>Financial and Insurance Clerks, nfd</option>
  <option value='Bank Workers'>Bank Workers</option>
  <option value='Credit and Loans Officers (Aus) / Finance Clerks (NZ)'>Credit and Loans Officers (Aus) / Finance Clerks (NZ)</option>
  <option value='Insurance, Money Market and Statistical Clerks'>Insurance, Money Market and Statistical Clerks</option>
  <option value='Clerical and Office Support Workers, nfd'>Clerical and Office Support Workers, nfd</option>
  <option value='Betting Clerks'>Betting Clerks</option>
  <option value='Couriers and Postal Deliverers'>Couriers and Postal Deliverers</option>
  <option value='Filing and Registry Clerks'>Filing and Registry Clerks</option>
  <option value='Mail Sorters'>Mail Sorters</option>
  <option value='Survey Interviewers'>Survey Interviewers</option>
  <option value='Switchboard Operators'>Switchboard Operators</option>
  <option value='Other Clerical and Office Support Workers'>Other Clerical and Office Support Workers</option>
  <option value='Other Clerical and Administrative Workers, nfd'>Other Clerical and Administrative Workers, nfd</option>
  <option value='Logistics Clerks, nfd'>Logistics Clerks, nfd</option>
  <option value='Purchasing and Supply Logistics Clerks'>Purchasing and Supply Logistics Clerks</option>
  <option value='Transport and Despatch Clerks'>Transport and Despatch Clerks</option>
  <option value='Miscellaneous Clerical and Administrative Workers, nfd'>Miscellaneous Clerical and Administrative Workers, nfd</option>
  <option value='Conveyancers and Legal Executives'>Conveyancers and Legal Executives</option>
  <option value='Court and Legal Clerks'>Court and Legal Clerks</option>
  <option value='Debt Collectors'>Debt Collectors</option>
  <option value='Human Resource Clerks'>Human Resource Clerks</option>
  <option value='Inspectors and Regulatory Officers'>Inspectors and Regulatory Officers</option>
  <option value='Insurance Investigators, Loss Adjusters and Risk Surveyors'>Insurance Investigators, Loss Adjusters and Risk Surveyors</option>
  <option value='Library Assistants'>Library Assistants</option>
  <option value='Other Miscellaneous Clerical and Administrative Workers'>Other Miscellaneous Clerical and Administrative Workers</option>
  <option value='Sales Workers, nfd'>Sales Workers, nfd</option>
  <option value='Sales Representatives and Agents, nfd'>Sales Representatives and Agents, nfd</option>
  <option value='Insurance Agents and Sales Representatives, nfd'>Insurance Agents and Sales Representatives, nfd</option>
  <option value='Auctioneers, and Stock and Station Agents'>Auctioneers, and Stock and Station Agents</option>
  <option value='Insurance Agents'>Insurance Agents</option>
  <option value='Sales Representatives'>Sales Representatives</option>
  <option value='Real Estate Sales Agents'>Real Estate Sales Agents</option>
  <option value='Sales Assistants and Salespersons, nfd'>Sales Assistants and Salespersons, nfd</option>
  <option value='Sales Assistants (General)'>Sales Assistants (General)</option>
  <option value='ICT Sales Assistants'>ICT Sales Assistants</option>
  <option value='Motor Vehicle and Vehicle Parts Salespersons'>Motor Vehicle and Vehicle Parts Salespersons</option>
  <option value='Pharmacy Sales Assistants'>Pharmacy Sales Assistants</option>
  <option value='Retail Supervisors'>Retail Supervisors</option>
  <option value='Service Station Attendants'>Service Station Attendants</option>
  <option value='Street Vendors and Related Salespersons'>Street Vendors and Related Salespersons</option>
  <option value='Other Sales Assistants and Salespersons'>Other Sales Assistants and Salespersons</option>
  <option value='Sales Support Workers, nfd'>Sales Support Workers, nfd</option>
  <option value='Checkout Operators and Office Cashiers'>Checkout Operators and Office Cashiers</option>
  <option value='Miscellaneous Sales Support Workers, nfd'>Miscellaneous Sales Support Workers, nfd</option>
  <option value='Models and Sales Demonstrators'>Models and Sales Demonstrators</option>
  <option value='Retail and Wool Buyers'>Retail and Wool Buyers</option>
  <option value='Telemarketers'>Telemarketers</option>
  <option value='Ticket Salespersons'>Ticket Salespersons</option>
  <option value='Visual Merchandisers'>Visual Merchandisers</option>
  <option value='Other Sales Support Workers'>Other Sales Support Workers</option>
  <option value='Machinery Operators and Drivers, nfd'>Machinery Operators and Drivers, nfd</option>
  <option value='Machine and Stationary Plant Operators, nfd'>Machine and Stationary Plant Operators, nfd</option>
  <option value='Machine Operators, nfd'>Machine Operators, nfd</option>
  <option value='Clay, Concrete, Glass and Stone Processing Machine Operators'>Clay, Concrete, Glass and Stone Processing Machine Operators</option>
  <option value='Industrial Spraypainters'>Industrial Spraypainters</option>
  <option value='Paper and Wood Processing Machine Operators'>Paper and Wood Processing Machine Operators</option>
  <option value='Photographic Developers and Printers'>Photographic Developers and Printers</option>
  <option value='Plastics and Rubber Production Machine Operators'>Plastics and Rubber Production Machine Operators</option>
  <option value='Sewing Machinists'>Sewing Machinists</option>
  <option value='Textile and Footwear Production Machine Operators'>Textile and Footwear Production Machine Operators</option>
  <option value='Other Machine Operators'>Other Machine Operators</option>
  <option value='Stationary Plant Operators, nfd'>Stationary Plant Operators, nfd</option>
  <option value='Crane, Hoist and Lift Operators'>Crane, Hoist and Lift Operators</option>
  <option value='Drillers, Miners and Shot Firers'>Drillers, Miners and Shot Firers</option>
  <option value='Engineering Production Workers'>Engineering Production Workers</option>
  <option value='Other Stationary Plant Operators'>Other Stationary Plant Operators</option>
  <option value='Mobile Plant Operators, nfd'>Mobile Plant Operators, nfd</option>
  <option value='Agricultural, Forestry and Horticultural Plant Operators'>Agricultural, Forestry and Horticultural Plant Operators</option>
  <option value='Earthmoving Plant Operators'>Earthmoving Plant Operators</option>
  <option value='Forklift Drivers'>Forklift Drivers</option>
  <option value='Other Mobile Plant Operators'>Other Mobile Plant Operators</option>
  <option value='Road and Rail Drivers, nfd'>Road and Rail Drivers, nfd</option>
  <option value='Automobile, Bus and Rail Drivers, nfd'>Automobile, Bus and Rail Drivers, nfd</option>
  <option value='Automobile Drivers'>Automobile Drivers</option>
  <option value='Bus and Coach Drivers'>Bus and Coach Drivers</option>
  <option value='Train and Tram Drivers'>Train and Tram Drivers</option>
  <option value='Delivery Drivers'>Delivery Drivers</option>
  <option value='Truck Drivers'>Truck Drivers</option>
  <option value='Storepersons'>Storepersons</option>
  <option value='Labourers, nfd'>Labourers, nfd</option>
  <option value='Cleaners and Laundry Workers, nfd'>Cleaners and Laundry Workers, nfd</option>
  <option value='Car Detailers'>Car Detailers</option>
  <option value='Commercial Cleaners'>Commercial Cleaners</option>
  <option value='Domestic Cleaners'>Domestic Cleaners</option>
  <option value='Housekeepers'>Housekeepers</option>
  <option value='Laundry Workers'>Laundry Workers</option>
  <option value='Other Cleaners'>Other Cleaners</option>
  <option value='Construction and Mining Labourers, nfd'>Construction and Mining Labourers, nfd</option>
  <option value='Building and Plumbing Labourers'>Building and Plumbing Labourers</option>
  <option value='Concreters'>Concreters</option>
  <option value='Fencers'>Fencers</option>
  <option value='Insulation and Home Improvement Installers'>Insulation and Home Improvement Installers</option>
  <option value='Paving and Surfacing Labourers'>Paving and Surfacing Labourers</option>
  <option value='Railway Track Workers'>Railway Track Workers</option>
  <option value='Structural Steel Construction Workers'>Structural Steel Construction Workers</option>
  <option value='Other Construction and Mining Labourers'>Other Construction and Mining Labourers</option>
  <option value='Factory Process Workers, nfd'>Factory Process Workers, nfd</option>
  <option value='Food Process Workers, nfd'>Food Process Workers, nfd</option>
  <option value='Food and Drink Factory Workers'>Food and Drink Factory Workers</option>
  <option value='Meat Boners and Slicers, and Slaughterers'>Meat Boners and Slicers, and Slaughterers</option>
  <option value='Meat, Poultry and Seafood Process Workers'>Meat, Poultry and Seafood Process Workers</option>
  <option value='Packers and Product Assemblers, nfd'>Packers and Product Assemblers, nfd</option>
  <option value='Packers'>Packers</option>
  <option value='Product Assemblers'>Product Assemblers</option>
  <option value='Miscellaneous Factory Process Workers, nfd'>Miscellaneous Factory Process Workers, nfd</option>
  <option value='Metal Engineering Process Workers'>Metal Engineering Process Workers</option>
  <option value='Plastics and Rubber Factory Workers'>Plastics and Rubber Factory Workers</option>
  <option value='Product Quality Controllers'>Product Quality Controllers</option>
  <option value='Timber and Wood Process Workers'>Timber and Wood Process Workers</option>
  <option value='Other Factory Process Workers'>Other Factory Process Workers</option>
  <option value='Aquaculture Workers'>Aquaculture Workers</option>
  <option value='Crop Farm Workers'>Crop Farm Workers</option>
  <option value='Forestry and Logging Workers'>Forestry and Logging Workers</option>
  <option value='Garden and Nursery Labourers'>Garden and Nursery Labourers</option>
  <option value='Livestock Farm Workers'>Livestock Farm Workers</option>
  <option value='Mixed Crop and Livestock Farm Workers'>Mixed Crop and Livestock Farm Workers</option>
  <option value='Other Farm, Forestry and Garden Workers'>Other Farm, Forestry and Garden Workers</option>
  <option value='Fast Food Cooks'>Fast Food Cooks</option>
  <option value='Food Trades Assistants'>Food Trades Assistants</option>
  <option value='Kitchenhands'>Kitchenhands</option>
  <option value='Freight Handlers and Shelf Fillers, nfd'>Freight Handlers and Shelf Fillers, nfd</option>
  <option value='Freight and Furniture Handlers'>Freight and Furniture Handlers</option>
  <option value='Shelf Fillers'>Shelf Fillers</option>
  <option value='Caretakers'>Caretakers</option>
  <option value='Deck and Fishing Hands'>Deck and Fishing Hands</option>
  <option value='Handypersons'>Handypersons</option>
  <option value='Motor Vehicle Parts and Accessories Fitters'>Motor Vehicle Parts and Accessories Fitters</option>
  <option value='Printing Assistants and Table Workers'>Printing Assistants and Table Workers</option>
  <option value='Recycling and Rubbish Collectors'>Recycling and Rubbish Collectors</option>
  <option value='Vending Machine Attendants'>Vending Machine Attendants</option>
</select>