<section class="pdt30 pdb30 moneyloop-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="title"> Seen In </div>
                <div class="owl-carousel owl-theme partners-slider">
                    <div class="item pinside20">
                        <%= link_to image_tag("moneyloop/partners/insurtech.png"), "https://insurtechaustralia.org/inspire-insurtech-series-moneyloop/" %>
                    </div>
                    <div class="item pinside20">
                        <%= link_to image_tag("moneyloop/partners/insurtech.png"), "https://insurtechaustralia.org/inspire-insurtech-series-moneyloop/" %>
                    </div>
                    <div class="item pinside20">
                        <%= link_to image_tag("moneyloop/partners/ey.gif"), "https://www.ey.com/Publication/vwLUAssets/ey-an-assessment-of-the-australian-insurtech-ecosystem/$FILE/ey-an-assessment-of-the-australian-insurtech-ecosystem.pdf" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>