<section class="pdt30 pdb30 moneyloop-white-bg">
    <div class="container">
        <div class="row">
            <div class="news-list col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-12">
                <div class="title"> Seen In </div>
                <ul>
                    <li><%= link_to "Inspire Insurtech Series: MoneyLoop", "https://insurtechaustralia.org/inspire-insurtech-series-moneyloop/" %></li>
                    <li><%= link_to "Insurtech head calls for stronger community", "https://insurtechaustralia.org/inspire-insurtech-series-moneyloop/" %></li>
                    <li><%= link_to "An assessment of the Australian Insurtech ecosystem", "https://www.ey.com/Publication/vwLUAssets/ey-an-assessment-of-the-australian-insurtech-ecosystem/$FILE/ey-an-assessment-of-the-australian-insurtech-ecosystem.pdf" %></li>
                </ul>
            </div>
        </div>
    </div>

</section>