          <!-- Sidebar -->
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="sidebar-area">
            <div class="row">
              <!-- Login/Logout -->
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-primary">
                  <div class="widget widget-search">
                    <p id="notice"><%= notice %></p>
                    <% if user_signed_in? %>
                      <!-- Sign out -->
                      <h3 class="widget-title"> Welcome! </h3>
                      <%= link_to 'New Post', new_blog_path, class: "btn btn-default" %>
                      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-default" %>
                    <% else %>
                      <!-- Sign in -->
                      <h3 class="widget-title"> Sign in </h3>
                      <%= link_to "Sign in", new_user_session_path, class: "btn btn-default" %>
                    <% end %>
                  </div>
                </div>
              </div>
              <!-- Search bar -->
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-primary">
                  <div class="widget widget-search">
                    <h3 class="widget-title">Search Bar</h3>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /input-group -->
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-primary">
                  <div class="widget widget-category">
                    <h3 class="widget-title">Categories</h3>
                      <ul class="listnone bullet bullet-arrow-circle-right">
                        <li><a href="#">Personal Loan</a></li>
                        <li><a href="#">Education Loan</a></li>
                        <li><a href="#">Car Loan</a></li>
                        <li><a href="#">Home Loan</a></li>
                        <li><a href="#">Business Loan</a></li>
                        <li><a href="#">Debt Consolidation</a></li>
                      </ul>
                  </div>
                </div>
              </div>
              <!-- Recent posts -->
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-primary">
                  <div class="widget widget-recent-post">
                    <h3 class="widget-title mb30">Recent post</h3>
                    <ul class="listnone">
                      <!-- Single recent post listing -->
                      <%# @blogs.each do |blog| %>
                        <li>
                          <div class="recent-block mb20">
                            <div class="row">
                              <div class="col-md-4 col-sm-2 col-xs-5">
                                <%# link_to image_tag("recent-img-1.jpg", alt: "Borrow - Loan Company Website Template"), blog, class: "img-responsive mb10" %>
                              </div>
                              <div class="col-md-8 col-sm-10 col-xs-7">
                                <h4 class="recent-title mb10"><%# link_to blog.title, blog, class: "title" %></h4>
                                <div class="meta">
                                    <span class="meta-date">Aug 22, 2017 </span>
                                </div>  
                              </div>
                            </div>
                          </div>
                        </li>
                      <%# end %>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Archives -->
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-primary">
                  <div class="widget widget-archives">
                    <h3 class="widget-title">Archives</h3>
                    <ul class="listnone bullet bullet-arrow-circle-right">
                      <li><a href="#">August 2017</a></li>
                      <li><a href="#">July 2017</a></li>
                      <li><a href="#">June 2017</a></li>
                      <li><a href="#">May 2017</a></li>
                      <li><a href="#">April 2017</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Tags -->
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-primary">
                  <div class="widget widget-tags">
                    <h3 class="widget-title mb30">Tags</h3>
                    <a href="#" title="Car Loan">Car Loan</a> <a href="#" title="Education">Education</a> <a href="#" title="Home">Home</a> <a href="#" title="Debt Consolidation">Debt Consolidation</a> <a href="#" title="Business">Business</a> <a href="#" title="Education">Education</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>