<section>
    <div class="title testimonial-section text-center section-title">
        Our Success Stories
    </div><br/>

    <div class= "container">
        <div class="row">
            <div class="col-xl-12 mb20">
                <div class="owl-carousel owl-theme testimonials-slider">
                    <div class="item testimonial-customer text-center pinside10 marginside20">
                        <p class="testimonial-text">
                            “I wouldn’t have been able to pay my [excess] if it wasn’t for MoneyLoop. The company would have cancelled my contract and I would have been stuck without a car. It’s been a lifesaver!”
                        </p>
                        <h4>Samuel G, <br/>Customer</h4>
                    </div>
                    <div class="item testimonial-insurer text-center pinside10 marginside20">
                        <p class="testimonial-text">
                            “This allows our customers to drive for longer because it gets our cars back on the road sooner. Splend gets improved revenue and lower costs.”
                        </p>
                        <h4>Head of Insurance, <br/>Splend </h4>
                    </div>
                    <div class="item testimonial-customer text-center pinside10 marginside20">
                        <p class="testimonial-text">
                            “I didn’t even know a product like this existed. I received an unexpected bill for $1,300 for hail damage and the MoneyLoop product and service has been amazing.”
                        </p>
                        <h4> Scott H, <br/>Customer</h4>
                    </div>
                    <div class="item testimonial-insurer text-center pinside10 marginside20">
                        <p class="testimonial-text">
                            “This helps our customers and solves a huge problem for us around customer retention."
                        </p>
                        <h4>Operations Manager, <br/>DriveMyCar</h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>