<section>
    <div class="testimonial-section text-center section-title">
        <h1>Our Success Stories</h1>
    </div>

    <div class= "container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1 mb20">
                <div class="owl-carousel owl-theme testimonials-slider">
                    <%# First Item %>
                    <div class="item">
                        <p class="testimonial-text text-center">
                            “Borrowing from MoneyLoop was like borrowing from a friend.”
                        </p>
                        <div class="testimonial-autor-box">
                            <div class="testimonial-img pull-left"> <%= image_tag("testimonial-img.jpg", alt: "Borrow - Loan Company Website Template") %> </div>
                            <div class="testimonial-autor pull-left">
                                <h4>- Mike, 27</h4>
                                <span class="testimonial-meta">Accomplished Guy</span>
                            </div>
                        </div>
                    </div>
                    <%# Second Item %>
                    <div class="item">
                        <p class="testimonial-text text-center">
                            “Borrowing MoneyLoop from a friend.”
                        </p>
                        <div class="testimonial-autor-box">
                            <div class="testimonial-img pull-left"> <%= image_tag("testimonial-img.jpg", alt: "Borrow - Loan Company Website Template") %> </div>
                            <div class="testimonial-autor pull-left">
                                <h4>- Mike, 27</h4>
                                <span class="testimonial-meta">Accomplished Guy</span> 
                            </div>
                        </div>
                    </div>
                    <%# Third Item %>
                    <div class="item">
                        <p class="testimonial-text text-center">
                            “Borrowing. Friend. MoneyLoop.”
                        </p>
                        <div class="testimonial-autor-box">
                            <div class="testimonial-img pull-left"> <%= image_tag("testimonial-img.jpg", alt: "Borrow - Loan Company Website Template") %> </div>
                            <div class="testimonial-autor pull-left">
                                <h4>- Mike, 27</h4>
                                <span class="testimonial-meta">Accomplished Guy</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>