<%# Title Card %>
<div class="moneyloop-bg-blue mb30 title-card">
    <div class="container">
        <div class="row">
            <div class="text-center padding2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>The Numbers Were Big - 59%</h1>
            </div>
        </div>
    </div>
</div>

<%# Power Statement %>
<div class="container">
    <div class="row">
        <div class="text-center col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h2>
                Did you know that 59% of Australians don’t have access to $3,000 in an emergency, with over 21% not having $1,000 in savings?
            </h2>
            <h3>
                We knew we could create a solution!<br/>
                Stress and interest-free excess no longer needed to be a dream.
            </h3>
        </div>
    </div>
</div>

<%# About Us %>
<section class="container">
    <%# Our Story %>
    <div class="row box">
        <div class="grey col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h1 class="text-center bold moneyloop-orange">Our Story</h1>
            <p class="lead mb30 text-center">
                MoneyLoop was founded in January 2018, with the sole goal of enabling consumers to manage their unexpected emergency expenses better.
            </p>
            <p>
                We noticed that nearly 3 in 5 Australians do not have access to $3,000 in an emergency, and 1 in 5 do not have $1,000 in savings.<br/>
                This eventually makes claiming on their insurance product not only emotionally stressful but also financially.<br/>
            </p>
        </div>
        <div class="img-lg pdt80 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
            <%= image_tag "moneyloop/motif_blue.png" %>
        </div>
    </div>
    <%# Our Ethos %>
    <div class="row box">
        <div class="img-lg pdt20 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
            <%= image_tag "moneyloop/about/offer.png" %>
        </div>
        <div class="grey col-xl-7 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h1 class="text-center bold moneyloop-green">Our Ethos</h1>
            <p class="lead mb10 text-center">
                We strongly believe in
            </p>
            <ul class="ticklist marginl70">
                <li>Empowering those we serve</li>
                <li>Always delivering value</li>
                <li>Being customer-centric, respectful and braving the truth</li>
                <li>Innovating and challenging the status quo</li>
            </ul>
        </div>
    </div>
    <%# Mission %>
    <div class="row box">
        <div class="grey col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h1 class="text-center bold moneyloop-orange">Our Mission</h1>
            <p class="lead mb30 text-center">
                To help people through the challenging times of an 'insurance' emergency with unconditional, stress and interest-free excess.
            </p>
            <p>
                Finding cash for your insurance excess can be emotionally stressful and financially challenging.
                We're on a mission to make sure that the excess claims process is never stressful again.
            </p>
        </div>
        <div class="img-lg pdt40 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
            <%= image_tag "moneyloop/about/mission.png" %>
        </div>
    </div>
</section>

<%# Numbers Band %>
<section class="paddingb3">
    <div class="text-center mb20">
        <h2> MoneyLoop supports the majority of insurance products that have excess payable at claim </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center" data-aos="zoom-in">
                    <h1 class="moneyloop-green">$100,000</h1>
                    <p class="grey">Loans financed...and counting</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center" data-aos="zoom-in">
                    <h1 class="moneyloop-green">150,000+</h1>
                    <p class="grey">Customers Empowered</p>
                </div>
            </div>
            <div class="col">
                <div class="text-center" data-aos="zoom-in">
                    <h1 class="moneyloop-green">0</h1>
                    <p class="grey">Loans turned away</p>
                </div>
            </div>
                <div class="col">
                    <div class="text-center" data-aos="zoom-in">
                        <h1 class="moneyloop-green">
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>
                        </h1>
                        <p class="mt20 grey">Customer Rating</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%# Why Us? %>
<section class="moneyloop-bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
                <h1 class="grey text-center bold"> Why Us?</h1><br/>
            </div>

            <div class="col-xl-4 offset-xl-2 col-lg-4 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="text-left">
                    <h2>For insurers we </h2>
                </div>
                <ul class="ticklist">
                    <li>Improve customer experience</li>
                    <li>Decrease customer churn</li>
                    <li>Reduce claim management costs</li>
                    <li>Improve cashflow</li>
                </ul>
            </div>
            <div class="mb40 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
                <div class="text-left">
                    <h2>For customers we provide</h2>
                </div>
                <ul class="ticklist"> 
                    <li>Support and peace of mind during life’s
                        unexpected moments</li>
                    <li>Interest-free excess payments</li>
                    <li>Reduce claim management costs</li>
                    <li>Flexible excess instalment plans</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%# Testimonials %>
<section class="padding3">
    <%= render "shared/testimonials"%>
</section>