<%# Render the header %>
<%= render "shared/header" %>

<section class="home">
    <%# Homepage slider %>
    <div class="owl-carousel home-slider">
        <%# First Item %>
        <div class="item item-first">
            <div class="caption">
                <div class="container">
                    <div class="col-md-6 col-sm-12">
                        <h1>Principled Lender</h1>
                        <a href="#feature" class="section-btn btn btn-default smoothScroll">Register Interest</a>
                    </div>
                </div>
            </div>
        </div>
        <%# Second Item %>
        <div class="item item-second">
            <div class="caption">
                <div class="container">
                    <div class="col-md-6 col-sm-12">
                        <h1>Innovative Consumer Product</h1>
                        <a href="#courses" class="section-btn btn btn-default smoothScroll">Get Involved</a>
                    </div>
                </div>
            </div>
        </div>
        <%# Third Item %>
        <div class="item item-third">
            <div class="caption">
                <div class="container">
                    <div class="col-md-6 col-sm-12">
                        <h1>Easy to get Started</h1>
                        <a href="#contact" class="section-btn btn btn-default smoothScroll">Connect Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>

<%# Render footer %>
<%= render "shared/footer" %>