<%# Login Box %>
<section>
    <div class="container">
        <div class="row">
            <%# Benefits%>
            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                <h1> Benefits </h1>
                <ul>
                    <li> A </li>
                    <li> list </li>
                    <li> of </li>
                    <li> benefits </li>
                </ul>
            </div>
            <%# Login Sidebar %>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="sidebar-area">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="bg-primary">
                                <div class="widget widget-search">
                                    <h3 class="widget-title"> Go to the Dashboard </h3>
                                    <%= link_to "Login", login_path, class: "btn btn-default" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%# Benefits %>