<div class="slider" id="slider">
    <div>
        <!-- slider -->
        <%= link_to image_tag("slider-2.jpg", alt: "Borrow - Loan Company Website Template", class: "slider-img"), "#"%>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Principled Lender</h1>
                        <!--<p class="slider-text d-none d-xl-block d-lg-block d-sm-block">No consumer fees</p>-->
                        <a href="#" class="btn btn-default">Register Interest</a>
                    </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>

    <div>
        <!-- slider -->
        <%= link_to image_tag("slider-1.jpg", alt: "Borrow - Loan Company Website Template", class: "slider-img"), "#"%>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Innovative Consumer Product</h1>
                        <!--<p class="slider-text d-none d-xl-block d-lg-block d-sm-block">No consumer fees</p>-->
                        <a href="#" class="btn btn-default">Get Involved</a>
                    </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
        <div>
        <!-- slider -->
        <%= link_to image_tag("slider-3.jpg", alt: "Borrow - Loan Company Website Template", class: "slider-img"), "#"%>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="slider-captions">
                        <!-- slider-captions -->
                        <h1 class="slider-title">Easy to get Started</h1>
                        <!--<p class="slider-text d-none d-xl-block d-lg-block d-sm-block">No consumer fees</p>-->
                        <a href="#" class="btn btn-default">Connect Now</a>
                    </div>
                    <!-- /.slider-captions -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rate-table">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <%=image_tag("credit-card.svg", alt: "Credit Card image", class: "icon-svg-1x")%></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">22%</h1>
                        <small class="rate-title">Credit Card</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <%=image_tag("loan.svg", alt: "Borrow - Loan Company Website Template", class: "icon-svg-1x")%></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">13%</h1>
                        <small class="rate-title">Personal Loan</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <%=image_tag("car.svg", alt: "Borrow - Loan Company Website Template", class: "icon-svg-1x")%></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">48%</h1>
                        <small class="rate-title">Payday Loan</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="rate-counter-block">
                    <div class="icon rate-icon  "> <%=image_tag("credit-card.svg", alt: "Credit Card image", class: "icon-svg-1x")%></div>
                    <div class="rate-box">
                        <h1 class="loan-rate">4%</h1>
                        <small class="rate-title">Savings/Offset Account</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Find Loan Products We Offers</h1>
                    <p>0% interest, 24 hour approval time, 100% consumer uptake</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="service" id="service">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <%= image_tag("loan.svg", alt: "Borrow - Loan Company Website Template", class: "icon-svg-2x")%> </div>
                        <h2><a href="#" class="title">Automotive Excess</a></h2>
                        <p>Lorem ipsum dolor sit ameectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <%= image_tag("mortgage.svg", alt: "Borrow - Loan Company Website Template", class: "icon-svg-2x")%> </div>
                        <h2><a href="#" class="title">Sharing Economy Excess</a></h2>
                        <p>Sed ut perspiciatis unde omnis rror sit voluptatem accusan tium dolo remque laudantium, totam rem aperiam, eaque ipsa </p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <%= image_tag("piggy-bank.svg", alt: "Borrow - Loan Company Website Template", class: "icon-svg-2x")%> </div>
                        <h2><a href="#" class="title">Home and Contents Excess</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elmodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <%= image_tag("loan.svg", alt: "Borrow - Loan Company Website Template", class: "icon-svg-2x")%> </div>
                        <h2><a href="#" class="title"> Medical Gap Payments</a></h2>
                        <p>Lorem ipsum dolor sit nean commodo ligula eget dolor simple dummyum sociis natoque.amet, consectetuer adipiscing elit. </p>
                        <a href="#" class="btn-link">Read More</a> </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="bg-white pinside40 service-block outline mb30">
                        <div class="icon mb40"> <%= image_tag("car.svg", alt: "Borrow - Loan Company Website Template", class: "icon-svg-2x")%> </div>
                        <h2><a href="#" class="title">SME Excess</a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                        <a href="#" class="btn-link">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white section-space80">
    <div class="container">
        <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb100 text-center section-title">
                    <!-- section title start-->
                    <h1>Fast &amp; Easy Application Process.</h1>
                    <p>Suspendisse aliquet varius nunc atcibus lacus sit amet coed portaeri sque mami luctus viveed congue lobortis faucibus.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">1</span></div>
                    <h3 class="number-title">Choose Loan Amount</h3>
                    <p>Suspendisse accumsan imperdue ligula dignissim sit amet vestibulum in mollis etfelis.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">2</span></div>
                    <h3 class="number-title">Approved Your Loan</h3>
                    <p>Fusce tempor sstibulum varius sem nec mi luctus viverra edcongue lobortis faucibus.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                <div class="bg-white pinside40 number-block outline mb60 bg-boxshadow">
                    <div class="circle"><span class="number">3</span></div>
                    <h3 class="number-title">Get Your Cash</h3>
                    <p>Get your money in minutes simtibulm varius semnec mluctus gue lobortis faucibus.</p>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12 text-center"> <a href="#" class="btn btn-default">View Our Loans</a> </div>
        </div>
    </div>
</div>

<div class="section-space80">
    <div class="container">
        <div class="row">
            <div class="offset-xl-2 col-xl-8 offset-md-2 col-md-8 offset-md-2 col-md-8 col-sm-12 col-12">
                <div class="mb60 text-center section-title">
                    <!-- section title start-->
                    <h1>Why People Choose Us</h1>
                    <p>Suspendisse aliquet varius nunc atcibus lacus sit amet coed portaeri sque mami luctus viveed congue lobortis faucibus.</p>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="bg-white bg-boxshadow">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-command  icon-4x icon-primary"></i></div>
                                <h3>Dedicated Specialists</h3>
                                <p>Duis eget diam quis elit erdiet alidvolutp terdum tfanissim non intwesollis eu mauris.</p>
                                <a href="#" class="btn btn-outline mt20">Meet the team</a> </div>
                        </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-cup  icon-4x icon-primary"></i></div>
                                <h3>Success Stories Rating</h3>
                                <p>Integer facilisis fringilla dolor ut luctus lvinar felis miat velitliquam at fermentum orci.</p>
                                <a href="#" class="btn btn-outline mt20">View Client Review</a> </div>
                        </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 nopadding">
                            <div class="bg-white pinside60 number-block outline">
                                <div class="mb20"><i class="icon-calculator  icon-4x icon-primary"></i></div>
                                <h3>No front Appraisal Fees!</h3>
                                <p> Integer faisis fringilla dolor ut luctus nisi eneinar felis viverra dignissim fermentum orci.</p>
                                <a href="#" class="btn btn-outline mt20">Why choose us</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
