<%# Title Card %>
<div class="moneyloop-bg-orange mb30 title-card">
    <div class="container">
        <div class="row">
            <div class="text-center padding2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>Meet the Team</h1>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="wrapper-content pinside40">
                <%# Team Member Profiles %>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="team-igm1 mb30"> 
                                <%= link_to image_tag("team1.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive"), "https://www.linkedin.com/in/joshuatheeuf/", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Joshua Theeuf</h3>
                                <small class="moneyloop-orange">Co-Founder and CEO</small> 
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="team-igm1 mb30">
                                <%= link_to image_tag("team2.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive"), "https://www.linkedin.com/in/carycheung/", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Cary Cheung</h3>
                                <small class="moneyloop-green">Co-Founder and CEO</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="team-igm1 mb30"> 
                                <%= link_to image_tag("team3.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive"), "https://www.linkedin.com", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Aisha Hillary-Morgan</h3>
                                <small class="moneyloop-orange">Advisor | Brand and Marketing</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>