<section class="container">
    <div class="row'">
        <div class="text-center">
            <img src="https://www.logostack.com/wp-content/uploads/designers/Manudesign/sad-robot_logoturn2-600x420.png"/>
            <% if @error_msg %>
                <h1><%= @error_msg %></h1>
                <h2> Please contact hello@moneyloop.com </h2>
            <% else %>
                <h1> Sorry, something went wrong </h1>
                <% if @error_code == "400" %>
                    <p> Please fill out these fields correctly and try again:
                    <ul>
                        <% @data = JSON.parse(@error_body) %>
                        <% @data.each do |error, value| %>
                            <%# TODO - convert into a nicer value %>
                            <li> <%= error %> </li>
                        <% end %>
                    </ul>
                <% else %>
                    <h3> Unknown error (<%= @error_code %>) </h3>
                <% end %>
            <% end %>
        </div>
    </div>
</section>