<%# Render the top bar and navigation bar %>
<%= render "shared/top-bar" %>
<%= render "shared/navigation-bar" %>

<div class="center_div">
    <h1> You've been approved! </h1>
    <p> Your credit score is: <b><%= @notice %></b> </p>
</div>

<%# Render footer %>
<%= render "shared/footer" %>