<%# Title Card %>
<div class="moneyloop-bg-orange mb30 title-card">
    <div class="container">
        <div class="row">
            <div class="text-center padding2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1>Meet The Team</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="text-center col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-12 col-sm-12 col-12">
            <h2 class="moneyloop-green">
                We love what we do and are not ashamed to smile about it
            </h2>
            <h3>
                A world-first in insurtech, we're helping Australians everyday, with a zero turn away policy,
                that's why we've all got smiles on our faces.
            </h3>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="wrapper-content pinside40">
                <%# Team Member Profiles %>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="mb30"> 
                                <%= link_to image_tag("moneyloop/team/josh.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive img-grayscale img-xl"), "https://www.linkedin.com/in/joshuatheeuf/", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Joshua Theeuf</h3>
                                <small class="moneyloop-orange">Co-Founder and CEO</small> 
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="mb30">
                                <%= link_to image_tag("moneyloop/team/cary.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive img-grayscale img-xl"), "https://www.linkedin.com/in/carycheung/", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Cary Cheung</h3>
                                <small class="moneyloop-green">Co-Founder and COO</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="mb30"> 
                                <%= link_to image_tag("moneyloop/team/aisha.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive img-grayscale img-xl"), "https://www.linkedin.com/in/aishahillary/", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Aisha Hillary-Morgan</h3>
                                <small class="moneyloop-orange">Advisor | Brand and Marketing</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>