/*---------------------------------------
   FOOTER              
-----------------------------------------*/
.footer {
    background: #252020;
    padding: 50px 0;
    &.section-title {
      padding-bottom: 10px;
    }
    & h2 {
      font-size: 20px;
    }
    & a, & p {
      color: #909090;
    }
    & strong {
      color: #d9d9d9;
    }
    & address p {
      margin-bottom: 0;
    }
    & .social-icon {
      margin-top: 25px;
    }
  }
  
  .footer-info {
    margin-right: 2em;
    & h2 {
      color: #ffffff;
      padding: 0;
    }
  }

  .footer_menu {
    & h2 {
    margin-top: 2em;
    }
    & ul {
      margin: 0;
      padding: 0;
    }
    & li {
      display: inline-block;
      list-style: none;
      margin: 5px 10px 5px 0;
    }
  }
  
  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/
  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }
  
  .social-icon li a {
    border-radius: 100px;
    color: #29ca8e;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }
  
  .social-icon li a:hover {
    background: #29ca8e;
    color: #ffffff;
  }