/*---------------------------------------
  Header
-----------------------------------------*/
.header {
    padding: 5px 15%;
    background-color: #fafafa;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.6;
    & a{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        color: #33768e;
        &:hover {
            color: #323232;
        }
    }
}

/*---------------------------------------
  Navigation Bar 
-----------------------------------------*/
.nav_bar {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 99;
    -webkit-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
    box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
    -moz-box-shadow: 0px 5px 9px 1px rgba(144, 161, 180, 0.2);
}
.nav_logo {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// TODO - I'm not sure what really styles what past here, but it works lol
.nav_items, .nav_items ul, .nav_items ul li, .nav_items ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:after, >ul:after{
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}
.nav_items {
    float: right;
    margin-top: 8px;
    position: relative;
    z-index: 99;
    &>ul>li {
        float: left;
        &>a {
            padding: 16px 10px;
            font-size: 13px;
            text-decoration: none;
            color: #66707f;
            font-weight: 600;
            text-transform: uppercase;
        }
        &:hover {
            color: #323232;
        }
        &.has-sub>a{
            padding-right: 30px;
            &:before {
                position: absolute;
                right: 14px;
                font-family: 'Nunito', sans-serif;
                content: "\f107";
                -webkit-transition: all .25s ease;
                -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                -o-transition: all .25s ease;
                transition: all .25s ease;
            }
        }
    }
    &.align-center {
        & ul ul {
            text-align: left;
        }
        &>ul {
            font-size: 0;
            text-align: center;
        }
        &>li {
            display: inline-block;
            float: none;
        }
    }
    &.align-right {
        &>ul>li {
            float: right;
        }
        & ul ul {
            text-align: right;
        }
        & li:hover>ul {
            left: auto;
            right: 0;
        }
        & ul ul ul {
            margin-left: 0;
            margin-right: 100%;
        }
    }
    & ul ul {
        position: absolute;
        left: -9999px;
    }
    & ul ul li {
        height: 0;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
    & li:hover>ul {
        left: auto;
        &>li{
            height: 45px;
        }
    }
    & ul ul ul {
        margin-left: 100%;
        top: 0;
    }
    & ul ul li a {
        border-bottom: 1px solid rgba(222, 231, 242, 1);
        padding: 15px 15px 16px 15px;
        width: 220px;
        font-size: 13px;
        text-decoration: none;
        color: #66707f;
        font-weight: 500;
        background: #fff;
        &:hover {
            color: #f6f7ef;
            background-color: #17917f;
        }
    }
}
