@import '../material/_general';
@import '../material/_colours';
@import '../material/_spacing';
@import '../material/_header';
@import '../material/_footer';

/*-----------------------------------------
Boxes, Cards and Sections
------------------------------------------*/
.title-card {
   padding: 2%;
}
.box {
   margin-top: 7%;
   margin-bottom: 7%;
}
.box-sm {
   display: flex;
   min-height: 150px;
}
.title_box{
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

/*-----------------------------------------
Images
------------------------------------------*/
.img-sm {
  object-fit: cover;
  max-width: 50px;
  max-height: 50px;
}
.img-md {
   max-width: 100px;
   max-height: 100px;
}
.img-lg {
   max-width: 270px;
   max-height: 270px;
}

.img-xl {
   object-fit: cover;
   width: 360px;
   height: 360px;
}
.img-banner {
    object-fit: cover;
    width: 720px;
    height: 300px;
}
.img-grayscale {
   filter: grayscale(100%);
   &:hover{
      filter: grayscale(0%);
   }
}
.img-curve {
  border-radius: 10px;
}

/*-----------------------------------------
Text
------------------------------------------*/
.lead {
   line-height: 36px;
   font-size: 24px;
}
.bold {
   font-style: bold !important;
}
.ticklist {
   padding-left: 0;
   // list-style-image: image-url("moneyloop/motif_blue.png");
   // list-style-type: none;
   // list-style-position: outside;
   // 
   // & li:before {
   //    content: '✅';
   //    margin-left: -20px;
   //    margin-right: 10px;
   // }
   & li {
      color: #66707f;
   }
}
.center {
   margin: auto;
   text-align: center;
}

/*-----------------------------------------
Buttons
------------------------------------------*/
.btn {
   text-transform: none;
   background: #f6f7ef;
   color: #323232;
   padding: 5px;
   text-align: center;
   &:hover{
         color: #17917f;
         background: #d4d4d4;
   }
}
.btn-small{
   padding: 5px;
}
.btn-large{
   padding: 15px;
   margin: 20px;
}
.btn-submit{
   display: flex;
   align-items: center;
   padding: 2%;
   color: rgb(245,140,67);
}