@import '../material/_general';
@import '../material/_colours';
@import '../material/_spacing';
@import '../material/_header';
@import '../material/_footer';

/*-----------------------------------------
Commonly used custom classes
------------------------------------------*/
.title-card {
   padding: 2%;
   & .title {
         padding-top: 7%;
         color: #f6f7ef;
         font-size: 50px;
         font-style: normal;
   }
   & .subtitle {
         color: #f6f7ef;
         font-size: 20px;
         font-style: normal;
         padding-bottom: 7%;
   }
}
.btn {
   text-transform: none;
   background: #f6f7ef;
   color: #323232;
   padding: 5px;
   text-align: center;
   &:hover{
         color: #17917f;
         background: #d4d4d4;
   }
}
.btn-small{
   padding: 5px;
}
.btn-large{
   padding: 15px;
   margin: 20px;
}
.btn-submit{
   padding-bottom: 15px;
   //background: #ffffff;
   color: #66707f;
}


.box {
   margin-top: 10%;
   margin-bottom: 10%;
   & h1 {
         font-style: bold;
   }
   & p {
         color: #66707f;
   }
}
.box-img {
   max-width: 270px;
   max-height: 270px;
}

// For a div that splits into four groups
.quarter-section {
   display: block;

   & img{
       max-width: 100px;
       max-height: 100px;
       padding: 10px;
       margin: 0 80px;
   }
}

.title {
   color: #66707f;
   font-style: italic;
   font-size: 25px;
   text-align: center;
}
.subtitle {
   color: #66707f;
   font-style: italic;
   font-size: 20px;
   text-align: center;
   & a {
       color: #66707f;
       text-decoration: none;
       &:hover {
           color: #f6893d;
       }
   }
}
.required {
   color: red 
}

.lead {
   color: #3c4d6b;
   line-height: 36px;
   font-size: 24px;
}

.title_box{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
.box-size{
min-width: 350px;
min-height: 215px;
}