<%# Power Statement %>
<section>
    <div class="container mb80">
        <div class="row">
            <div class="col-xl-12 text-center power-statement moneyloop-color-gradient">
                Our Mission is to provide a solution 
                that enables insurers to better engage with their customers 
                at the point of claim.
            </div>
        </div>
    </div>
</section>

<%# Who and what are we?%>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-content bg-white">
                    <div class="about-section">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <h2 class="text-center">Who We Are?</h2>
                                <p class="lead mb30 text-center">
                                    MoneyLoop was founded in January 2018, with the sole goal of enabling consumers to manage their unexpected emergency expenses better.
                                </p>
                                <p>
                                    We noticed that more than three out of five Australians do not have access to $3000 in an emergency, and one in five do not have $1000 in savings.<br/>
                                    This eventually makes claiming on their insurance product not only emotionally stressful but also financially.<br/>
                                </p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="mb60">
                                    <h2 class="text-center">What Do We Offer?</h2>
                                    <p class="lead mb30 text-center">
                                        MoneyLoop was founded in January 2018, with the sole goal of enabling consumers to manage their unexpected emergency expenses better.
                                    </p>
                                    <p>
                                        We noticed that more than three out of five Australians do not have access to $3000 in an emergency, and one in five do not have $1000 in savings.<br/>
                                        This eventually makes claiming on their insurance product not only emotionally stressful but also financially.<br/>
                                    </p>
                                </div>
                            </div>
                            <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-12 col-12">
                                <div class="text-center section-space80">
                                    <h2>Our Vision &amp; Mission</h2>
                                    <p>
                                        With our credit decisioning engine we are able to accept any customer you send us. 
                                        We use our score to determine the required discount to service the customer. 
                                        This includes your customers who are eligible for financial hardship.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%# Stats %>
<section class="section-space120 pinside60 moneyloop-bg1">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="text-center">
                    <div class="icon">
                        <h1>150,000+</h1>
                        <div>Customers Empowered</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="text-center">
                    <div class="icon">
                        <h1>$5 billion+</h1>
                        <div>Borrowed</div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="text-center">
                    <div class="icon">
                        <div class="icon icon-1x"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                        <div style="margin-top: 15px;">Customer Rating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%# Why Us? %>
<section class="section-space120">
    <div class="section-title text-center">
        <h1>Why Us?</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="text-center mb30">
                    <h3 class="mb20">Multiple Loan Options</h3>
                    <p> Various versions have evolved over the years,sometimes by accident.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="text-center mb30">
                    <h3 class="mb20">Competitive Rate </h3>
                    <p>Nam enim semex eli aliquet nec lorem ipsum pretiumlacinia eget elit.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                <div class="text-center mb30">
                    <h3 class="mb20">Safe &amp; Secure</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing acinam rutrum sit amet. </p>
                </div>
            </div>
        </div>
    </div>

</section>

<%# Testimonials %>
<%= render "shared/testimonials"%>