<%# Title Card %>
<div class="moneyloop-color-gradient1 title-card">
    <div class="container">
        <div class="row">
            <div class="title col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                Insurance Excess Payments <br/>
                Stress and Interest Free
            </div>
            <div class="subtitle col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                Our Mission is to help people through the often more these times of emergency, <br/>
                with unconditional, stress and interest-free excess.
            </div>
        </div>
    </div>
</div>

<%# About Us %>
<section>
    <div class="container">
        <%# Who are we? %>
        <div class="row box">
            <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
                <h1 class="text-center">Who We Are?</h1>
                <p class="lead mb30 text-center">
                    MoneyLoop was founded in January 2018, with the sole goal of enabling consumers to manage their unexpected emergency expenses better.
                </p>
                <p>
                    We noticed that more than three out of five Australians do not have access to $3000 in an emergency, and one in five do not have $1000 in savings.<br/>
                    This eventually makes claiming on their insurance product not only emotionally stressful but also financially.<br/>
                </p>
            </div>
            <div class="box-img pdt80 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
                <%= image_tag "moneyloop/motif_blue.png" %>
            </div>
        </div>
        <%# What do we offer? %>
        <div class="row box">
            <div class="box-img pdt40 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
                <%= image_tag "moneyloop/icons/fire.svg" %>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
                <h1 class="text-center">What Do We Offer?</h1>
                <p class="lead mb30 text-center">
                    MoneyLoop was founded in January 2018, with the sole goal of enabling consumers to manage their unexpected emergency expenses better.
                </p>
                <p>
                    We noticed that more than three out of five Australians do not have access to $3000 in an emergency, and one in five do not have $1000 in savings.<br/>
                    This eventually makes claiming on their insurance product not only emotionally stressful but also financially.<br/>
                </p>
            </div>
        </div>
        <%# Mission %>
        <div class="row box">
            <div class="col-xl-6 offset-xl-1 col-lg-6 offset-lg-1 col-md-12 col-sm-12 col-12">
                <h1>Our Vision &amp; Mission</h1>
                <p class="lead mb30 text-center">
                    59% of Australians don’t have access to $3000 in an emergency, and 21% do not have $1000 in savings.
                </p>
                <p>
                    This makes claiming not only emotionally stressful but also financially challenging.
                    Our Mission is to help people through the often more these times of emergency, with unconditional, stress and interest-free excess.
                </p>
            </div>
            <div class="box-img pdt20 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
                <%= image_tag "moneyloop/icons/mission.svg" %>
            </div>
        </div>
    </div>
</section>

<%# Numbers Band %>
<section class="pdb60">
    <div class="title">
        MoneyLoop supports the majority of insurance products that have excess payable at claim.
    </div><br/>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="text-center" data-aos="zoom-in">
                
                    <h1>60,000</h1>
                    <p>Loans financed...and counting</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="text-center" data-aos="zoom-in">
                    <h1>150,000+</h1>
                    <p>Customers Empowered</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                <div class="text-center" data-aos="zoom-in">
                    <h1>0</h1>
                    <p>Loans turned away</p>
                </div>
            </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3">
                    <div class="text-center" data-aos="zoom-in">
                            <div class="icon icon-1x"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                            <div style="margin-top: 15px;">Customer Rating</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%# Why Us? %>
<section class="moneyloop-white-bg">
    <div class="title pdt40 black"> Why Us?</div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 offset-xl-2 col-lg-4 offset-lg-2 col-md-12 col-sm-12 col-12">
                <div class="subtitle text-left black">For insurers we:</div>
                <ul>
                    <li>Improve customer experience</li>
                    <li>Decrease customer churn</li>
                    <li>Reduce claim management costs</li>
                    <li>Improve cashflow</li>
                </ul>
            </div>
            <div class="mb40 col-xl-4 offset-xl-1 col-lg-4 offset-lg-1 col-md-12 col-sm-12 col-12">
                <div class="subtitle text-left black">For customers we provide:</div>
                <ul>
                    <li>Support and peace of mind during life’s unexpected moments</li>
                    <li>Interest-free excess payments</li>
                    <li>Reduce claim management costs</li>
                    <li>Flexible excess instalment plans</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%# Testimonials %>
<%= render "shared/testimonials"%>