<%# Title Card %>
<div class="moneyloop-color-gradient title-card">
    <div class="container">
        <div class="row">
            <div class="title mb40 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                Meet the Team
            </div>
        </div>
    </div>
</div>


<section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper-content pinside40">
                <%# Team Member Profiles %>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="team-igm1 mb30"> 
                                <%= link_to image_tag("team1.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive"), "https://www.linkedin.com", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Josh</h3>
                                <small class="designation">Senior Advisor</small> 
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="team-igm1 mb30">
                                <%= link_to image_tag("team2.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive"), "https://www.linkedin.com", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Cary</h3>
                                <small class="designation">Senior Advisor</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                        <div class="team-block mb30">
                            <div class="team-igm1 mb30"> 
                                <%= link_to image_tag("team3.jpg", alt: "Borrow - Loan Company Website Template", class: "img-responsive"), "https://www.linkedin.com", target: :_blank %>
                            </div>
                            <div class="text-center">
                                <h3>Aisha</h3>
                                <small class="designation">Business Manager</small> </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>