<%= render "shared/contact" %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="contact-us mb60">
                    <%# Some Description %>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="mb60 text-center section-title">
                                <h1>We are here to help you</h1>
                                <p class="lead">With our credit decisioning engine we are able to accept any customer you send us. We use our score to determine the required discount to service the customer. This includes your customers who are eligible for financial hardship.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <%# Address %>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="bg-boxshadow pinside60 outline text-center mb30 box-size">
                                <h2 class="capital-title">Branch Office</h2>
                                <p>Level 4, 11 York Street<br/>Sydney NSW.</p>
                            </div>
                        </div>
                        <%# Phone number %>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="bg-boxshadow pinside60 outline text-center mb30 box-size">
                                <h2 class="capital-title">Call us at </h2>
                                <h2>1300 339 993</h2>
                            </div>
                        </div>
                        <%# Email Address %>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="bg-boxshadow pinside60 outline text-center mb30 box-size">
                                <h2 class="capital-title">Email Address</h2>
                                <p>contact@moneyloop.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>