// Styles for :about
.about-section {
}
.counter-section {
}
.why-choose-section {
}
.testimonial-section {
}
.cta-section {
}
.text-big {
     font-size: 20px;
     color: #f51f8a;
     font-weight: 600;
     margin-bottom: 0px;
}