// Styles for :home
//= require owl.carousel
//= require owl.theme
//= require "material/_testimonials"
//= require "material/_faq"
//= require "material/_news"
@import url("https://unpkg.com/aos@next/dist/aos.css");

.home-slider {
    & h1 {
        font-style: italic;
        font-size: 30px;
        color: #ffffff;
    }

    & h3 {
        color: #ffffff;
        font-size: 25px;
        font-weight: 300;
    }

    & .item{
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    & .item-first {
        background-image: image-url('moneyloop/slider/australian-family.jpg');
        background-position: center;
    }
    
    & .item-second {
        background-image: image-url('moneyloop/slider/call-center.jpg');
        background-position: center;
    }
    
    & .item-third {
        background-image: image-url('moneyloop/slider/car.jpg');
        background-position: center;
    }
    & .caption {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        background-color: rgba(20,20,20,0.2);
        height: 100%;
        color: #fff;

        & img {
            float: right;
            width: 150px;
        }
    }
    & .caption-bg1 {
        background-color: rgba(245,140,67, 0.5);
        padding: 30px;
        margin: 0px;
    }
    & .caption-bg2 {
        background-color: rgba(51, 118, 142, 0.5);
        padding: 30px;
        margin: 0px;
    }
}

.home-section3 {
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;

    & .title {
        color: white;
        text-align: center;
    }
}

.partners-slider{
    padding-top: 20px;

    & img {
        position: relative;
        top: 50%;
        margin-top: 40px;
        transform: translateY(-50%);
    }
}