// Styles for :home
//= require owl.carousel
//= require owl.theme
//= require "material/_testimonials"
//= require "material/_faq"
//= require "material/_news"
@import url("https://unpkg.com/aos@next/dist/aos.css");

.home-slider {
    & .item{
        border-radius: 10px;
        background-repeat: no-repeat;
        background-attachment: local;
        background-size: cover;
        height: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    & .item-first {
        background-image: image-url('moneyloop/slider/australian-family.jpg');
        background-position: center;
    }
    
    & .item-second {
        background-image: image-url('moneyloop/slider/call-center.jpg');
        background-position: center;
    }
    
    & .item-third {
        background-image: image-url('moneyloop/slider/car.jpg');
        background-position: center;
    }
    & .caption {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        height: 100%;
        color: #fff;
        & img {
            margin-top: 20px;
            float: right;
            width: 150px;
        }
    }
    & .caption-bg1 {
        background-color: rgba(245,140,67, 0.5);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    & .caption-bg2 {
        background-color: rgba(51, 118, 142, 0.5);
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.partners-slider{
    margin-bottom: -40px; // Offset the slider for when we put in the img's
    & img {
        position: relative;
        top: 50%;
        margin-top: 40px;
        transform: translateY(-50%);
    }
}